.header {
	position: relative;
	&__topline {
		background-color: $gray;
		color: $light;
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		border-bottom: 2px solid transparent;
		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-left {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: calc(100% / 12 * 8 - 10px);
		}
		&-right {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: calc(100% / 12 * 4 - 10px);
			@include r(1200) {
				width: auto;
			}
			@include r(750) {

			}
		}
	}
	&__link {
		display: flex;
		align-items: center;
		color: $light;
		text-decoration: none;
		padding-top: rem(10px);
		padding-bottom: rem(10px);
		margin-right: rem(16px);
		&:hover {
			opacity: 0.7;
		}
		svg {
			display: block;
			margin-right: 10px;
		}
		span {
			font-size: rem(14px);
		}
	}
	&__langs {
		display: flex;
		align-items: center;
		margin-left: 14px;
	}
	&__lang {
		font-size: rem(14px);
		color: $light;
		text-decoration: none;
		&--selected {
			color: $red;
			font-weight: bold;
		}
		&-sep {
			margin-left: rem(8px);
			margin-right: rem(8px);
		}
	}
	&__downline {
		border-bottom: 2px solid transparent;
		&-container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: rem(10px);
			padding-bottom: rem(10px);
		}
	}
	&__logo {
		display: block;
		img {
			display: block;
			width: 140px;
			height: 72px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__menu {
		flex-grow: 1;
		padding-left: rem(45px);
		padding-right: rem(45px);
		display: flex;
		justify-content: space-between;
	}
	&__menu-link {
		font-size: rem(14px);
		text-decoration: none;
		font-weight: 500;
		color: $gray;
		&:hover {
			color: $red;
		}
		&--active {
			color: $red;
		}
	}
	&__btn {
		width: 180px;
		margin-left: rem(20px);
		&--profile {
			background: none;
			border: 1px solid #58595B;
		}
	}
	&__mob-menu {
		display: none;
		@include r(1200) {
			display: flex;
			height: 26px;
			width: 26px;
			flex-direction: column;
			justify-content: center;
			svg {
				display: block;
				height: 22px;
				width: 22px;
			}
		}
	}
}

.body {
	&--light {
		.header {
			&__topline {

			}
			&__downline {
				background-color: #F7F9FA;
			}
			&__menu-link {
				
			}
		}
	}
	&--dark {
		.header {
			&__topline {
				border-color: $light;
				background-color: $black;
			}
			&__downline {
				background-color: $black;
				border-color: $light;
			}
			&__logo {
				background-color: $light;
			}
			&__menu-link {
				color: $light;
			}
			&__mob-menu {
				svg {
					fill: $light;
				}
			}
		}
	}
}

.drop-nav {
	position: absolute;
	top: 100%;
	background-color: $light;
	width: 100%;
	left: 0px;
	right: 0px;
	box-shadow: 20px 50px 50px rgba(29, 85, 103, 0.1);
	max-height: 0px;
	opacity: 0;
	transition: 0.3s all;
	overflow: hidden;
	z-index: 5;
	visibility: hidden;
	&--open {
		max-height: 500px;
		opacity: 1;
		visibility: visible;
	}
	&__container {
		padding-top: rem(55px);
		padding-bottom: rem(55px);
	}
	&__columns {
		display: flex;
	}
	&__column {
		width: calc(100% / 3);
		padding-right: 20px;
	}
	&__link {
		display: flex;
		margin-bottom: 1.2rem;
		align-items: center;
		color: $black;
		text-decoration: none;
		font-weight: normal;
		&:hover {
			opacity: 0.7;
		}
	}
	&__thumb {
		height: rem(24px);
		width: rem(24px);
		display: flex;
		margin-right: rem(30px);
		align-items: center;
		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}
	&__discript {
		font-size: rem(14px);
		margin-bottom: 0.5rem;
		color: #738D9A;
		padding-left: 54px;
	}
}

.body {
	&--light {
		
	}
	&--dark {
		.drop-nav {
			background-color: $black !important;
			border-bottom: 2px solid $light;
		}
	}
}

.accent-line {
	background-color: $red;
	color: $light;
	padding-top: 13px;
	padding-bottom: 13px;
	font-weight: 500;
	font-size: 16px;
	@include r(1200) {

	}
	&__container {
		display: block;
	}
	&__content {
		
	}
}