.link-aside {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px 15px;
    font-size: 14px;
    text-decoration: none;
    color: #738d9a;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    line-height: 22px;
    margin-bottom: 10px;
    background-color: #ffffff;
    &--active {
        background-color: $red;
        color: $light;
        pointer-events: none;
    }
    &:hover {
        opacity: 0.7;
    }
    @include r(1200) {
        display: none;
        visibility: hidden;
    }
}

.body {
	&--light {
		
	}
	&--dark {
		.link-aside {
            border-color: #ffffff;
            background-color: #000000;
            color: #ffffff;
            &--active {
                background-color: $light;
                color: #000000;
            }
        }
	}
}
