.front-events {
	padding-top: rem(100px);
	padding-bottom: rem(100px);
	@include r(1200) {
		padding-top: rem(55px);
		padding-bottom: rem(55px);
	}
	@include r(750) {
		
	}
	// &__title {
	// 	margin-bottom: rem(40px);
	// }
	&__tabs {
		margin-bottom: rem(32px);
	}
	
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.front-events {
	.fc-left {
		display: flex;
		align-items: center;
	}
	.fc-header-toolbar .fc-left h2 {
		font-size: rem(16px);
		line-height: 1.3;
	}
	.fc-button {
		border-radius: 5px;
		background-color: $red;
		border: none;
		font-size: rem(16px);
	}
	.fc-prev-button, .fc-next-button {
		border-radius: 5px;
		background-color: #E04E39 !important;
		border: none;
		font-size: rem(16px);
		display: inline-block;
		transition: 0.3s all;
		.fa {
			font-weight: bold;
		}
	}

	.fc-day-header {
		background-color: $red;
		color: $light;
		text-align: left;
		text-transform: capitalize;
		padding: 10px;
		font-weight: normal;
	}
	.fc-past, .fc-today, .fc-future {
		padding: 10px;
	}
	.fc-day-number {
		font-weight: normal;
	}
	.fc-other-month {
		opacity: 0.6;
		background-color: #F7F9FA;
	}
	.fc-day-grid-event {
		border: none;
		background-color: $red;
		.fc-content {
			background-color: $red;
			font-weight: normal;
			border: none;
		}
	}
	.fc-center, .fc-clear {
		display: none;
	}
	.fc-today-button {
		border-radius: 5px;
		background-color: #E04E39;
		border: none;
		font-size: 1rem;
		color: $light;
		transition: 0.3s all;
		&:disabled {
			opacity: 0.7;
		}
	}
}

.fc-view-container {
	// overflow: hidden;
	border-radius: 5px;
}

.fc-listWeek-view {
	.fc-widget-header {
		padding: rem(22px);
		background-color: $red !important;
		color: $light;
		font-weight: 500;
	}
	.fc-list-item-time {
		padding: rem(22px);
	}
	.fc-list-item-title {
		padding: rem(22px);
		line-height: 1.6;
	}
	.fc-list-heading-main {
		margin-right: 10px;
		&:after {
			content: ",";
		}
	}
	.fc-list-item-marker {
		// @include r(750) {
		// 	display: none;
		// }
	}
}

.body {
	&--light {
		
	}
	&--dark {
		.fc-today {
			background-color: $red !important;
		}
	}
}

