.slider-page {
	margin-bottom: rem(95px);
	&__slide {
		display: flex;
		justify-content: space-between;
		background: #F7F9FA;
		border-radius: 5px;
		overflow: hidden;
	}
	&__ill {
		width: calc(100% / 12 * 5);
		flex-shrink: 0;
		height: 476px;
		background-color: red;
	}
	&__content {
		flex-grow: 1;
		min-width: 0px;
		padding: 50px;
		position: relative;
	}
	&__text {
		margin-bottom: rem(35px);
	}
	&__time {
		color: #D1D9DD;
		font-size: rem(14px);
		margin-right: rem(50px);
	}
	&__control {
		position: absolute;
		display: flex;
		bottom: 0px;
		z-index: 2;
		left: calc(100% / 12 * 5 + 50px);
	}
	&__btn {
		width: 54px;
		height: 91px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		background-color: $light;
		svg {
			height: 1.4rem;
			width: 1.4rem;
			fill: $accent;
		}
		&--prev {
			
		}
		&--next {
			transform: rotate(180deg);
		}
		&--disabled {
			background: none;
			opacity: 0.7;
			pointer-events: none;
			svg {
				fill: $black;
			}
		}
	}
}