.slider-front {
	margin-bottom: rem(95px);
	&__slide {
		display: flex;
		justify-content: space-between;
		background: #F7F9FA;
		border-radius: 5px;
		overflow: hidden;
		// height: auto;
	}
	&__ill {
		width: calc(100% / 12 * 5);
		flex-shrink: 0;
		height: 810px;
		position: relative;
		@include r(1200) {
			display: none;
		}
		@include r(750) {

		}
	}
	&__content {
		flex-grow: 1;
		min-width: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		background-color: $light;
		padding: rem(104px) rem(150px) 0 rem(44px);
		@include r(1200) {
			
		}
		@include r(750) {
			padding-right: rem(70px);
			padding-left: rem(25px);
			padding-top: rem(50px);
		}
	}
	&__top-discript {
		font-size: rem(14px);
		color: #D1D9DD;
		position: relative;
		padding-left: 48px;
		margin-bottom: rem(23px);
		&:before {
			position: absolute;
			left: 0px;
			top: calc(50% - 1px);
			content: '';
			display: block;
			background-color: #D1D9DD;
			height: 1px;
			width: 39px;
		}
	}
	&__text {
		margin-bottom: rem(35px);
		min-width: 0px;
		flex-grow: 1;
	}
	&__toolbar {
		display: flex;
		align-items: center;
		@include r(650) {
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__more {
		width: 228px;
	}
	&__price {
		margin-left: 45px;
		font-weight: normal;
		@include r(650) {
			order: -1;
			margin-left: 0px;
			margin-bottom: 30px;
		}
	}
	&__control {
		position: absolute;
		display: flex;
		bottom: 0px;
		z-index: 2;
		right: 78px;
		@include r(1200) {
			right: 50px;
		}
		@include r(650) {
			left: 50%;
			transform: translateX(-50%);
			justify-content: center;
		}
	}
	&__ill-footer {
		position: absolute;
		padding: 40px;
		bottom: 0px;
		right: 0px;
		background-color: rgba(247, 249, 250, 0.9);
		height: 138px;
		display: flex;
		align-items: center;
		font-size: rem(14px);
	}
	&__ill-card {
		padding-left: 24px;
		padding-right: 24px;
	}
	&__footer {
		height: 138px;
		padding-right: 235px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: rem(14px);
		@include r(1200) {
			margin-top: 20px;
			height: 100px;
		}
		@include r(750) {

		}
		@include r(600) {
			margin-top: 40px;
		}
		&-top {
			margin-bottom: 17px;
			@include r(1200) {
				display: none;
			}
			@include r(750) {

			}
		}
		&-bottom {
			font-weight: normal;
			@include r(1200) {
				display: none;
			}
			@include r(750) {

			}
		}
	}
	&__fraction {
		width: 53px;
		position: absolute;
		z-index: 2;
		height: 138px;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		background-color: #F7F9FA;
		text-align: center;
		display: flex;
		// align-items: center;
		left: auto;
		justify-content: center;
		flex-direction: column;
		font-size: rem(14px);
		padding: 10px;
	}
	&__now {

	}
	&__all {
		color: #D1D9DD;
	}
	&__sep {
		background-color: #D1D9DD;
		width: 100%;
		height: 1px;
		display: block;
		position: relative;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	&__btn {
		width: 78px;
		height: 138px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		background-color: #F7F9FA;
		flex-shrink: 0;
		@include r(1200) {
			height: 100px;
			width: 56px;
		}
		@include r(750) {

		}
		svg {
			height: 1.4rem;
			width: 1.4rem;
			fill: $accent;
		}
		&--prev {

		}
		&--next {
			transform: rotate(180deg);
		}
		&--disabled {
			background: none;
			opacity: 0.7;
			pointer-events: none;
			svg {
				fill: $black;
			}
		}
	}
}

.body {
	&--light {

	}
	&--dark {
		.slider-front {
			&__slide {
				border: 1px solid $light;
			}
			&__content {
				background-color: $black;
			}
			&__ill-footer {
				background-color: $black;
			}
			&__fraction {
				background-color: #d0d0d0;
				color: $black;
			}
			&__sep {
				background-color: $black;
			}
			&__all {
				color: $black;
			}
			&__btn {
				background-color: #d0d0d0;
			}
		}
	}
}

.slider-page {
	margin-bottom: rem(95px);
	&__slide {
		display: flex;
		justify-content: space-between;
		background: #F7F9FA;
		border-radius: 5px;
		overflow: hidden;
	}
	&__ill {
		width: calc(100% / 12 * 5);
		flex-shrink: 0;
		height: 476px;
		@include r(950) {
			display: none;
		}
	}
	&__content {
		flex-grow: 1;
		min-width: 0px;
		padding: 50px;
		position: relative;
		@include r(1200) {
			padding: rem(25px);
			padding-right: rem(55px);
		}
	}
	&__text {
		margin-bottom: rem(35px);
	}
	&__time {
		color: #D1D9DD;
		font-size: rem(14px);
		margin-right: rem(50px);
		@include r(1200) {
			margin-right: 0px;
		}
	}
	&__control {
		position: absolute;
		display: flex;
		bottom: 0px;
		z-index: 2;
		left: calc(100% / 12 * 5 + 50px);
		@include r(950) {
			display: none;
		}
	}
	&__fraction {
		width: 53px;
		position: absolute;
		z-index: 2;
		height: 138px;
		right: 0px;
		top: 50%;
		transform: translateY(-50%);
		background-color: $light;
		text-align: center;
		display: flex;
		// align-items: center;
		left: auto;
		justify-content: center;
		flex-direction: column;
		font-size: rem(14px);
		padding: 10px;
		@include r(950) {
			width: 48px;
		}
	}
	&__now {

	}
	&__all {
		color: #D1D9DD;
	}
	&__sep {
		background-color: #D1D9DD;
		width: 100%;
		height: 1px;
		display: block;
		position: relative;
		margin-top: 8px;
		margin-bottom: 8px;
	}
	&__btn {
		width: 54px;
		height: 91px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		text-decoration: none;
		background-color: $light;
		svg {
			height: 1.4rem;
			width: 1.4rem;
			fill: $accent;
		}
		&--prev {

		}
		&--next {
			transform: rotate(180deg);
		}
		&--disabled {
			background: none;
			opacity: 0.7;
			pointer-events: none;
			svg {
				fill: $black;
			}
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		.slider-page {
			border: 1px solid $light;
			&__slide {
				background-color: $black;
			}
			&__fraction {
				background-color: $black;
				border: 1px solid $light;
			}
			&__btn {
				background-color: $black;
				border: 1px solid $light;
				&--disabled {
					opacity: 0.5;
					svg {
						fill: $accent;
					}
				}
			}
		}
	}
}