.article {
	background-color: $black;
	height: rem(380px);
	color: $light;
	border-radius: 5px;
	overflow: hidden;
	text-decoration: none;
	font-size: rem(14px);
	line-height: rem(20px);
	margin-bottom: 20px;
	background-size: cover;
	position: relative;
	background-position: center;
	&__content {
		display: flex;
		position: absolute;
		opacity: 0px;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		flex-direction: column;
		justify-content: flex-end;
		padding: rem(26px);
		background: linear-gradient(180deg, rgba(23, 61, 69, 0) 25.58%, rgba(23, 61, 69, 0.72) 61.78%);
	}
	&:hover {
		opacity: 0.7;
	}
	&--4 {
		width: calc(100% / 12 * 4 - 16px);
	}
	&--8 {
		width: calc(100% / 12 * 8 - 10px);
	}
	&__control {
		margin-bottom: rem(15px);
		font-weight: 500;
	}
	&__title {
		font-weight: 500;
		font-size: rem(18px);
		line-height: rem(21px);
		margin-bottom: rem(13px);
	}
	&__text {
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;  
		overflow: hidden;
	}
	&__tags {
		position: absolute;
		top: rem(26px);
		left: rem(26px);
		right: rem(26px);
		display: flex;
		justify-content: space-between;
	}
	&__tag {
		background-color: $red;
		height: 36px;
		border-radius: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(14px);
		font-weight: 500;
		padding-left: 20px;
		padding-right: 20px;
		svg {
			width: 20px;
			height: 20px;
		}
		&--hot {
			padding-left: 0px;
			padding-right: 0px;
			width: 36px;
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		.article {
			background: none !important;
			border: 1px solid $light;
			&__content {
				background: none;
			}
		}
	}
}