<!DOCTYPE html>
<html lang="ru">
<head>
	<title>11. Поддержка инноваций</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Поддержка инноваций
						</span>
					</nav>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text">Поддержка инноваций</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>Документы Фонда</span>
						</a>
					</h2>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<article class="title-card" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Об инновационном инжиниринговом центре
								</h3>
								<div class="title-card__text text">
									<p>
										В целях содействия развитию инновационной системы Калининградской области на базе Фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)» создан Инновационный инжиниринговый центр (далее - Центр), объединяющий три основных инновационных направления: 
									</p>
									<ul>
										<li>
											Осуществление деятельности в качестве регионального представительства Федерального государственного бюджетного учреждения "Фонд содействия развитию малых форм предприятий в научно-технической сфере" (далее - Фонд содействия инновациям);
										</li>
										<li>
											Оказание инжиниринговых услуг;
										</li>
										<li>
											Предоставление услуг Центра молодежного инновационного творчества (ЦМИТ).
										</li>
									</ul>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Основные функции Центра:
						</h4>
						<ul>
							<li>
								Оказание информационных и консультационных услуг по реализации научных, научно-технических, инновационных и инженерных проектов Калининградской области, а также проектов, направленных на поддержку инновационной деятельности Калининградской области;
							</li>
							<li>
								Содействие в реализации научных, научно-технических и инновационных программ и проектов Калининградской области, а также направленных на поддержку инновационной деятельности;
							</li>
							<li>
								Предоставление субъектам малого и среднего предпринимательства консультационных услуг по разработке и реализации проектов модернизации, технического перевооружения и (или) создания новых производств;
							</li>
							<li>
								Выявление производственных предприятий из числа субъектов малого и среднего предпринимательства, осуществляющих деятельность на территории Калининградской области и имеющих потенциал к освоению новых видов продукции и внедрению инноваций, и ведения банка данных таких предприятий;
							</li>
							<li>
								Выявление технологических потребностей в рамках инвестиционных проектов Калининградской области и инвестиционных программ предприятий крупного бизнеса Калининградской области с целью формирования для малых и средних компаний региона заказов на оказание инжиниринговых услуг и поставку высокотехнологичных (инновационных) товаров, удовлетворяющих вышеуказанные потребности;
							</li>
							<li>
								Включение предприятий малого и среднего предпринимательства, инжиниринговых центров и научных организаций Калининградской области в кооперационные цепочки, реализующие проекты по удовлетворению технологических задач (потребностей) предприятий крупного бизнеса за счет отечественных технологий и т.д. 
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<article class="ill-card">
						<div class="ill-card__content text">
							<h4>
								Цель центра
							</h4>
							<p>
								Включение субъектов малого и среднего предпринимательства, научных организаций Калининградской области в кооперационные цепочки, реализующие проекты по удовлетворению технологических задач организаций крупного бизнеса за счет отечественных технологий
							</p>
							<a href="" class="btn btn--50">
								<span>
									Подать заявку на услугу
								</span>
							</a>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-11.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Роль Центра
						</h4>
						<p>
							Центр осуществляет взаимодействие с государственными и частными корпорациями, промышленными предприятиями, технологическими компаниями, научными организациями, органами государственной власти в выявлении общих потребностей в рамках инвестиционных проектов и инвестиционных программ организаций крупного бизнеса Калининградской области с целью формирования для субъектов малого и среднего предпринимательства заказов на оказание инжиниринговых услуг и поставку высокотехнологичных (инновационных) товаров, удовлетворяющих вышеуказанные потребности.
						</p>
					</div>
					<article class="ill-card ill-card--invert ill-card--dark">
						<div class="ill-card__content text">
							<h4>
								Целевая аудитория Центра
							</h4>
							<p>
								Целевая аудитория Центра – физические и юридические лица, субъекты малого и среднего предпринимательства Калининградской области, научные и научно-технические организации Калининградской области в установленной сфере деятельности.
							</p>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-7.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Опросные формы на выявление потребностей и мощностей организаций Калининградской области
						</h4>
						<p>
							Одной из функций Центра является выявление технологических потребностей в рамках инвестиционных проектов и программ предприятий крупного бизнеса Калининградской области с целью формирования для представителей малого и среднего предпринимательства региона заказов на оказание инжиниринговых услуг и поставку высокотехнологичных (инновационных) товаров, удовлетворяющих вышеуказанные потребности.
						</p>
						<p>
							
							В этой связи, предлагаем вам, принять участие в специализированном опросе для субъектов малого и среднего предпринимательства Калининградской области, с целью выявления технологических потребностей и потенциальных мощностей, а также выявление производственных предприятий из числа субъектов малого и среднего предпринимательства, осуществляющих деятельность на территории Калининградской области, имеющих потенциал к освоению новых видов продукции и внедрению инноваций. 
						</p>
						<p>
							Опросные формы представлены на официальных источниках в сети Интернет ниже:
						</p>
						<ul>
							<li>
								Сокращенный опрос по технологическим потребностям (для первичного знакомства с потребностью): 
								<a href="">https://forms.gle/zMmKJKdXz4PwRrfC7;</a>
							</li>
							<li>
								Расширенный опрос по технологическим потребностям: 
								<a href="">https://forms.gle/SyMhugMqxEN1StRB7;</a>
							</li>
							<li>
								Опрос по технологическим мощностям вашей организации (потенциальные проекты планируемые или готовые к своей реализации): <a href="https://forms.gle/ai5aTNCpa6qDkkSY6"></a>.
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>
					</div>
				</div>
			</section>
			<section class="section">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
