<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12.1 Нормативные документы</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/12-page.html" class="breadcrumbs__link">
							Предоставление поручительства
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Нормативые документы
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Нормативые документы</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Внутренние документы фонда
						</h3>
					</div>

					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Программа деятельности на 2018 - 2020 годы
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Политика корпоративного управления
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Учетная политика
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Порядок инвестирования
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Учредительные документы
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Устав
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Свидетельство о постановке на налоговый учет
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Свидетельство о государственной регистрации
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области от 23 октября 2017 года № 131 "О внесении изменений в приказ Министерства по промышленной политике, развитию предпринимательства и торговли Кали
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области от 23 октября 2017 года №132 «О внесении изменений в приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калини
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Протокол Совета фонда «Гарантийный фонд Калининградской области» от 18 мая 2018 года № 4/2018 (о назначении Генерального директора фонда "Гарантийный фонд Калининградской области")

									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h3>
							Законодательство
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 12 января 1996 года №7-ФЗ «О некоммерческих организациях»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 24 июля 2007 года №209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Закон Калининградской области от 20 октября 2008 года №278 «О государственной поддержке малого и среднего предпринимательства в Калининградской области»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области от 23 августа 2013 года №614 «О создании фонда «Гарантийный фонд Калининградской области»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства экономического развития Российской Федерации от 28 ноября 2016 года №763 «Об утверждении требований к фондам содействия кредитованию (гарантийным фондам, фондам поручительств) и их деятельности»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Распоряжение Губернатора Калининградской области от 28 мая 2010 г. N 20-р/168-р «Об утверждении перечня общераспространенных «полезных ископаемых по Калининградской области»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>				
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
