<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12.2 Лимиты поручительств</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/12-page.html" class="breadcrumbs__link">
							Предоставление поручительства
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Лимиты поручительств
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Лимиты поручительств</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Лимиты поручительств по состоянию на 10 января 2020 года
						</h3>
					</div>
					<div class="table">
						<table>
							<thead>
								<tr>
									<th>
										Программа деятельности на 2018 - 2020 годы
									</th>
									<th>
										Установленный лимит, руб.
									</th>
									<th>
										Вид обеспечиваемого обязательства
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										ПАО Сбербанк
									</td>
									<td>
										242 166 942,00
									</td>
									<td>
										кредитные договоры, договоры о предоставлении банковской гарантии
									</td>
								</tr>
								<tr>
									<td>
										АО «Россельхозбанк»
									</td>
									<td>
										175 491 686,00
									</td>
									<td>
										кредитные договоры, договоры о предоставлении банковской гарантии
									</td>
								</tr>
								<tr>
									<td>
										
									</td>
									<td>
										<b>1 258 432 262,00 </b>
									</td>
									<td>
										
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Политика управления рисками фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области от 01.04.2015 года № 15 "Об установлении общего лимита поручительств и лимитов поручительств на банки-партнеры фонда "Гарантийный фонд Калининградской области".​
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области от 23.08.2016 года №73 "Об установлении общего лимита поручительств и лимитов поручительств на банки-партнеры фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области от 07.03.2017 года № 30 "Об установлении общего лимита поручительств и лимитов поручительств на банки-партнеры фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №2/2018 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №9/2018 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №12/2018 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №13/2018 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №16/2018 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №1/2019 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №5/2019 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из Протокола №9/2019 заседания Совета фонда "Гарантийный фонд Калининградской области".
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
