<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12.3. Программа предосчтавления поручительства</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/12-page.html" class="breadcrumbs__link">
							Предоставление поручительства
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Программа предоставления поручительств
						</span>
					</nav>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span>Программа предоставления поручительства</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="ui__link-cards">

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Порядок и условия предоставления поручительств фондом "Гарантийный фонд Калининградской области"
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Перечень документов для получения поручительства фонда "Гарантийный фонд Калининградской области" (Приложение №2 к Порядку)
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>
						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Заявка на предоставление поручительства фонда "Гарантийный фонд Калининградской области"
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>
						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Согласие на обработку персональных данных (Приложение №3 к Порядку)
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Типовая форма Договора поручительства фонда "Гарантийный фонд Калининградской области" (Приложение №4 к Порядку)
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Рекомендуемый образец справки о целевом использовании Финансирования (Приложение №5 к Порядку)
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Типовая форма Договора поручительства фонда "Гарантийный фонд Калининградской области" (с оплатой по графику) (Приложение №6 к Порядку)
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

						<a href="" target="_blank" class="link-card link-card--6 link-card--light">
							<div class="link-card__left">
								<p class="link-card__text">
									Опись документов, прилагаемых к заявке на предоставление поручительства фонда "Гарантийный фонд Калининградской области"
								</p>
							</div>
							<div class="link-card__right">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#link-card"></use>
								</svg>
								<span class="link-card__discript">
									Скачать
								</span>
							</div>
						</a>

					</div>
					
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
