<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12. Предоставление поручительства</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Предоставление поручительства
						</span>
					</nav>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text">Предоставление поручительства</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									О Гарантийном Фонде
								</h3>
								<div class="title-card__text text">
									<p>
										Фонд «Гарантийный фонд Калининградской области» («Гарантийный фонд») создан Правительством Калининградской области в лице Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области при поддержке Министерства экономического развития Российской Федерации.
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Цель деятельности Гарантийного фонда
						</h4>
						<p>
							Обеспечение доступа субъектов малого и среднего предпринимательства и организаций инфраструктуры поддержки субъектов малого и среднего предпринимательства к кредитным и иным финансовым ресурсам, развитие системы гарантий и поручительств по обязательствам субъектов малого и среднего предпринимательства и инфраструктуры поддержки субъектов малого и среднего предпринимательства, основанных на кредитных договорах, договорах займа, договорах финансовой аренды (лизинга), договорах о предоставлении банковской гарантии.
						</p>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					Органы управления
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Партнерам
						</h3>
					</div>
					<article class="title-card title-card--light" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h4 class="title-card__title">
									Соглашение о сотрудничестве
								</h4>
								<div class="title-card__text">
									<p>
										В фонде «Гарантийный фонд Калининградской области» отбор финансовых организаций–партнеров проводится на внеконкурсной основе путем подачи заявки в соответствии с условиями Порядка отбора финансовых организаций и заключения соглашений о сотрудничестве по предоставлению поручительств с фондом «Гарантийный фонд Калининградской области».
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<div class="block-text text">
							<h4>
								Отбор проводится
							</h4>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-1"></use>
								</svg>
								<p class="icon-card__text">
									Среди кредитных организаций по программам предоставления поручительств по кредитным договорам и договорам о предоставлении банковской гарантии;
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-2"></use>
								</svg>
								<p class="icon-card__text">
									Среди лизинговых компаний по программам предоставления поручительств по договорам финансовой аренды (лизинга);
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-3"></use>
								</svg>
								<p class="icon-card__text">
									Среди микрофинансовых организаций по программам предоставления поручительств по договорам микрозайма;
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-4"></use>
								</svg>
								<p class="icon-card__text">
									Среди иных финансовых организаций по программам предоставления поручительств по договорам финансирования.
								</p>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Документы
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" class="link-block">
								<div class="link-block__thumb">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Лимиты поручительств
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
							<a href="" class="link-block">
								<div class="link-block__thumb">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Программа предоставления поручительств
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" class="link-block">
								<div class="link-block__thumb">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card-2"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Нормативные документы
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
							<a href="" class="link-block">
								<div class="link-block__thumb">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card-2"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Отчетность
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Конкурсы
						</h3>
					</div>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Извещение
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Конкурсная документация
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="partners">
					<div class="container partners__container">
						<h3 class="h3 h3--center">
							Финансовые организации-партнеры фонда
						</h3>
						<div class="partners__articles">
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/1900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x1600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x900" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/300x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
