<!DOCTYPE html>
<html lang="ru">
<head>
	<title>12. Предоставление поручительства</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Предоставление поручительства
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Предоставление поручительства</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									О Гарантийном Фонде
								</h3>
								<div class="title-card__text text">
									<p>
										Фонд «Гарантийный фонд Калининградской области» («Гарантийный фонд») создан Правительством Калининградской области в лице Министерства по промышленной политике, развитию предпринимательства и торговли Калининградской области при поддержке Министерства экономического развития Российской Федерации.
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Цель деятельности Гарантийного фонда
						</h4>
						<p>
							Обеспечение доступа субъектов малого и среднего предпринимательства и организаций инфраструктуры поддержки субъектов малого и среднего предпринимательства к кредитным и иным финансовым ресурсам, развитие системы гарантий и поручительств по обязательствам субъектов малого и среднего предпринимательства и инфраструктуры поддержки субъектов малого и среднего предпринимательства, основанных на кредитных договорах, договорах займа, договорах финансовой аренды (лизинга), договорах о предоставлении банковской гарантии.
						</p>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>Органы управления</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="factoid-column">
								<h4 class="factoid-column__title factoid-column__title--small">
									Учредитель Гарантийного фонда - Министерство экономического развития, промышленности и торговли  Калининградской области.
								</h4>
								<p class="factoid-column__text">
									Учредитель Гарантийного фонда является высшим органом управления Гарантийного фонда и осуществляет свои права по управлению Гарантийным фондом путем принятия решений.
								</p>
							</article>
							<article class="factoid-column">
								<h4 class="factoid-column__title factoid-column__title--small">
									Исполнительный орган - Генеральный директор Гарантийного фонда Лило Кирилл Валерьевич.
								</h4>
								<p class="factoid-column__text">
									Генеральный директор является единоличным исполнительным органом Гарантийного фонда.
								</p>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Совет фонда
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="block-text text">
											<p>
												Совет фонда - высший коллегиальный орган управления Гарантийного фонда.
											</p>
											<h4>
												Состав совета фонда
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Кусков 
														Дмитрий Александрович
													</h4>
													<p class="factoid-column__text">
														Председатель Совета фонда, министр экономического развития, промышленности и торговли  Калининградской области
													</p>
												</article>
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Абрамова 
														Анастасия Александровна
													</h4>
													<p class="factoid-column__text">
														Заместитель министра экономического развития, промышленности и торговли  Калининградской области
													</p>
												</article>
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Татьянин 
														Илья Владимирович
													</h4>
													<p class="factoid-column__text">
														Начальник департамента развития предпринимательства и торговли Министерства экономического развития, промышленности и торговли  Калининградской области
													</p>
												</article>
												<div class="factoid-column--small factoid-column--clear-small"></div>
												<div class="factoid-column--small factoid-column--clear-small"></div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Попечительский совет Гарантийного фонда
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="block-text text">
											<p>
												Попечительский совет Гарантийного фонда - орган, осуществляющий надзор за деятельностью Гарантийного фонда, в части принятия другими органами Гарантийного фонда решений и обеспечения их исполнения, использования средств Гарантийного фонда, соблюдения Гарантийным фондом законодательства.
											</p>
											<h4>
												Состав попечительского совета
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Гракова 
														Ирина Николаевна
													</h4>
													<p class="factoid-column__text">
														Председатель попечительского совета, заместитель министра экономического развития, промышленности и торговли  Калининградской области
													</p>
												</article>
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Васильев 
														Игорь Константинович
													</h4>
													<p class="factoid-column__text">
														Заместитель председателя попечительского совета, генеральный директор ООО "Инстат", региональный менеджер Государственной корпорации развития ВЭБ.РФ в Калининградской области
													</p>
												</article>
												<article class="factoid-column factoid-column--small">
													<h4 class="factoid-column__title factoid-column__title--small">
														Усенкова 
														Галина Сергеевна
													</h4>
													<p class="factoid-column__text">
														Генеральный директор ЗАО «Аудит-Сервис», член некоммерческого партнерства «Балтийский деловой клуб»
													</p>
												</article>
												<div class="factoid-column--small factoid-column--clear-small"></div>
												<div class="factoid-column--small factoid-column--clear-small"></div>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Субьектам МСП
						</h4>
						<h5>
							Условия предоставления поручительств
						</h5>
					</div>

					<div class="articles">
						<div class="articles__content">
							<article class="text info-block info-block--4">
								<p>
									На получение поручительства Гарантийного фонда могут претендовать <strong>субъекты малого и среднего предпринимательства </strong> Калининградской области, обладающие устойчивым финансовым состоянием и имеющие решение Кредитора о согласии на предоставление Финансирования, но не располагающие достаточным обеспечением.
								</p>
							</article>
							<article class="text info-block info-block--4">
								<p>
									Поручительство Гарантийного фонда предоставляется субъектам малого и среднего предпринимательства, соответствующим <strong>ряду критериев</strong>
								</p>
							</article>
							<article class="text info-block info-block--4">
								<p>
									Величина поручительства, предоставляемого за счет средств Гарантийного фонда, <strong>не может превышать 70%</strong> от суммы основного долга по Финансовому обязательству
								</p>
							</article>
							<article class="text info-block info-block--4">
								<p>
									Оставшаяся часть обеспечения <strong>(не менее 20% от суммы основного долга по Финансовому обязательству)</strong> должна предоставляться самим Заемщиком в виде залога по согласованию с Кредитором.
								</p>
							</article>
							<article class="text info-block info-block--4">
								<p>
									Максимальный объем единовременно выдаваемого Поручительства Гарантийного фонда в отношении одного Заемщика равен <strong>25 000 000,00 рублей</strong>
								</p>
							</article>
							<article class="text info-block info-block--4">
								<p>
									Средства Гарантийного фонда расходуются в случае наступления гарантийного события и направляются Кредитору на возмещение неисполненных обязательств заемщика по Финансовому обязательству.
								</p>
							</article>
						</div>
					</div>

					<p class="accent-text">
						Ответственность Гарантийного фонда является субсидиарной и распространяются только на сумму основного долга по Финансовому обязательству.
					</p>
					<div class="block-text text">
						<h4>
							<strong>Размер вознаграждения</strong> за предоставление поручительства Гарантийного фонда:
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="progress-card">
								<p class="progress-card__title">
									Заемщик – индивидуальный предприниматель из числа инвалидов или юридическое лицо, учредителем которого являются инвалиды
								</p>
								<p class="progress-card__result">
									+0,25% к ставке
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Совместный продукт Фонда, АО «МСП Банк» и АО «Корпорация МСП»
								</p>
								<p class="progress-card__result">
									0,75%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Поручительство по договорам банковской гарантии
								</p>
								<p class="progress-card__result">
									1%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Заемщик – резидент кластеров Калининградской области
								</p>
								<p class="progress-card__result">
									0,5%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Заемщик осуществляет деятельность в соответствии с:

									-  классом 38 ОКВЭД «Сбор, обработка и утилизация отходов; обработка вторичного сырья»;

									- подклассами 10.1, 10.3, 10.7 и 10.8 класса 10 ОКВЭД «Производство пищевых продуктов»
								</p>
								<p class="progress-card__result">
									0,5%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Заемщик осуществляет деятельность в сфере оптовой и (или) розничной торговли, цель кредита - инвестиции
								</p>
								<p class="progress-card__result">
									1%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Заемщик осуществляет деятельность в сфере оптовой и (или) розничной торговли, цель кредита – пополнение оборотных средств
								</p>
								<p class="progress-card__result">
									1,25%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Прочие виды деятельности
								</p>
								<p class="progress-card__result">
									0,75%
								</p>
							</article>
							<article class="progress-card">
								<p class="progress-card__title">
									Наличие обеспечения от 20 до 30% от суммы основного долга
								</p>
								<p class="progress-card__result">
									+0,25% к ставке
								</p>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<div class="info-block info-block--accent hide-bg">
								<div class="block-text text">
									<h4>
										Поручительство <strong>НЕ ПРЕДОСТАВЛЯЕТСЯ</strong> субъекту малого и среднего предпринимательства:
									</h4>
									<ul>
										<li>В обеспечение Финансовых обязательств, не связанных с ведением предпринимательской деятельности; </li>
										<li>Находящемуся в стадии реорганизации, ликвидации или в отношении которого начата процедура несостоятельности (банкротства) в соответствии с законодательством Российской Федерации; </li>
										<li>Не зарегистрированному и не осуществляющему деятельность, в том числе в форме представительств или филиалов, на территории Калининградской области; </li>
										<li>Осуществляющему производство и/или реализацию подакцизных товаров, а также добычу и реализацию полезных ископаемых, за исключением общераспространенных полезных ископаемых; </li>
										<li>Являющемуся кредитной, страховой организацией, инвестиционным фондам, негосударственным пенсионным фондом, профессиональным участником рынка ценных бумаг, ломбардом;</li> 
										<li>Участнику соглашений о разделе продукции; </li>
										<li>Осуществляющему предпринимательскую деятельность в сфере игорного бизнеса.</li>
									</ul>
								</div>
							</div>
							<div class="info-block info-block--warning hide-bg">
								<div class="block-text text">
									<h4>
										В оказании поддержки будет <strong>ОТКАЗАНО</strong> в случае, если:
									</h4>
									<ul>
										<li>
											Не представлены документы в соответствии с Порядком и условиями предоставления поручительств или представлены недостоверные сведения и документы;
										</li>
										<li>
											Не выполнены условия оказания поддержки (полученные кредитные средства, по заключенному с Кредитором договору направленны не по целевому назначению);
										</li>
										<li>
											Ранее в отношении Заемщика было принято решение об оказании аналогичной поддержки и сроки ее оказания не истекли. Аналогичной считается поддержка, когда договор финансирования заключается с одним и тем же субъектом МСП в отношении полностью аналогичного имущества, при этом совпадают цель оказания поддержки и сроки действия такого договора. Договоры финансирования, заключенные в отношении аналогичного, но с иными характеристиками (признаками) имущества, иного имущества, не могут быть признаны аналогичной поддержкой;
										</li>
										<li>
											С момента признания Заемщика допустившим нарушение порядка и условий оказания поддержки, в том числе не обеспечившим целевого использования средств поддержки, прошло менее чем 3 (три) года.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<ol class="icon-list">
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								1
							</div>
							<div class="icon-list__text text">
								<p>
									Заемщик самостоятельно обращается к Кредитору за получением Финансирования.
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								2
							</div>
							<div class="icon-list__text text">
								<p>
									Кредитор самостоятельно, в соответствии с процедурой, установленной своими внутренними нормативными документами, рассматривает заявку Заемщика, анализирует представленные им документы, финансовое состояние Заемщика и принимает решение о возможности финансирования (с определением необходимого обеспечения исполнения Заемщиком обязательств) или об отказе в финансировании Заемщика.

								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								3
							</div>
							<div class="icon-list__text text">
								<p>
									В случае, если предоставляемого Заемщиком и (или) иными лицами обеспечения недостаточно для принятия Кредитором положительного заключения, позволяющего осуществить финансирование Заемщика, Кредитор информирует Заемщика о возможности привлечения Поручительства Гарантийного фонда.
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								4
							</div>
							<div class="icon-list__text text">
								<p>
									При согласии Заемщика привлечь в качестве обеспечения Поручительство Гарантийного фонда, Кредитор направляет в Фонд подписанную Заемщиком и согласованную Кредитором заявку на предоставление поручительства.
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								5
							</div>
							<div class="icon-list__text text">
								<p>
									Срок рассмотрения Заявок при условии полной комплектности документов и времени предоставлении заявки до 11.00 часов составляет: <br><br>

									3 (три) рабочих дня для Заявок, по которым размер поручительства не превышает 5 млн. рублей; 
									5 (пять) рабочих дней для Заявок, по которым размер поручительства составляет от 5 млн. рублей до 25 млн. рублей. 
									В случае поступления Заявок после 11.00 часов при условии полной комплектности документов, срок рассмотрения Заявок начинается со дня, следующего за днем поступления.
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								6
							</div>
							<div class="icon-list__text text">
								<p>
									Заявки, по которым размер поручительства составляет 5 млн. рублей и более, согласовываются с Учредителем Гарантийного фонда.
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								7
							</div>
							<div class="icon-list__text text">
								<p>
									В случае положительного решения о предоставлении поручительства заключается трехсторонний договор поручительства между Кредитором, Заемщиком и Гарантийным фондом.
								</p>
							</div>
						</li>
					</ol>
					<div class="block-text text">
						<a href="" class="btn btn--60">
							<span>
								Подать заявку на услугу
							</span>
						</a>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Партнерам
						</h3>
					</div>
					<article class="title-card title-card--light hide-bg" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h4 class="title-card__title">
									Соглашение о сотрудничестве
								</h4>
								<div class="title-card__text">
									<p>
										В фонде «Гарантийный фонд Калининградской области» отбор финансовых организаций–партнеров проводится на внеконкурсной основе путем подачи заявки в соответствии с условиями Порядка отбора финансовых организаций и заключения соглашений о сотрудничестве по предоставлению поручительств с фондом «Гарантийный фонд Калининградской области».
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Отбор проводится
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-1"></use>
								</svg>
								<p class="icon-card__text">
									Среди кредитных организаций по программам предоставления поручительств по кредитным договорам и договорам о предоставлении банковской гарантии;
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-2"></use>
								</svg>
								<p class="icon-card__text">
									Среди лизинговых компаний по программам предоставления поручительств по договорам финансовой аренды (лизинга);
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-3"></use>
								</svg>
								<p class="icon-card__text">
									Среди микрофинансовых организаций по программам предоставления поручительств по договорам микрозайма;
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-4"></use>
								</svg>
								<p class="icon-card__text">
									Среди иных финансовых организаций по программам предоставления поручительств по договорам финансирования.
								</p>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Документы
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" class="link-block hide-bg">
								<div class="link-block__thumb none-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Лимиты поручительств
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
							<a href="" class="link-block hide-bg">
								<div class="link-block__thumb none-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Программа предоставления поручительств
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" class="link-block hide-bg">
								<div class="link-block__thumb none-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card-2"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Нормативные документы
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
							<a href="" class="link-block hide-bg">
								<div class="link-block__thumb none-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card-2"></use>
									</svg>
								</div>
								<p class="link-block__title">
									Отчетность
								</p>
								<div class="link-block__btn btn btn--60">
									<span>
										Перейти
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Конкурсы
						</h3>
					</div>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<article class="text-card text">
						<h4>
							Квалификационный отбор кредитных организаций для заключения генерального депозитного соглашения с фондом «Гарантийный фонд Калининградской области»
						</h4>
						<p>
							<strong>16 августа 2017 года</strong> объявлен дополнительный квалификационный отбор кредитных организаций для заключения Генерального депозитного соглашения о размещении средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме.
						</p>
						<p>
							Участвовать в конкурсном отборе кредитных организаций на право размещения временно свободных денежных средств фондом «Гарантийный фонд Калининградской области» на банковские депозиты путем проведения конкурентных процедур в электронной форме смогут только те кредитные организации, с которыми заключено Генеральное депозитное соглашение.
						</p>
					</article>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Извещение
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Конкурсная документация
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="partners">
					<div class="container partners__container">
						<div class="block-text text">
							<h3>
								Финансовые организации-партнеры фонда
							</h3>
						</div>
						<div class="partners__articles">
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/1900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x1600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x900" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/300x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>
					</div>
				</div>
			</section>
			<section class="section">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
