<!DOCTYPE html>
<html lang="ru">

<head>
	<title>13. Социальное предпринимательство</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Социальное предпринимательство
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Социальное предпринимательство</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы ЦИСС
							</span>
						</a>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('img/page-13-img.png');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									О Центре
								</h3>
								<div class="title-card__text text">
									<p>
										Центр инноваций в социальной сфере оказывает поддержку социальным
										предпринимателям, а также тем, кто только планирует открытие собственного дела в
										социальной сфере.
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h3>
							Вы - социальный предприниматель, если:
						</h3>
						<div class="text-card text-card--dark">
							<div class="block-text__columns">
								<div class="block-text__column">
									<div class="block-text__arrow">
										Не меньше половины сотрудников:
									</div>
									<div class="block-text__arrow">
										Реализуете товары/работы/услуги которые произвели:
									</div>
									<div class="block-text__arrow">
										Производите товары для:
									</div>
								</div>
								<div class="block-text__column">
									<ul>
										<li>
											Инвалиды и лица
											с ограниченными возможностями здоровья;
										</li>
										<li>
											Одинокие и многодетные родители;
										</li>
										<li>
											Пенсионеры и граждане предпенсионного возраста;
										</li>
										<li>
											Бывшие заключенные с неснятой судимостью;
										</li>
										<li>
											Выпускники детских домов до 23 лет;
										</li>
										<li>
											Беженцы и вынужденные переселенцы;
										</li>
										<li>
											Малоимущие граждане;
										</li>
										<li>
											Лица без определенного места жительства и занятий;
										</li>
										<li>
											Иные граждане, нуждающиеся в социальном обслуживании;
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="text-card text-card--dark">
							<div class="block-text__columns">
								<div class="block-text__column">
									<div class="block-text__arrow">
										Работаете в сфере:
									</div>
								</div>
								<div class="block-text__column">
									<ul>
										<li>
											Поддержки материнства и детства;
										</li>
										<li>
											Образование: частные сады и школы, кружки, доп. образование;
										</li>
										<li>
											Отдыха и оздоровления детей: детские лагеря, санатории, медцентры и т. д.;
										</li>
										<li>
											Социальной адаптации: психолого-педагогическая медицинская и социальная
											помощь уязвимым слоям населения;
										</li>
										<li>
											Культурно-просветительской деятельности: частные музеи, театры, библиотеки,
											творческие мастерские и т. д.;
										</li>
										<li>
											Издания печатной продукции по тематике образования, науки и культуры;
										</li>
										<li>
											Иная деятельность, направленная на решение социальных проблем общества.
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<article class="ill-card ill-card--padding ill-card--dark">
						<div class="ill-card__content text">
							<h4>
								Для того, чтобы официально получить статус «Социальное предприятие» необходимо войти в
								реестр
							</h4>
							<a href="" class="btn btn--50">
								<span>
									Реестр социальных предпринимателей
								</span>
							</a>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-2.svg"
								alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Методические материалы по получению официального статуса СП
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Категория 1
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Категория 2
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Категория 3
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Категория 4
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Приоритетные направления и поддержка
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Профессиональные консультации - консультации от профессиональных консалтинговых
										компаний по актуальным вопросам: начало деятельности, маркетинг, бухгалтерия,
										налоги, отчетность, право, закупки.
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок h4
										</h4>
										<p>
											Центр поддержки предпринимательства обеспечивает предоставление субъектам
											малого и среднего предпринимательства консультативных услуг. Основанием для
											оказания поддержки является устное и/или письменное обращение субъекта
											малого и среднего предпринимательства и физического лица, заинтересованного
											в начале осуществления предпринимательской деятельности, поступившее по
											электронной почте, телефону и (или) способом личного обращения на основании
											запроса заявителя.
										</p>
										<p>
											Организации, оказывающие консалтинговые услуги на безвозмездной основе
											субъектам малого и среднего предпринимательства Калининградской области по
											вопросам маркетингового сопровождения деятельности и бизнес планирования
											субъектов малого и среднего предпринимательства Калининградской области:
										</p>
										<a href="" class="btn btn--50">
											<span>
												Подать заявку на услугу
											</span>
										</a>
									</div>
									<div class="articles">
										<div class="articles__content">
											<article class="adress-card adress-card--light">
												<p class="adress-card__title">
													Наименование
												</p>
												<p class="adress-card__text">
													Фонд «Центр поддержки предпринимательства Гусевского городского
													округа»
												</p>
												<div class="adress-card__hr"></div>
												<p class="adress-card__title">
													Адрес
												</p>
												<p class="adress-card__text">
													238055, Калининградская обл., г. Гусев, ул. Ульяновых, д.10
												</p>
												<p class="adress-card__title">
													Телефон
												</p>
												<p class="adress-card__text">
													<a href="tel:+79005662356">+7-900-566-23-56</a>
												</p>
												<p class="adress-card__title">
													E-mail
												</p>
												<p class="adress-card__text">
													<a href="mailto:baltiyskbusiness@mail.ru">
														baltiyskbusiness@mail.ru
													</a>
												</p>
												<p class="adress-card__title">
													Сайт
												</p>
												<p class="adress-card__text">

												</p>
											</article>
											<article class="adress-card adress-card--light">
												<p class="adress-card__title">
													Наименование
												</p>
												<p class="adress-card__text">
													Индивидуальный Предприниматель Гусева Дарья Александровна
												</p>
												<div class="adress-card__hr"></div>
												<p class="adress-card__title">
													Адрес
												</p>
												<p class="adress-card__text">
													236022, г. Калининград, ул. Уральская, 18, Центр «Мой бизнес»
												</p>
												<p class="adress-card__title">
													Телефон
												</p>
												<p class="adress-card__text">
													<a href="tel:+79062313905">+7 906 231 39 05</a>
												</p>
												<p class="adress-card__title">
													E-mail
												</p>
												<p class="adress-card__text">
													<a href="mailto:d-guseva@mail.ru">
														d-guseva@mail.ru
													</a>
												</p>
												<p class="adress-card__title">
													Сайт
												</p>
												<p class="adress-card__text">

												</p>
											</article>
											<article class="adress-card adress-card--light">
												<p class="adress-card__title">
													Наименование
												</p>
												<p class="adress-card__text">
													Общество с ограниченной ответственностью «ДИП-Бухгалтерия»
												</p>
												<div class="adress-card__hr"></div>
												<p class="adress-card__title">
													Адрес
												</p>
												<p class="adress-card__text">
													236022, г. Калининград, ул. К. Маркса, 8, помещение 1
												</p>
												<p class="adress-card__title">
													Телефон
												</p>
												<p class="adress-card__text">
													<a href="tel:+74012559515">+7(4012)55-95-15</a>
												</p>
												<p class="adress-card__title">
													E-mail
												</p>
												<p class="adress-card__text">
													<a href="mailto:buhgalter@dip39.ru">
														buhgalter@dip39.ru
													</a>
												</p>
												<p class="adress-card__title">
													Сайт
												</p>
												<p class="adress-card__text">
													<a href="www.dip39.ru">
														www.dip39.ru
													</a>
												</p>
											</article>
											<div class="adress-card adress-card--clear"></div>
											<div class="adress-card adress-card--clear"></div>
										</div>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Информационная поддержка – реклама, продвижение в интернете и социальных сетях
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок h4
										</h4>
										<p>
											Текст
										</p>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Образовательные мероприятия – круглые столы, тренинги, мастер-классы, семинары,
										повышение квалификации
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок h4
										</h4>
										<p>
											Текст
										</p>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Масштабирование и привлечение инвестиций - разработка бизнес-плана,
										маркетинговой стратегии, франшизы, брендирование
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок h4
										</h4>
										<p>
											Текст
										</p>
									</div>
								</div>
							</article>
						</div>
					</div>
					<article class="contest-block" style="background-image: url('img/contest-bg.svg');">
						<div class="contest-block__thumb">
							<img src="img/contest-ill.svg" alt="Иллюстрация">
						</div>
						<div class="contest-block__content">
							<p class="contest-block__discript">
								Конкурс:
							</p>
							<h4 class="contest-block__title">
								«Лучший социальный проект года»
							</h4>
							<a href="" class="btn btn--50 btn--light">
								<span>
									Перейти на сайт
								</span>
							</a>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Получатели услуг
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card drop-card--dark">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Cоциальные предприниматели, состоящие в реестре
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок
										</h4>
										<p>
											Центр поддержки предпринимательства обеспечивает предоставление субъектам
											малого и среднего предпринимательства консультативных услуг. Основанием для
											оказания поддержки является устное и/или письменное обращение субъекта
											малого и среднего предпринимательства и физического лица, заинтересованного
											в начале осуществления предпринимательской деятельности, поступившее по
											электронной почте, телефону и (или) способом личного обращения на основании
											запроса заявителя.
										</p>
										<p>
											Организации, оказывающие консалтинговые услуги на безвозмездной основе
											субъектам малого и среднего предпринимательства Калининградской области по
											вопросам маркетингового сопровождения деятельности и бизнес планирования
											субъектов малого и среднего предпринимательства Калининградской области:
										</p>
										<a href="" class="btn btn--50">
											<span>
												Подать заявку на услугу
											</span>
										</a>
									</div>
								</div>
							</article>
							<article class="drop-card drop-card--dark">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Cоциальные предприниматели, состоящие в реестре
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content text">
										<h4>
											Заголовок
										</h4>
										<p>
											Текст
										</p>
										<a href="" class="btn btn--50">
											<span>
												Подать заявку на услугу
											</span>
										</a>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Услуги ЦИСС не могут оказываться СМСП:
						</h3>
						<ul>
							<li>
								Являющимся кредитными организациями, страховыми организациями (за исключением
								потребительских кооперативов), инвестиционными фондами, негосударственными пенсионными
								фондами, профессиональными участниками рынка ценных бумаг, ломбардами;
							</li>
							<li>
								Являющимся участниками соглашений о разделе продукции;
							</li>
							<li>
								Осуществляющим предпринимательскую деятельность в сфере игорного бизнеса;
							</li>
							<li>
								Осуществляющим производство и (или) реализацию подакцизных товаров, добычу и (или)
								реализацию полезных ископаемых, за исключением общераспространенных полезных ископаемых;
							</li>
							<li>
								Являющимся в порядке, установленном законодательством Российской Федерации о валютном
								регулировании и валютном контроле, нерезидентами Российской Федерации, за исключением
								случаев, предусмотренных международными договорами Российской Федерации.
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900"
									alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900"
									alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>
					</div>
				</div>
			</section>
			<section class="section" >
				<div class="container">
					<div class="block-map" style="background-image: url('img/map-front.svg');">
						<div class="block-map__section">
							<div class="block-map__wrap">
								<img src="img/mb-logo-link.png" alt="Логотип Мой Бизнес" class="block-map__logo">
								<div class="block-map__content">
									<h2 class="block-map__h2">
										Мой бизнес -
									</h2>
									<p class="block-map__discription">
										государственная <br>
										цифровая платформа
									</p>
									<p class="block-map__discription">
										<b>
											поддержки предпринимательства
										</b>
									</p>
									<a href="https://msp.economy.gov.ru/" target="_blank" rel="nofollow" class="btn btn--60 block-map__btn">
										<span>Меры поддержки</span>
										<svg class="icon-svg none-image">
											<use xlink:href="img/sprites/sprite.svg#icon-map-link"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>