<!DOCTYPE html>
<html lang="ru">
<head>
	<title>14. Сельское хозяйство</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Сельское хозяйство
						</span>
					</nav>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text">Сельское хозяйство</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Центр компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области
								</h3>
								<div class="title-card__text text">
									<p>
										Центр компетенции в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области, созданный в рамках реализации регионального проекта «создание системы поддержки фермеров и развитие сельской кооперации» осуществляет свою деятельность с 2019 года на базе фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)».
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Руководитель Центра – Бабасюк Сергей Анатольевич
						</h4>
						<p>
							Центр компетенций осуществляет свою деятельность во взаимодействии с Министерством сельского хозяйства Калининградской области, АО «Федеральная корпорация по развитию малого и среднего предпринимательства» («Корпорация МСП») и оказывает информационно-консультационную и методологическую помощь:
						</p>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-5"></use>
								</svg>
								<p class="icon-card__text">
									Фермерам
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-6"></use>
								</svg>
								<p class="icon-card__text">
									Гражданам, ведущим личное подсобное хозяйство
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-7"></use>
								</svg>
								<p class="icon-card__text">
									Сельскохозяйственным потребительским кооперативам
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-card-8"></use>
								</svg>
								<p class="icon-card__text">
									Иным субъектам малого и среднего предпринимательства в сфере сельского хозяйства
								</p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Задачи деятельности Центра компетенций:
						</h4>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Специалисты Центра компетенций оказывают консультационные услуги по следующим направлениям:
						</h4>
					</div>
					<div class="articles">
						КАКИЕ-ТО СЕРЫЕ КАРТОЧКИ
					</div>
					<div class="block-text text">
						<p>
							Также специалисты Центра компетенций окажут помощь в подготовке учредительных документов по созданию сельскохозяйственного кооператива, фермерского хозяйства и помогут Вам воспользоваться сервисами портала Бизнес-навигатор МСП.
						</p>
					</div>
					<article class="drop-card drop-card--accent">
						<div class="drop-card__header" tabindex="0">
							<p class="drop-card__title">
								Нормативные документы
							</p>
							<svg class="icon-svg drop-card__icon">
								<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
							</svg>
						</div>
						<div class="drop-card__main">
							<div class="drop-card__content ">
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Программа деятельности центра компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области на 2019-2024 годы
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Стандарт деятельности центров компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров, утвержденный проектным комитетом по национальному проекту "Малый бизнес и поддержка индивидуальной предпринимательской инициативы" (протокол от "21" марта 2019 г. № 1)
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													РЕГЛАМЕНТ оказания поддержки субъектам малого и среднего предпринимательства по направлениям деятельности Центра компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области Фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная организация)»
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="drop-card">
						<div class="drop-card__header" tabindex="0">
							<p class="drop-card__title">
								Меры поддержки
							</p>
							<svg class="icon-svg drop-card__icon">
								<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
							</svg>
						</div>
						<div class="drop-card__main">
							<div class="drop-card__content">
								<div class="block-text text">
									<h4>
										Региональный проект "Создания системы поддержки фермеров и развитие сельскохозяйственной кооперации"
									</h4>
									<h5>
										Программа государственной поддержки малых форм хозяйствования
									</h5>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Постановление Правительства Калининградской области от 01.05.2019 № 327 «Об оказании поддержки сельскохозяйственным товаропроизводителям в рамках реализации регионального проекта «Создание системы поддержки фермеров и развитие сельской кооперации»
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>



								<div class="block-text text">
									<h4>
										Грантовая поддержка "Агростартап"
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Алгоритм предоставления грантов «Агростартап» в форме субсидий на реализацию проектов создания и развития крестьянских (фермерских) хозяйств.
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>

								<div class="block-text text">
									<h4>
										Поддержка сельскохозяйственных потребительских кооперативов
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Алгоритм участия в конкурсном отборе для сельскохозяйственных потребительских кооперативов
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>

								<div class="block-text text">
									<h4>
										Развитие семейных животноводческих ферм
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Алгоритм участия в конкурсном отборе для семейных животноводческих ферм
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>

								<div class="block-text text">
									<h4>
										Поддержка начинающих фермеров
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Алгоритм участия в конкурсном отборе для начинающих фермеров
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>

								<div class="block-text text">
									<h4>
										Поддержка производства и переработки сельскохозяйственной продукции в малых формах хозяйствования
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12">
											<div class="link-card__left">
												<p class="link-card__text">
													Алгоритм участия в конкурсном отборе для приоритетных направлени
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

					</div>
				</div>
			</section>
			<section class="section section--dark">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
