<!DOCTYPE html>
<html lang="ru">
<head>
	<title>14. Сельское хозяйство</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Сельское хозяйство
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Сельское хозяйство</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Центр компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области
								</h3>
								<div class="title-card__text text">
									<p>
										Центр компетенции в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области, созданный в рамках реализации регионального проекта «создание системы поддержки фермеров и развитие сельской кооперации» осуществляет свою деятельность с 2019 года на базе фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)».
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Руководитель Центра – Бабасюк Сергей Анатольевич
						</h4>
						<p>
							Центр компетенций осуществляет свою деятельность во взаимодействии с Министерством сельского хозяйства Калининградской области, АО «Федеральная корпорация по развитию малого и среднего предпринимательства» («Корпорация МСП») и оказывает информационно-консультационную и методологическую помощь:
						</p>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-5"></use>
								</svg>
								<p class="icon-card__text">
									Фермерам
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-6"></use>
								</svg>
								<p class="icon-card__text">
									Гражданам, ведущим личное подсобное хозяйство
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-7"></use>
								</svg>
								<p class="icon-card__text">
									Сельскохозяйственным потребительским кооперативам
								</p>
							</article>
							<article class="icon-card">
								<svg class="icon-svg icon-card__icon none-image">
									<use xlink:href="img/sprites/sprite.svg#icon-card-8"></use>
								</svg>
								<p class="icon-card__text">
									Иным субъектам малого и среднего предпринимательства в сфере сельского хозяйства
								</p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Задачи деятельности Центра компетенций:
						</h4>
					</div>
					<ol class="icon-list">
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								1
							</div>
							<div class="icon-list__text text">
								<p>
									Участие в реализации государственной программы Калининградской области «Развитие сельского хозяйства» и при необходимости иных программ, направленных на развитие агропромышленного комплекса (далее – АПК), развитие и поддержку малого и среднего предпринимательства в АПК, в том числе сельскохозяйственной кооперации на территории Калининградской области;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								2
							</div>
							<div class="icon-list__text text">
								<p>
									Содействие созданию на территории Калининградской области субъектов МСП в сфере АПК, в том числе СХК и К(Ф)Х;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								3
							</div>
							<div class="icon-list__text text">
								<p>
									Предоставление услуг субъектам МСП в сфере АПК, в том числе СХК и К(Ф)Х, в целях повышения эффективности их деятельности;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								4
							</div>
							<div class="icon-list__text text">
								<p>
									Организация систематической работы по повышению информированности граждан, ведущих ЛПХ, субъектов МСП в сфере АПК о преимуществах объединения в СХК, консультированию населения по вопросам создания и развития предпринимательской деятельности в области сельского хозяйства, в том числе проведение разъяснительных мероприятий, внедрение типовой документации;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								5
							</div>
							<div class="icon-list__text text">
								<p>
									Оказание информационных, консультационных, методических услуг различного характера субъектам МСП, в том числе СХК и К(Ф)Х, а также ЛПХ;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								6
							</div>
							<div class="icon-list__text text">
								<p>
									Организация сопровождения деятельности микро-, малых и средних сельскохозяйственных товаропроизводителей (ветеринарное, зоотехническое, агрономическое, технологическое, бухгалтерское, юридическое, маркетинговое обслуживание и др.) из числа субъектов МСП в сфере АПК;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								7
							</div>
							<div class="icon-list__text text">
								<p>
									Анализ и мониторинг деятельности субъектов МСП, в том числе СХК и К(Ф)Х, зарегистрированных на территории Калининградской области
								</p>
							</div>
						</li>
					</ol>
					<div class="block-text text">
						<a href="" class="btn btn--60">
							<span>
								Подать заявку на услугу
							</span>
						</a>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Специалисты Центра компетенций оказывают консультационные услуги по следующим направлениям:
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="text info-block info-block--6">
								<p>
									Кредитно-финансовая поддержка (АО «Корпорация МСП», АО «МСП Банк», АО «Россельхозбанк» и другие коммерческие банки, АО «Росагролизинг», Гарантийный фонд и др.);
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Помощь в формировании комплектов документов в целях получения грантовой поддержки, субсидий в рамках государственной программы Калининградской области «Развитие сельского хозяйства»;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Сопровождение проектов, реализуемых субъектами малого и среднего предпринимательства, получателей государственной поддержки;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Помощь в регистрации бизнеса любой организационно-правовой формы;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Консультации по вопросам ведения растениеводства, животноводства, рыбоводства и других направлений;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Бухгалтерское, налоговое сопровождение;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Подготовка бизнес-планов, текнико-экономических обоснований, проведение маркетинговых исследований и др.;
								</p>
							</article>
							<article class="text info-block info-block--6">
								<p>
									Правовые консультации.
								</p>
							</article>
						</div>
					</div>
					<div class="block-text text">
						<p>
							Также специалисты Центра компетенций окажут помощь в подготовке учредительных документов по созданию сельскохозяйственного кооператива, фермерского хозяйства и помогут Вам воспользоваться сервисами портала Бизнес-навигатор МСП.
						</p>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card drop-card--accent">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Нормативные документы
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content ">
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Программа деятельности центра компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области на 2019-2024 годы
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Стандарт деятельности центров компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров, утвержденный проектным комитетом по национальному проекту "Малый бизнес и поддержка индивидуальной предпринимательской инициативы" (протокол от "21" марта 2019 г. № 1)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															РЕГЛАМЕНТ оказания поддержки субъектам малого и среднего предпринимательства по направлениям деятельности Центра компетенций в сфере сельскохозяйственной кооперации и поддержки фермеров Калининградской области Фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная организация)»
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Меры поддержки
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="block-text text">
											<h4>
												Региональный проект "Создания системы поддержки фермеров и развитие сельскохозяйственной кооперации"
											</h4>
											<h5>
												Программа государственной поддержки малых форм хозяйствования
											</h5>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Постановление Правительства Калининградской области от 01.05.2019 № 327 «Об оказании поддержки сельскохозяйственным товаропроизводителям в рамках реализации регионального проекта «Создание системы поддержки фермеров и развитие сельской кооперации»
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>

										<div class="block-text text">
											<h4>
												Грантовая поддержка "Агростартап"
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Алгоритм предоставления грантов «Агростартап» в форме субсидий на реализацию проектов создания и развития крестьянских (фермерских) хозяйств.
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>

										<div class="block-text text">
											<h4>
												Поддержка сельскохозяйственных потребительских кооперативов
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Алгоритм участия в конкурсном отборе для сельскохозяйственных потребительских кооперативов
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>

										<div class="block-text text">
											<h4>
												Развитие семейных животноводческих ферм
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Алгоритм участия в конкурсном отборе для семейных животноводческих ферм
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>

										<div class="block-text text">
											<h4>
												Поддержка начинающих фермеров
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Алгоритм участия в конкурсном отборе для начинающих фермеров
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>

										<div class="block-text text">
											<h4>
												Поддержка производства и переработки сельскохозяйственной продукции в малых формах хозяйствования
											</h4>
										</div>
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--12">
													<div class="link-card__left">
														<p class="link-card__text">
															Алгоритм участия в конкурсном отборе для приоритетных направлени
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Мероприятия по выполнению задач
							Центра компетенций
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Мероприятия, проводимые в 2019 году, в целях формирования направлений работы Центра
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="block-text text">
											<p>
												В целях развития на территории Калининградской области субъектов малого и среднего предпринимательства в АПК, в том числе СХК и К(Ф)Х, а также создания системы поддержки фермеров и сельской кооперации, Центром планируется до конца 2019 года провести комплексный анализ развития субъектов МСП в сельском хозяйстве, выявить основные проблемы сельскохозяйственных товаропроизводителей-субъектов МСП и МФХ, в том числе решаемых благодаря созданию системы сельскохозяйственной потребительской кооперации на территории Калининградской области, в целях определения приоритетны направлений работы Центра компетенций. 
											</p>
											<h4>
												Аналитические мероприятия, проводимые с целью определения приоритетных направлений работы Центра компетенций
											</h4>
										</div>
										<div class="table">
											<table>
												<thead>
													<tr>
														<th>
															№
														</th>
														<th>
															Наименование мероприятий
														</th>
														<th>
															Источники информации
														</th>
														<th>
															Применяемые методы
														</th>
														<th>
															Ожидаемые 
															результаты
														</th>
														<th>
															Оформление 
															результатов
														</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															1
														</td>
														<td>
															Комплексный анализ развития субъектов МСП и ЛПХ в сельском хозяйстве
														</td>
														<td>
															данные Управления федеральной службы государственной статистики, Министерства сельского хозяйства Калининградской области, администраций муниципальных образований Калининградской области, ревизионного союза сельскохозяйственных кооперативов
														</td>
														<td>
															Эмпирические, статистические, математического моделирования, монографические
														</td>
														<td>
															Объективная информация о сложившейся ситуации в сфере развития субъектов МСП и ЛПХ на территории Калининградской области
														</td>
														<td>
															Аналитический доклад «О развитии субъектов МСП и ЛПХ в сельском хозяйстве»
														</td>
													</tr>
													<tr>
														<td>
															2
														</td>
														<td>
															Оценка проблем сельскохозяйственных товаропроизводителей – субъектов МСП и ЛПХ по итогам проведенного анализа
														</td>
														<td>
															данные Управления федеральной службы государственной статистики, Министерства сельского хозяйства Калининградской области, администраций муниципальных образований Калининградской области, ревизионного союза сельскохозяйственных кооперативов
														</td>
														<td>
															Эмпирические, статистические, математического моделирования, монографические
														</td>
														<td>
															Объективная информация о проблемах, сдерживающих развитие сельскохозяйственных товаропроизводителей – субъектов МСП и ЛПХ
														</td>
														<td>
															Аналитический доклад «Проблемы развития субъектов МСП и ЛПХ на территории Калининградской области и возможности их решения, в том числе за счет развития сельскохозяйственной потребительской кооперации»
														</td>
													</tr>
													<tr>
														<td>
															3
														</td>
														<td>
															Формирование перечня мероприятий Центра компетенций в целях решения выявленных проблем сельскохозяйственных товаропроизводителей – субъектов МСП и ЛПХ
														</td>
														<td>
															Данные анализа развития субъектов МСП и ЛПХ в сельском хозяйстве, оценки проблем сельскохозяйственных товаропроизводителей – субъектов МСП и ЛПХ
														</td>
														<td>
															Эмпирические, монографические
														</td>
														<td>
															Перечень мероприятий Центра компетенций
														</td>
														<td>
															Приложение к программе Центра компетенций
														</td>
													</tr>
												</tbody>
											</table>
											<div class="block-text text">
												<h6>
													Выявление проблем и определение способов их решения проводится ответственными специалистами Центра и включает в себя следующие мероприятия:
												</h6>
												<ul>
													<li>
														Выявление финансовых, информационных барьеров, препятствующих созданию и организации деятельности субъектов МСП и СХК;
													</li>
													<li>
														Формирование предложений по изменению нормативно-правовой базы, направленных на развитие АПК, поддержку малого и среднего предпринимательства в АПК, СХК;
													</li>
													<li>
														Формирование предложений для профильной рабочей подгруппы рабочей группы Государственного Совета Российской Федерации;
													</li>
													<li>

													</li>
													<li>
														Формирования предложений по совершенствованию существующих мер поддержки субъектов МСП в АПК;
													</li>
													<li>
														Проведение SWOT и PESTEL анализа в рамка своей компетенции;
													</li>
												</ul>
												<h6>
													Для выявления финансовых, информационных барьеров необходимо:
												</h6>
												<ol>
													<li>
														<span>
															Сформировать первичный список барьеров, на основе опроса субъектов МСП;
														</span>
													</li>
													<li>
														<span>
															Сформировать Предложения по изменению нормативно-правовой базы;
														</span>
													</li>
													<li>
														<span>
															Подготовить предложения для профильной рабочей подгруппы рабочей группы Государственного Совета Российской Федерации (список для дополнения);
														</span>
													</li>
													<li>
														<span>
															Подготовить предложения по модернизации мер поддержки;
														</span>
													</li>
													<li>
														<span>
															В работе по выявлению проблем и определения способов их решения.
														</span>
													</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</article>
							<article class="drop-card">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										Мероприятия, проводимые на постоянной основе
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="block-text text">
											<p>
												какой-то текст
											</p>
										</div>

									</div>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Реестр кооперативов Калининградской области
						</h3>
					</div>
					<div class="table">
						<table>
							<thead>
								<tr>
									<th>
										
										№ п/п
									</th>
									<th>
										Наименование / ФИО
									</th>
									<th>
										Основной вид деятельности
									</th>
									<th>
										Район
									</th>
									<th>
										Населенный пункт
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>ДАЧНЫЙ ПОТРЕБИТЕЛЬСКИЙ КООПЕРАТИВ "МЕДВЕДЕВО НОВОЕ"</td>
									<td>01.1 Выращивание однолетних культур</td>
									<td>ЗЕЛЕНОГРАДСКИЙ РАЙОН</td>
									<td>ПОСЕЛОК МЕДВЕДЕВО</td>
								</tr>
								<tr>
									<td>2</td>
									<td>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ " МОЛОЧНЫЙ КООПЕРАТИВ "</td>
									<td>01.61 Предоставление услуг в области растениеводства</td>
									<td>ЧЕРНЯХОВСКИЙ РАЙОН</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<div class="table__discript text">
							<p>
								*Дальше идет огромная таблица, которая заполняется из админки
							</p>
						</div>
					</div>
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

					</div>
				</div>
			</section>
			<section class="section section--dark">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
