<!DOCTYPE html>
<html lang="ru">
<head>
	<title>15. Программа Восток</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							О программе "Восток"
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Программа "Восток"</span>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('img/15-vostok-bg.jpg');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<div class="title-card__text">
									<div class="columns">
										<div class="columns__col columns__col--6">
											<div class="text-discription">
												<p class="text-discription__discript">
													Вид поддержки
												</p>
												<p class="text-discription__text">
													Целевой заем
												</p>
											</div>
										</div>
										<div class="columns__col columns__col--6">
											<div class="text-discription">
												<p class="text-discription__discript">
													Валюта займа
												</p>
												<p class="text-discription__text text-discription__text--red">
													Рубли РФ
												</p>
											</div>
										</div>
										<div class="columns__col columns__col--12">
											<div class="text-discription">
												<p class="text-discription__discript">
													Отсрочка погашения основного долга
												</p>
												<p class="text-discription__text">
													До 36 месяцев с даты предоставления займа
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h4>
							Основные условия
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-1"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Цель займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												Инвестиции
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-2"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Срок займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												Не более 7 лет (не более 10 лет для с/х)
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-3"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Процентная ставка
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											1%
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<articles class="item-progress">
								<p class="item-progress__title">
									Максимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										5 000 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:75%;"></div>
									</div>
								</div>
							</articles>
							<articles class="item-progress">
								<p class="item-progress__title">
									Минимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										1 000 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:20%;"></div>
									</div>
								</div>
							</articles>
						</div>
					</div>
					<div class="block-text text">
						<h4>
							Порядок погашения
						</h4>
						<p>
							Проценты уплачиваются ежеквартально, основной долг уплачивается ежеквартально равными платежами согласно графика
						</p>
						<div class="hr"></div>
						<h4>
							Требование к заемщику
						</h4>
						<ul>
							<li>Место регистрации и место ведения бизнеса – на территории 11 муниципальных образований, расположенных в центральной и восточной частях Калининградской области *</li>
							<li>Отсутствие задолженности перед бюджетом и внебюджетными фондами</li>
							<li>Отсутствие процедуры банкротства или ликвидации</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Категории заемщиков, которым не оказывается поддержка
						</h4>
						<p>
							<strong>Поддержка не может оказываться в отношении заемщиков:</strong>
						</p>
						<ul>
							<li>
								Являющихся кредитными организациями, страховыми организациями (за исключением потребительских кооперативов), инвестиционными фондами, негосударственными пенсионными фондами, профессиональными участниками рынка ценных бумаг, ломбардами;
							</li>
							<li>
								Являющихся участниками соглашений о разделе продукции;
							</li>
							<li>
								Осуществляющих предпринимательскую деятельность в сфере игорного бизнеса;
							</li>
							<li>
								Являющихся нерезидентами Российской Федерации;
							</li>
							<li>
								Осуществляющим добычу и (или) реализацию полезных ископаемых, за исключением общераспространенных полезных ископаемых.
							</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Дополнительные условия получения займа
						</h4>
						<ul>
							<li>
								Наличие обязательств по софинансированию проекта со стороны Заемщика в объеме не менее 20 процентов общего бюджета проекта.
							</li>
							<li>
								Контроль целевого использования займа.
							</li>
							<li>
								Основным видом деятельности Заемщика не является оптовая и (или) розничная торговля.
							</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Обеспечение
						</h4>
						<ul>
							<li>
								Поручительство – конечного(ых) бенефициара(ов), учредителей (доля участия более 25%), залогодателей (если доля в структуре залога 50% и более)
							</li>
							<li>
								Залог предоставляется в объёме не менее суммы займа и процентов, подлежащих начислению за весь срок пользования.
							</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Виды обеспечения
						</h4>
						<ul>
							<li>
								Гарантии и поручительства АО «Федеральная корпорация по развитию малого и среднего предпринимательства»
							</li>
							<li>
								Банковские гарантии
							</li>
							<li>
								Движимые и недвижимые имущественные активы
							</li>
							<li>
								Приобретаемое имущество, оборудование
							</li>
						</ul>
						<div class="hr"></div>
						<h4>
							Оценка залога
						</h4>
						<p>
							В аккредитованных Фондом оценочных компаниях, срок давности оценки – не более 6 месяцев до даты подачи заявки на получение займа
						</p>
						<div class="hr"></div>
						<p>
							* - Гвардейский городской округ, Гусевский городской округ, Неманский городской округ, Краснознаменский городской округ, Нестеровский район, Озерский городской округ, Славский городской округ, Советский городской округ, Полесский городской округ, Правдинский городской округ, Черняховский городской округ.
						</p>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Основные документы
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Выписка из протокола заседания экспертной группы Восток
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Извещение о приеме заявок
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Конкурсная документация по проведению открытого конкурса
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Форма отчета о движении денежных средств
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Заявка на предоставление льготного займа
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Пояснительная записка
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень рекомендуемых оценочных компаний
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Договор целевого займа шаблон
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие БКИ физ лицо
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие БКИ юр лицо
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие на обработку персональных данных (шаблон)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
