<!DOCTYPE html>
<html lang="ru">
<head>
	<title>15. Программа Восток</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							О программе "Восток"
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Программа "Восток"</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							О программе “Восток”
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Извещение о приеме заявок 
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Конкурсная документация по проведению открытого конкурса на предоставление льготных займов
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 1 Перечень документов для участия в конкурсе
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 2 Заявка на предоставление льготного займа
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 3 Пояснительная записка
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 4 Требования по составлению бизнес-плана и отчета о движении денежных средств
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Форма отчета о движении денежных средств
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Виды принимаемого  обеспечения и дисконты
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень рекомендуемых оценочных компаний
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие на обработку персональных данных, БКИ (шаблон)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Согласие БКИ юр лицо (шаблон)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Основные условия льготных займов
						</h3>
					</div>
					<div class="table">
						<table>
							<thead>
								<tr>
									<th>
										Вид поддержки
									</th>
									<th>
										Целевой заем
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Валюта займа
									</td>
									<td>
										Рубли РФ
									</td>
								</tr>
								<tr>
									<td>
										Валюта займа
									</td>
									<td>
										Пополнение оборотных средств
									</td>
								</tr>
								<tr>
									<td>
										Сумма займа
									</td>
									<td>
										От 2 до 10 млн рублей (до 20 млн. рублей для с/х)
									</td>
								</tr>
								<tr>
									<td>
										Срок займа
									</td>
									<td>
										Не более 3 лет
									</td>
								</tr>
								<tr>
									<td>
										Процентная ставка
									</td>
									<td>
										5
									</td>
								</tr>
								<tr>
									<td>
										Порядок погашения
									</td>
									<td>
										Проценты уплачиваются ежеквартально, основной долг уплачивается ежеквартально равными платежами согласно графика
									</td>
								</tr>
								<tr>
									<td>
										Требование к заемщику
									</td>
									<td>
										<ol>
											<li>
												1. Место регистрации и место ведения бизнеса – на территории 11 муниципальных образований, расположенных на востоке Калининградской области **

											</li>
											<li>
												2. Отсутствие задолженности перед бюджетом и внебюджетными фондами

											</li>
											<li>
												3. Отсутствие процедуры банкротства или ликвидации
											</li>
										</ol>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="table__discript text">
							<p>
								* - за исключением заявителей, осуществляющих деятельность или реализующих проект в сфере растениеводства;
							</p>
							<p>
								** - Гвардейский городской округ, Гусевский городской округ, Неманский городской округ, Краснознаменский городской округ, Нестеровский район, Озерский городской округ, Славский городской округ, Советский городской округ, Полесский городской округ, Правдинский городской округ, Черняховский городской округ.
							</p>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
