<!DOCTYPE html>
<html lang="ru">
<head>
	<title>16. Повышение производительности труда</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Повышение производительности труда
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Повышение производительности труда</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Региональный центр компетенций в сфере производительности труда
								</h3>
								<div class="title-card__text text">
									<p>
										В рамках реализации региональной программы «Повышение производительности труда и поддержка занятости населения» в Калининградской области в структуре Фонда «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)» создан Региональный центр компетенций в сфере производительности труда. Сотрудники РЦК обеспечивают квалифицированную помощь экспертов по повышению эффективности производственных процессов непосредственно на предприятиях-участниках национального проекта и обучение сотрудников предприятий-участников под региональным управлением методам повышения производительности труда.
									</p>
								</div>
							</div>
						</div>
					</article>
					<div class="block-text text">
						<h3>
							Функции РЦК в сфере производительности труда: 
						</h3>
						<ul>
							<li>
								Содействие разработке эффективных стратегий поддержки производительности труда и занятости населения, формированию условий и предпосылок и выявлению потенциала для достижения устойчивого качественного роста производительности труда и показателей занятости населения в Калининградской области;
							</li>
							<li>
								Агрегирование лучших международных практик в сфере повышения производительности труда и поддержки занятости, оценка перспектив их применения в Калининградской области, а также подготовка предложений по их внедрению на территории Калининградской области с учетом национальной (региональной, отраслевой (в том числе межрегиональной, межотраслевой) специфики;
							</li>
							<li>
								Выявление и распространение на все предприятия передовых практик повышения производительности труда и поддержки занятости, оптимизации производственных и хозяйственных процессов и технологий проектного управления и пр.;
							</li>
							<li>
								Разработка рекомендаций и предложений, организация консультационной поддержки по вопросам повышения управленческой и операционной эффективности предприятий и иных хозяйствующих субъектов, формирования инновационной и творческой культуры на производстве и в организациях непроизводственной сферы;
							</li>
							<li>
								Организация и проведение конференций, выставок, семинаров, публичных слушаний, круглых столов, конкурсов и других мероприятий, в том числе международных, по вопросам, относящимся к сфере деятельности РЦК
							</li>
							<li>
								Взаимодействие с экспертным сообществом, создание и организация функционирования рабочих групп (иных временных коллективов) экспертов, ученых, аналитиков, специалистов по вопросам, относящимся к сфере деятельности РЦК;
							</li>
							<li>
								Деятельность по проведению обучения, осуществляемая в рамках реализации РЦК по основным программам профессионального обучения (программам профессиональной подготовки, программам переподготовки, программам повышения квалификации) и дополнительным профессиональным программам (программам повышения квалификации, программам профессиональной переподготовки).
							</li>
							
						</ul>
					</div>
				</div>
			</section>
			
			<section class="section section--dark">
				<div class="container">
					<article class="ill-card">
						<div class="ill-card__content text">
							<h4>
								Цель РЦК в сфере производительности труда
							</h4>
							<p>
								Целью деятельности РЦК является содействие в реализации на территории Калининградской области региональной программы «Повышение производительности труда и поддержка занятости».
							</p>
							<a href="" class="btn btn--50">
								<span>
									Подать заявку на услугу
								</span>
							</a>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-3.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>
							Основные задачи РЦК в сфере производительности труда:
						</h4>
						<ul>
							<li>
								Реализация мероприятий региональной программы Калининградской области «Повышение производительности труда и поддержка занятости» в соответствии с требованиями паспорта федерального проекта «Производительность труда и поддержка занятости»» и методическими рекомендациями АНО «Федеральный центр компетенций», относящихся к сфере деятельности РЦК;
							</li>
							<li>
								Реализация мероприятий по повышению производительности труда непосредственно на предприятиях-участниках региональной программы;

							</li>
							<li>
								Организация обмена опытом в области повышения производительности труда между предприятиями-участниками региональной программы в Калининградской области;

							</li>
							<li>
								Организация и проведение обучения сотрудников предприятий-участников региональной программы методам повышения производительности труда с использованием инструментов бережливого производства;

							</li>
							<li>
								Мониторинг и анализ достижения целей предприятиями-участниками региональной программы;
							</li>
						</ul>
						<h4>
							Услуги, которые оказывает РЦК
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="text info-block text info-block--6">
								<p>Внедрение и адаптация процесса целеполагания и мотивации сотрудников на достижение целей;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Подготовка руководителей и сотрудников к трансформации производственной культуры.</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Оптимизация производственных и офисных процессов с помощью инструментов бережливого производства с целью создания потоков-образцов;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Внедрение и адаптация процесса целеполагания и мотивации сотрудников на достижение целей;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Формирование системы проектного управления и создание инфраструктуры для внедрения культуры постоянных улучшений;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Оптимизация производственных и офисных процессов с помощью инструментов бережливого производства с целью создания потоков-образцов;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Обучение сотрудников на производственной площадке и воспитание тренеров для последующей передачи знаний;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Формирование системы проектного управления и создание инфраструктуры для внедрения культуры постоянных улучшений;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Обучение сотрудников на производственной площадке и воспитание тренеров для последующей передачи знаний;</p>
							</article>
							<article class="text info-block text info-block--6">
								<p>Подготовка руководителей и сотрудников к трансформации производственной культуры.</p>
							</article>
						</div>
					</div>
				</div>
			</section>

			<div class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Условия участия в национальном проекте:
						</h3>
					</div>
					<ol class="icon-list">
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								1
							</div>
							<div class="icon-list__text text">
								<p>
									Выручка предприятия от 400 млн рублей до 30 млрд рублей
									за предыдущий год;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								2
							</div>
							<div class="icon-list__text text">
								<p>
									Предприятие входит в приоритетные отрасли;
								</p>
								<ul>
									<li>
										обрабатывающее производство (за исключением группировок «Производство кокса и нефтепродуктов» (класс 19), «Производство табака» (класс 12), «Производство напитков, кроме производства безалкогольных напитков» (группы 11.01, 11.02, 11.03, 11.04, 11.05, 11.06).
									</li>
									<li>
										сельское, лесное хозяйство, охота, рыболовство и рыбоводство (раздел A), (за исключением группировки «Выращивание табака и махорки» (группа 01.15).
									</li>
									<li>
										транспортировка и хранение (раздел H), (за исключением группировок «Хранение и складирование нефти и продуктов ее переработки»(вид 52.10.21), «Хранение и складирование газа и продуктов его переработки» (вид 52.10.22) и «Деятельность трубопроводного транспорта» (подкласс 49.5)
									</li>
									<li>
										строительство (раздел F).
									</li>
									<li>
										жилищно-коммунальное хозяйство.
									</li>
								</ul>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								3
							</div>
							<div class="icon-list__text text">
								<p>
									Доля участия налоговых резидентов иностранных государств
									в уставном (складном) капитале юридического лица не выше 25%;
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								4
							</div>
							<div class="icon-list__text text">
								<p>
									Принадлежность к выбранному субъекту Российской Федерации (юридическая регистрация предприятия на территории субъекта Российской Федерации).
								</p>
							</div>
						</li>
						<li class="icon-list__li">
							<div class="icon-list__icon none-image">
								5
							</div>
							<div class="icon-list__text text">
								<p>
									Предприятия, имеющие организационно-правовую форму Федеральное государственное унитарное предприятие (ФГУП), муниципальное унитарное предприятие (МУП), участвуют в национальном проекте без ограничений по видам деятельности и по выручке.
								</p>
							</div>
						</li>
					</ol>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Инструкция по подаче заявки
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Документы
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Паспорт регионального проекта Адресная поддержка повышения производительности труда
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										БРОШЮРА производительность труда
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--dark">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>
					</div>
				</div>
			</section>

			<section class="section">
				<div class="partners">
					<div class="container partners__container">
						<div class="block-text text">
							<h3>
								Партнеры
							</h3>
						</div>
						<div class="partners__articles">
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/1900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x1600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/900x900" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<a href="" class="image partners__article">
								<img class="image__pict image__pict--contain" src="http://placehold.it/300x600" alt="Логотип фирмы-партнера">
								<figcaption class="image__discript" aria-hidden="true">
									Логотип фирмы-партнера
								</figcaption>
							</a>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
							<div class="partners__article partners__article--clear"></div>
						</div>
					</div>
				</div>
			</section>

			<section class="section section--dark">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
