<!DOCTYPE html>
<html lang="ru">
<head>
	<title>19. Поиск</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Поиск
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Результат поиска
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Результат поиска: <strong>босс</strong></span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">

					<div class="result-toolbar">
						<p class="result-toolbar__text">
							Найдено страниц 1 - 5 из 5
						</p>
						<button class="result-toolbar__btn result-toolbar__btn--active">
							Сортировать по дате
						</button>
						<button class="result-toolbar__btn">
							Отсортировано по релевантности
						</button>
					</div>

					<div class="pagination">
						<a href="" class="pagination__link pagination__link--start">В начало</a>
						<a href="" class="pagination__link pagination__link--prev pagination__link--static">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#pagination-arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--now pagination__link--number">1</a>
						<a href="" class="pagination__link pagination__link--number">2</a>
						<span class="pagination__link">...</span>
						<a href="" class="pagination__link pagination__link--number">122</a>
						<a href="" class="pagination__link pagination__link--number">123</a>
						<a href="" class="pagination__link pagination__link--next">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#pagination-arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--end">В конец</a>
					</div>

					<div class="articles">
						<div class="articles__content">
							
							<a href="" class="result">
								<!-- Размер превью ограничь так, чтобы выглядело нормально и все было понятно, не принципиально -->
								<h3 class="result__title">
									Мягкий босс - жесткий босс. Как говорить с подчиненными: от битвы за зарплату до укрощения незаменимых
								</h3>
								<p class="result__text">
									Настольная книга по переговорам с подчиненными. Внутри идеальные алгоритмы для решения сложных ситуаций и инструменты переговоров, которые позволят вам быть эффективным и авторитетным руководителем. После каждой главы дается практическое задание, которое поможет внедрить...
								</p>
							</a>

							<a href="" class="result">
								<h3 class="result__title">
									Мягкий босс - жесткий босс. Как говорить с подчиненными: от битвы за зарплату до укрощения незаменимых
								</h3>
								<p class="result__text">
									Настольная книга по переговорам с подчиненными. Внутри идеальные алгоритмы для решения сложных ситуаций и инструменты переговоров, которые позволят вам быть эффективным и авторитетным руководителем. После каждой главы дается практическое задание, которое поможет внедрить...
								</p>
							</a>

							<a href="" class="result">
								<h3 class="result__title">
									Мягкий босс - жесткий босс. Как говорить с подчиненными: от битвы за зарплату до укрощения незаменимых
								</h3>
								<p class="result__text">
									Настольная книга по переговорам с подчиненными. Внутри идеальные алгоритмы для решения сложных ситуаций и инструменты переговоров, которые позволят вам быть эффективным и авторитетным руководителем. После каждой главы дается практическое задание, которое поможет внедрить...
								</p>
							</a>

							<a href="" class="result">
								<h3 class="result__title">
									Мягкий босс - жесткий босс. Как говорить с подчиненными: от битвы за зарплату до укрощения незаменимых
								</h3>
								<p class="result__text">
									Настольная книга по переговорам с подчиненными. Внутри идеальные алгоритмы для решения сложных ситуаций и инструменты переговоров, которые позволят вам быть эффективным и авторитетным руководителем. После каждой главы дается практическое задание, которое поможет внедрить...
								</p>
							</a>

							<a href="" class="result">
								<h3 class="result__title">
									Мягкий босс - жесткий босс. Как говорить с подчиненными: от битвы за зарплату до укрощения незаменимых
								</h3>
								<p class="result__text">
									Настольная книга по переговорам с подчиненными. Внутри идеальные алгоритмы для решения сложных ситуаций и инструменты переговоров, которые позволят вам быть эффективным и авторитетным руководителем. После каждой главы дается практическое задание, которое поможет внедрить...
								</p>
							</a>

						</div>
					</div>
					
					<div class="pagination">
						<a href="" class="pagination__link pagination__link--start">В начало</a>
						<a href="" class="pagination__link pagination__link--prev pagination__link--static">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#pagination-arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--now pagination__link--number">1</a>
						<a href="" class="pagination__link pagination__link--number">2</a>
						<span class="pagination__link">...</span>
						<a href="" class="pagination__link pagination__link--number">122</a>
						<a href="" class="pagination__link pagination__link--number">123</a>
						<a href="" class="pagination__link pagination__link--next">
							<svg class="icon-svg">
								<use xlink:href="img/sprites/sprite.svg#pagination-arrow"></use>
							</svg>
						</a>
						<a href="" class="pagination__link pagination__link--end">В конец</a>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
