<!DOCTYPE html>
<html lang="ru">
<head>
	<title>2.О нас</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							О фонде
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">О фонде</span>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('http://placehold.it/1200x900');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Фонд является составной частью инфраструктуры Правительства Калининградской области в части поддержки предпринимательства в Калининградской области.
								</h3>
								<div class="title-card__text">
									<p>
										Фонд «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)» создан 18 октября 2013 года на основании Постановления Правительства Калининградской области № 613 от 23 августа 2013 года «О создании фонда «Фонд микрофинансирования Калининградской области» в соответствии с п. 10 ч. 1 ст. 10 Федерального закона от 24 июля 2007 года № 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации», п. 2 ч. 1 ст. 2 Федерального закона от 02 июля 2010 года № 151-ФЗ «О микрофинансовой деятельности и микрофинансовых организациях», п. 2 ст. 6 Закона Калининградской области от 20 октября 2008 года № 278 «О государственной поддержке малого и среднего предпринимательства в Калининградской области».
									</p>
								</div>
							</div>
						</div>
					</article>

					<p class="accent-text">
						Деятельность Фонда координируется Министерством экономического развития, промышленности и торговли Калининградской области, которое формирует и осуществляет государственную политику по поддержке и развитию малого предпринимательства на территории Калининградской области.
					</p>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="info-card">
						<div class="info-card__left">
							<h2 class="title title--line info-card__title">
								<span class="title__text">Реквизиты для выставления счета</span>
							</h2>
							<div class="info-card__info">
								<p class="info-card__text">
									Фонд «Центр поддержки предпринимательства Калининградской области (микрокредитная компания)»
								</p>
								<p class="info-card__text">
									<strong>Юридический адрес:</strong> 236022, ул. Уральская, д. 18, оф. 442
								</p>
								<p class="info-card__text">
									<strong>Почтовый адрес:</strong> 236022, ТЦ «Мега», ул. Уральская, д. 18, оф. 442
								</p>
								<p class="info-card__text">
									<strong>Расчётный счёт:</strong> 40603810610380005432 Филиал № 7806 ВТБ (ПАО), г. Санкт-Петербург
								</p>
								<p class="info-card__text">
									<strong>Корреспондентский счёт:</strong> 30101810240300000707
								</p>
								<p class="info-card__text">
									<strong>БИК:</strong> 044030707
								</p>
								<p class="info-card__text">
									<strong>ИНН/КПП:</strong> 3906905075/390601001
								</p>
								<p class="info-card__text">
									<strong>ОГРН:</strong> 1133900002169
								</p>
							</div>
						</div>
						<div class="info-card__right">
							<div class="image info-card__thumb">
								<img class="image__pict image__pict--cover" src="img/ill-1.svg" alt="Декоративная картинка">
								<figcaption class="image__discript" aria-hidden="true">
									Декоративная картинка
								</figcaption>
							</div>
							<p class="info-card__text info-card__text--strong">
								<strong>Директор:</strong> Лило Кирилл Валерьевич
							</p>
							<p class="info-card__text info-card__text--strong">
								<strong>Главный бухгалтер:</strong> Лапина Надежда Валерьевна
							</p>
						</div>
					</div>
					<div class="block-text text">
						<h3>
							Отчеты фонда
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--4">
								<div class="link-card__left">
									<p class="link-card__text">
										Отчет за 2016 г.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--4">
								<div class="link-card__left">
									<p class="link-card__text">
										Отчет за 2017 г.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--4">
								<div class="link-card__left">
									<p class="link-card__text">
										Отчет за 2018 г.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<div class="link-card link-card--4 link-card--clear"></div>
							<div class="link-card link-card--4 link-card--clear"></div>
							<div class="link-card link-card--4 link-card--clear"></div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
