<!DOCTYPE html>
<html lang="ru">
<head>
	<title>20.02. Цель центра</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="" class="breadcrumbs__link">
							Меры поддержки
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="" class="breadcrumbs__link">
							Кластерное развитие
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Цель центра
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Цель центра</span>
					</h2>
				</div>
			</section>

			<section class="section section--dark">
				<div class="container">
					<article class="ill-card">
						<div class="ill-card__content text">
							<ul>
								<li>
									Создание условий для формирования и развития территориальных кластеров;
								</li>
								<li>
									Содействие координации проектов участников территориальных кластеров;
								</li>
								<li>
									Повышение конкурентоспособности субъектов малого и среднего предпринимательства.
								</li>
							</ul>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-13.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
				</div>
			</section>

		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
