<!DOCTYPE html>
<html lang="ru">
<head>
	<title>20.03 Услуги центра</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="" class="breadcrumbs__link">
							Кластерное развитие
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Услуги центра
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Услуги центра</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Регламентирующие деятельность ЦКР
						</h3>
					</div>

					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Концепция создания Центра кластерного развития Калининградской области и его развития
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Сведения об учредителях Центра кластерного развития
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

						</div>
					</div>

					<div class="block-text text">
						<h3>
							Нормативно-правовая база
						</h3>
					</div>

					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 15.04.2014 № 316 (ред. от 17.08.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 15.04.2014 № 316 (ред. от 17.08.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Распоряжение Правительства РФ 
										от 18.11.2011 № 2074-р (ред. от 26.12.2014)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										“Методические рекомендации по реализации кластерной политики” субьектов Российской Федерации
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Минэкономразвития России 
										от 25.03.2015 № 167 (ред. от 28.11.2016)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области от 25.03.2014 № 144
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
