<!DOCTYPE html>
<html lang="ru">
<head>
	<title>22. Фонд развития промышленности</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Социальное предпринимательство
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Реестр соц. предпринимателей
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Реестр соц. предпринимателей</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы ЦИСС
							</span>
						</a>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('img/page-22-img.png');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<h3 class="title-card__title">
									Уважаемые коллеги!
								</h3>
								<div class="title-card__text text">
									<p>
										В 2019 году на законодательном уровне в федеральном законе были закреплены понятия «социальное предпринимательство», «социальное предприятие». (№ 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации»)
									</p>
									<p>
										<b>
											Порядок признания субъекта малого или среднего предпринимательства социальным предприятием и Порядок формирования перечня субъектов малого и среднего  предпринимательства, имеющих статус социального предприятия, утверждены приказом Минэкономразвития России от 29 ноября 2019 г. № 773.
										</b>
									</p>
								</div>
							</div>
						</div>
					</article>

					<div class="block-text text" id="section-1">
						<h3>
							Преимущества вступления в Реестр социальных предприятий:
						</h3>
					</div>

					<div class="articles">
						<div class="articles__content">
							<article class="factoid-card factoid-card--50 factoid-card--dark hide-bg">
								<div class="factoid-card__icon hide-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#icon-card-27"></use>
									</svg>
								</div>
								<div class="factoid__text text">
									<p>
										Возможность претендовать на специально разработанные меры поддержки в рамках национального проекта
									</p>
									<p>
										<strong>
											«Малое и среднее предпринимательство и поддержка предпринимательской инициативы»
										</strong>
									</p>
								</div>
							</article>

							<article class="factoid-card factoid-card--50 factoid-card--dark hide-bg">
								<div class="factoid-card__icon hide-image">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#icon-card-3"></use>
									</svg>
								</div>
								<div class="factoid__content text">
									<p>
										Возможность получения гранта в размере
									</p>
									<p>
										<strong>
											до 500 тыс. рублей
										</strong>
									</p>
									<p>
										*при условии 100% софинансирования при получении комплексной услуги
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<article class="ill-card ill-card--light ill-card--padding">
						<div class="ill-card__content text">
							<h4>
								Как официально признать свое предприятие социальным:
							</h4>
							<ul>
								<li>
									Подать документы в уполномоченный орган;
								</li>
								<li>
									Техническая проверка документов;
								</li>
								<li>
									Заседание экспертной комиссии;
								</li>
								<li>
									Признание предприятия социальным, внесение в Реестр социальных предприятий.
								</li>
							</ul>
							<p>
								<strong>Прием документов</strong> осуществляется до 1 мая 2021 года.
							</p>
							<p>
								<strong>ВАЖНО!</strong> В Реестр могут вступить только субъекты МСП (ИП, ООО)
							</p>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-1.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
					<div class="block-text text">
						<h3>
							Социально-уязвимые категории граждан: 
						</h3>
						<ul>
							<li>
								инвалиды и лица с ограниченными возможностями здоровья;
							</li>
							<li>
								одинокие и (или) многодетные родители, воспитывающие несовершеннолетних детей, в том числе детей-инвалидов;
							</li>
							<li>
								пенсионеры и граждане предпенсионного возраста (в течение пяти  лет до наступления возраста, дающего право на страховую пенсию по старости,    в том числе назначаемую досрочно);
							</li>
							<li>
								выпускники детских домов в возрасте до двадцати трех лет;
							</li>
							<li>
								лица, освобожденные из мест лишения свободы и имеющие неснятую или непогашенную судимость;
							</li>
							<li>
								беженцы и вынужденные переселенцы;
							</li>
							<li>
								малоимущие граждане;
							</li>
							<li>
								лица без определенного места жительства и занятий;
							</li>
							<li>
								граждане, не указанные в подпунктах «а» – «з», признанные
								нуждающимися в социальном обслуживании.
							</li>
						</ul>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" class="download-block" style="background-image: url('img/download-block-1.svg');">
								<h5 class="download-block__title">
									Как стать социальным предпринимателем?
								</h5>
								<p class="download-block__discript">
									Скачать
								</p>
							</a>
							<a href="" class="download-block" style="background-image: url('img/download-block-2.svg');">
								<h5 class="download-block__title">
									Присвоение статуса "социальное предприятие" методика и меры поддержки
								</h5>
								<p class="download-block__discript">
									Скачать
								</p>
							</a>
						</div>
					</div>
					<div class="table-flex table-flex--light">
						<div class="table-flex__line table-flex__line--head">
							<div class="table-flex__row table-flex__row--3">
								<div class="block-text text">
									<h4>
										Категория 
									</h4>
									<p>
										(согласно ст.  24.1 Федерального закона от 24.07.2007 N 209-ФЗ (ред. от 27.12.2019)
									</p>
								</div>
							</div>
							<div class="table-flex__row table-flex__row--7">
								<div class="block-text text">
									<h4>
										Комплект документов
									</h4>
								</div>
							</div>
						</div>
						<div class="table-flex__line">
							<div class="table-flex__row table-flex__row--3">
								<div class="block-text text">
									<h6>
										Трудоустройство 
									</h6>
									<p>
										(обеспечение занятости социально-уязвимых категорий граждан)
									</p>
								</div>
							</div>
							<div class="table-flex__row table-flex__row--7">
								<div class="block-text text">
									<ul>
										<li>
											Заявление <a href="">(Скачать)</a>
										</li>
										<li>
											Документ, удостоверяющий полномочия представителя заявителя (доверенность) (в случае подачи документов представителем заявителя, действующим на основании доверенности)
										</li>
										<li>
											Копия штатного расписания <a href="">(Скачать)</a>
										</li>
										<li>
											Копии трудовых договоров с работниками заявителя из числа категорий граждан, указанных в пункте 1 части 1 статьи 24.1 Федерального закона
										</li>
										<li>
											Копии документов, подтверждающих отнесение работников заявителя к категориям граждан, указанным в пункте 1 части 1 статьи 24.1 Федерального закона <a href="">(Скачать)</a>
										</li>
										<li>
											Сведения о численности и заработной плате работников, в том числе по каждой категории социально уязвимых граждан. <a href="">(Скачать)</a>
										</li>
										<li>
											Отчет о социальном воздействии <a href="">(Скачать)</a>
										</li>
										<li>
											Копии согласий на обработку персональных данных работников заявителя из числа категорий граждан, указанных в пункте 1 части 1 статьи 24.1 Федерального закона (с указанием на то, что персональные данные предоставляются уполномоченному органу для цели признания субъекта малого или среднего предпринимательства социальным предприятием) <a href="">(Скачать)</a>
										</li>
									</ul>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Методические материалы по заполнению документов
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="table-flex__line">
							<div class="table-flex__row table-flex__row--3">
								<div class="block-text text">
									<h6>
										Реализация товаров/услуг
									</h6>
									<p>
										(с участием социально-уязвимых категорий граждан)
									</p>
								</div>
							</div>
							<div class="table-flex__row table-flex__row--7">
								<div class="block-text text">
									<ul>
										<li>
											Заявление <a href="">(Скачать)</a>
										</li>
										<li>
											Документ, удостоверяющий полномочия представителя заявителя (доверенность) (в случае подачи документов представителем заявителя, действующим на основании доверенности)
										</li>
										<li>
											Сведения о реализации товаров (работ, услуг), производимых гражданами, относящимися к категориям социально уязвимых <a href="">(Скачать)</a>
										</li>
										<li>
											Справка о доле доходов, полученных заявителем от осуществления деятельности, указанной в пункте 2 части 1 статьи 24.1 Федерального закона, по итогам предыдущего календарного года в общем объеме доходов <a href="">(Скачать)</a>
										</li>
										<li>
											Отчет о социальном воздействии <a href="">(Скачать)</a>
										</li>
										<li>
											Копии согласий на обработку персональных данных работников заявителя из числа категорий граждан, указанных в пункте 1 части 1 статьи 24.1 Федерального закона (с указанием на то, что персональные данные предоставляются уполномоченному органу для цели признания субъекта малого или среднего предпринимательства социальным предприятием) <a href="">(Скачать)</a>
										</li>
									</ul>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Методические материалы по заполнению документов
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="table-flex__line">
							<div class="table-flex__row table-flex__row--3">
								<div class="block-text text">
									<h6>
										Производство товаров/услуг
									</h6>
									<p>
										(предназначенных для социально-уязвимых категорий граждан)
									</p>
								</div>
							</div>
							<div class="table-flex__row table-flex__row--7">
								<div class="block-text text">
									<ul>
										<li>
											Заявление <a href="">(Скачать)</a>
										</li>
										<li>
											Документ, удостоверяющий полномочия представителя заявителя (доверенность) (в случае подачи документов представителем заявителя, действующим на основании доверенности)
										</li>
										<li>
											Сведения об осуществляемой деятельности по производству товаров (работ, услуг), предназначенных для граждан социально уязвимых категорий <a href="">(Скачать)</a>
										</li>
										<li>
											Справка о доле доходов, полученных заявителем от осуществления деятельности, указанной в пункте 2 части 1 статьи 24.1 Федерального закона, по итогам предыдущего календарного года в общем объеме доходов <a href="">(Скачать)</a>
										</li>
										<li>
											Отчет о социальном воздействии <a href="">(Скачать)</a>
										</li>
										<li>
											Иные документы, установленные субъектом РФ в случае реализации им полномочия, предусмотренного частью 2 статьи 24.1 Федерального закона (для субъектов малого  и среднего предпринимательства, осуществляющих деятельность в соответствии с условиями, предусмотренными частью 2 статьи 24.1 Федерального закона)
										</li>
									</ul>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Методические материалы по заполнению документов
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Виды деятельность по категориям
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="table-flex__line">
							<div class="table-flex__row table-flex__row--3">
								<div class="block-text text">
									<h6>
										Деятельность, направленная на общественно-полезные цели
									</h6>
								</div>
							</div>
							<div class="table-flex__row table-flex__row--7">
								<div class="block-text text">
									<ul>
										<li>
											Заявление <a href="">(Скачать)</a>
										</li>
										<li>
											Документ, удостоверяющий полномочия представителя заявителя (доверенность) (в случае подачи документов представителем заявителя, действующим на основании доверенности)
										</li>
										<li>
											Сведения об осуществлении деятельности, направленной на достижение общественно полезных целей и способствующей решению социальных проблем <a href="">(Скачать)</a>
										</li>
										<li>
											Справка о доле доходов, полученных заявителем от осуществления деятельности, указанной в пункте 2 части 1 статьи 24.1 Федерального закона, по итогам предыдущего календарного года в общем объеме доходов <a href="">(Скачать)</a>
										</li>
										<li>
											Отчет о социальном воздействии <a href="">(Скачать)</a>
										</li>
										<li>
											Иные документы, установленные субъектом РФ в случае реализации им полномочия, предусмотренного частью 2 статьи 24.1 Федерального закона (для субъектов малого  и среднего предпринимательства, осуществляющих деятельность в соответствии с условиями, предусмотренными частью 2 статьи 24.1 Федерального закона)
										</li>
									</ul>
								</div>
								<div class="articles">
									<div class="articles__content">
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Методические материалы по заполнению документов
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
										<a href="" target="_blank" class="link-card link-card--12 link-card--dark">
											<div class="link-card__left">
												<p class="link-card__text">
													Рекомендуемые ОКВЭДы для этой категории
												</p>
											</div>
											<div class="link-card__right">
												<svg class="icon-svg none-image">
													<use xlink:href="img/sprites/sprite.svg#link-card"></use>
												</svg>
												<span class="link-card__discript">
													Скачать
												</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h4>Документы на присвоение статуса принимаются ЦИСС по адресу: Уральская, 18, 440 каб.</h4>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
