<!DOCTYPE html>
<html lang="ru">
<head>
	<title>23. Имущественная поддержка</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Имущественная поддержка
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Имущественная поддержка</span>
					</h2>
					<article class="title-card hide-bg" style="background-image: url('img/help-bg.jpg');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<div class="title-card__text text">
									<p>
										Имущественная поддержка субъектов малого и среднего предпринимательства* и организаций, образующих инфраструктуру поддержки субъектов малого и среднего предпринимательства предусмотрена статьей 18 Федерального закона от 24 июля 2007 года № 209-ФЗ «О развитии малого и среднего предпринимательства» и осуществляется органами государственной власти, органами местного самоуправления в виде передачи во владение и (или) в пользование государственного или муниципального имущества. 
									</p>
								</div>
							</div>
						</div>
					</article>

					<div class="block-text text">
						<p>
							Федеральные органы исполнительной власти, органы исполнительной власти субъектов Российской Федерации, органы местного самоуправления утверждают перечни государственного имущества и муниципального имущества, свободного от прав третьих лиц (за исключением права хозяйственного ведения, права оперативного управления, а также имущественных прав субъектов малого и среднего предпринимательства) с ежегодным - до 1 ноября текущего года дополнением таких перечней государственным имуществом и муниципальным имуществом.
						</p>
						<p>
							Государственное и муниципальное имущество, включенное в перечни, используется в целях предоставления его во владение и (или) в пользование на долгосрочной основе (в том числе по льготным ставкам арендной платы) субъектам малого и среднего предпринимательства* и организациям, образующим инфраструктуру поддержки субъектов малого и среднего предпринимательства. <br>
							*критерии отнесения к субъектам малого и среднего предпринимательства:
						</p>
						<ul>
							<li>
								<a href="">Статья 4 Федерального закона от 24.07.2007 № 209-ФЗ</a>
							</li>
							<li>
								<a href="">
									Презентация АО "Корпорация "МСП"
								</a>
							</li>
							<li>
								<a href="">
									Единый реестр субъектов малого и среднего предпринимательства
								</a>
							</li>
						</ul>
					</div>

					<div class="block-text text">
						<h3>
							Нормативные правовые акты
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление от 22 сентября 2017 г. № 514 «О мерах по реализации абзацев пятого и шестого пункта 2 статьи 1 Закона Калининградской области от 20 октября 2008 года № 278 «О государственной поддержке малого и среднего предпринимательства в Калининградской области»»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области от 1 июня 2009 года № 322 "О перечне государственного имущества Калининградской области, предназначенного для передачи в пользование субъектам малого и среднего предпринимательства и негосударственным организациям, образующим инфраструктуру поддержки субъектов малого и среднего предпринимательства.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области "О внесении изменений в постановление правительства Калининградской области от 01 июня 2009 года № 322"
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области "О внесении изменений в постановление правительства Калининградской области от 01 июня 2009 года № 322"
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Заявление о заключении по результатам конкурсов или аукционов договоров аренды государственного имущества калининградской области
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Закон Калининградской Области "О государственной поддержке малого и среднего предпринимательства в Калининградской области
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Административный регламент предоставления Агентством по имуществу Калининградской области государственной услуги по заключению по результатам конкурсов или аукционов договоров аренды государственного имущество Калининградской области, включенного в перечень государственного имущества Калининградской области, свободного от прав третьих лиц (за исключением имущественных прав свободного субъектов малого и среднего предпринимательства), предназначенного для передачи во владение и (или) пользование на долгосрочной основе (в том числе по льготным ставкам арендной платы) субъектам малого и среднего предпринимательства и организациям, образующим инфраструктуру поддержки субъектов малого и среднего предпринимательства
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон № 209-ФЗ "О развитии малого и среднего предпринимательства в Российской Федерации"
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--12">
								<div class="link-card__left">
									<p class="link-card__text">
										Порядок формирования, ведения, обязательного опубликования перечня государственного имущества Калининградской области, свободного от прав третьих лиц (за исключением имущественных прав субъектов малого и среднего предпринимательства), предназначенного для передачи во владение и (или) в пользование на долгосрочной основе (в том числе по льготным ставкам арендной платы) субъектам малого и среднего предпринимательства и организациям, образующим инфраструктуру поддержки субъектов малого и среднего предпринимательства
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Государственное имущество Калининградской области
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Порядок формирования, ведения, обязательного опубликования перечня
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень государственного имущества
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Порядок и условия предоставления в аренду имущества из перечня (в том числе льготы)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень государственного имущества (измененияот 24.12.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Административный регламент по предоставлению имущества из перечня
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень государственного имущества  (изменения от 08.11.2019.)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Заявление о предоставлении имущества в аренду, согласие на обработку персональных данных
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Условия выкупа имущества из перечня в рамках Федерального закона от 22.07.2008 № 159-ФЗ
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Статья 18 Федерального закона от 24.07.2007 № 209-ФЗ
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--light link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Закон Калининградской области о государственной поддержке малого и среднего предпринимательства
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" class="download-block" style="background-image: url('img/download-block-3.svg');">
								<h5 class="download-block__title download-block__title--small">
									Блок-схема предоставления государственной услуги по заключению по результатам конкурсов или аукционов договоров аренды государственного имущества Калининградской области, включенного в перечень
								</h5>
								<p class="download-block__discript">
									Скачать
								</p>
							</a>
							<a href="" class="download-block" style="background-image: url('img/download-block-4.svg');">
								<h5 class="download-block__title download-block__title--small">
									Инвестиционная карта Калининградской области
								</h5>
								<p class="download-block__discript">
									Скачать
								</p>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="block-text block-text--centered text">
						<p>
							Контактные данные структурного подразделения, ответственного за предоставление государственного имущества Калининградской области субъектам малого и среднего предпринимательства: управление учета, регистрации и распоряжения имуществом Агентства по имуществу Калининградской области
						</p>
					</div>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Абросимова Анна Николаевна">
								<figcaption class="image__discript" aria-hidden="true">
									Абросимова Анна Николаевна
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Абросимова <br> Анна Николаевна
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012599786" class="contact-card__link">
									+7 (4012) 599-786 (доб. 923)
								</a>
							</div>
							<p class="contact-card__discript">
								Ведущий консультант
							</p>
						</article>
					</div>
					<div class="block-text block-text--centered text">
						<h4>
							Имущественная поддержка в муниципальных образованиях Калининградской области*
						</h4>
						<p>
							Контактные данные структурного подразделения, ответственного за предоставление государственного имущества Калининградской области субъектам малого и среднего предпринимательства: управление учета, регистрации и распоряжения имуществом Агентства по имуществу Калининградской области
						</p>
					</div>
					<div class="block-text text">
						<div class="block-text__columns">
							<div class="block-text__column block-text__column--4">
								<ul>
									<li><a href="">Городской округ "Город Калининград"</a></li>
									<li><a href="">Багратионовский городской округ</a></li>
									<li><a href="">Балтийскийгородской округ</a></li>
									<li><a href="">Гвардейский городской округ</a></li>
									<li><a href="">Гурьевский городской округ</a></li>
									<li><a href="">Гусевский городской округ</a></li>
									<li><a href="">Черняховский городской округ</a></li>
									<li><a href="">Янтарный городской округ</a></li>
								</ul>
							</div>
							<div class="block-text__column block-text__column--4">
								<ul>
									<li><a href="">Зеленоградский городской округ</a></li>
									<li><a href="">Краснознаменский городской округ</a></li>
									<li><a href="">Ладушкинский городской округ</a></li>
									<li><a href="">Мамоновский городской округ</a></li>
									<li><a href="">Неманский городской округ</a></li>
									<li><a href="">Светлогорский городской округ</a></li>
									<li><a href="">Славский городской округ</a></li>
									<li><a href="">Советский городской округ</a></li>
								</ul>
							</div>
							<div class="block-text__column block-text__column--4">
								<ul>
									<li><a href="">Нестеровский городской округ</a></li>
									<li><a href="">Озёрский городской округ</a></li>
									<li><a href="">Пионерский городской округ</a></li>
									<li><a href="">Полесский городской округ</a></li>
									<li><a href="">Правдинский городской округ</a></li>
									<li><a href="">Светловский городской округ</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
