<!DOCTYPE html>
<html lang="ru">
<head>
	<title>1. Программы для самозанятых</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/24-page-index.html" class="breadcrumbs__link">
							Микрокредитование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Программы для самозанятых
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Программы для самозанятых</span>
					</h2>
					<div class="articles">
						<div class="articles__content">
							<a href="/24-12-page.html" class="link-grid" style="background-image: url('img/bg-grid-7.svg');">
								<h5 class="link-grid__title">
									Программа "Старт"
								</h5>
								<div class="link-grid__main">
									<p>
										На организацию и развитие предпринимательской деятельности самозанятых граждан, осуществляемой в соответствии с требованиями законодательства РФ
									</p>
								</div>
								<strong class="link-grid__accent">
									до 100 000 руб.
								</strong>
							</a>
							<a href="/24-13-page.html" class="link-grid" style="background-image: url('img/bg-grid-8.png');">
								<h5 class="link-grid__title">
									Программа "Развитие"
								</h5>
								<div class="link-grid__main">
									<p>
										На развитие предпринимательской деятельности самозанятых граждан, осуществляемой в соответствии с требованиями законодательства РФ
									</p>
								</div>
								<strong class="link-grid__accent">
									до 500 000 руб.
								</strong>
							</a>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h3>
								Необходимые документы
							</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="https://mbkaliningrad.ru/mikrokreditovanie/docs/smsp/document_UL.7z" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для Самозанятых лиц
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
