<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Программы для СМСП</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="index.html" class="breadcrumbs__link">
							Микрокредитование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Программы для самозанятых
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Программы для СМСП</span>
					</h2>					
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Условия предоставления микрозайма:
						</h4>
						<p>
							Программа микрофинансирования субъектов малого и среднего предпринимательства предусматривает предоставление микрозаймов на основе следующих условий:
						</p>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="circle-card">
								<div class="progress circle-card__icon none-image" data-percentage="43">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-1"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Сумма займа: 
								</p>
								<p class="circle-card__text">
									от 100 000 <br>
									до 5 000 000 рублей
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon none-image" data-percentage="78">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-2"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Срок займа: 
								</p>
								<p class="circle-card__text">
									от 3 до 36 месяцев
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon none-image" data-percentage="50">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-3"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Процентная ставка: 
								</p>
								<p class="circle-card__text">
									4,5 % годовых 
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon none-image" data-percentage="74">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-4"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Аннуитетные платежи: 
								</p>
								<p class="circle-card__text">
									(возможна отсрочка платежа по <br> основному 
									долгу до 6 месяцев)

								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon none-image" data-percentage="83">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-5"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Срок рассмотрения: 
								</p>
								<p class="circle-card__text">
									до 15 дней
								</p>
							</article>
						</div>
					</div>
				</div>	
			</section>
			<section class="section">
				<div class="container">
					<article class="ill-card">
						<div class="ill-card__content text">
							<h4>
								Основные требования к субъектам малого и среднего предпринимательства:
							</h4>
							<ul>
								<li>
									Наличие действующего бизнеса в Калининградской области (не менее 3 месяцев);
								</li>
								<li>
									Наличие статуса субъекта малого и среднего предпринимательства (проверить – здесь https://rmsp.nalog.ru/);
								</li>
								<li>
									Наличие обеспечения (залог* и/или поручительство**), соответствующего Методике работы с залогом;
								</li>
								<li>
									Предоставление документов в соответствии с перечнем и формами, размещенными на сайте Фонда;
								</li>
								<li>
									Финансово-хозяйственные результаты деятельности соответствуют методике оценки кредитоспособности Фонда.
								</li>
							</ul>
						</div>
						<div class="image ill-card__thumb">
							<img class="image__pict image__pict--contain" src="img/ill-10.svg" alt="Декоративная картинка">
							<figcaption class="image__discript" aria-hidden="true">
								Декоративная картинка
							</figcaption>
						</div>
					</article>
					<p class="accent-text">
						В предоставлении льготного микрозайма СМСП должно быть отказано в следствие неисполнения вышеперечисленных условий.
					</p>
					<div class="block-text text">
						<h6>
							* Залоговым обеспечением микрозайма может выступать:
						</h6>
						<ul>
							<li>Залог недвижимости;</li>
							<li>Залог автотранспортных средств;</li>
							<li>Залог оборудования;</li>
						</ul>
					</div>
					<div class="table">
						<table>
							<thead>
								<tr>
									<th>
										Вид обеспечения
									</th>
									<th>
										Рыночная стоимость
									</th>
									<th>
										Коэффициенты залогового дисконтирования
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										Объекты недвижимости
									</td>
									<td>
										определяется отчетом об оценке
									</td>
									<td>
										0,85
									</td>
								</tr>
								<tr>
									<td>
										Объекты недвижимости
									</td>
									<td>
										определяется отчетом об оценке
									</td>
									<td>
										<p>возраст тс:</p>
										<ul>
											<li>
												не превышает 1 год - 0,85;
											</li>
											<li>
												от 1 года до 3 лет - 0,7;
											</li>
											<li>
												от 3 лет до 5 лет - 0,6;
											</li>
											<li>
												от 5 лет до 10 лет - 0,5;
											</li>
											<li>
												от 10 лет (только иностранного производства) - 0,4;
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>
										Оборудование
									</td>
									<td>
										определяется отчетом об оценке
									</td>
									<td>
										0,5
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="block-text text">
						<h6>
							Залогодателем может выступать любое третье лицо (юридическое или физическое).
						</h6>
						<p>
							** Для юридических лиц обязательно поручительство руководителя и учредителя(ей) предприятия. Для индивидуальных предпринимателей, при сумме микрозайма до 300 000 рублей, обеспечением может выступать только поручительство (без залога) третьего лица (юридического или физического).
						</p>
					</div>
					<div class="block-text">
						<div class="text">
							<h3>Перечень и формы необходимых документов</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Анкета индивидуального предпринимателя
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Анкета физического лица
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Анкета юридического лица
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 1. Заявка на предоставление льготного микрозайма
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 2. Перечень документов ЮЛ
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 3. Перечень документов ИП
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 4. Перечень документов по предоставляемому обеспечению микрозайма
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 5. Управленческая отчетность
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 15. Согласие БКИ(шаблон)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Приложение 16. Программы микрофинансирования
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Формы согласия
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
						<div class="articles__control articles__control--left">
							<a href="" class="articles__btn btn btn--60">
								<span>Стандарт для ЮЛ</span>
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#icon-download"></use>
								</svg>
							</a>
							<a href="" class="articles__btn btn btn--60">
								<span>Стандарт для ИП</span>
								<svg class="icon-svg">
									<use xlink:href="img/sprites/sprite.svg#icon-download"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
