<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Контакты</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="index.html" class="breadcrumbs__link">
							Микрофинансирование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Контакты
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Контакты</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="articles">
						<div class="articles__content articles__content--center">
							<article class="contact-card">
								<div class="image contact-card__thumb">
									<img class="image__pict image__pict--contain" src="img/yanberg.jpg"
										alt="Янберг Жанна Геннадьевна">
									<figcaption class="image__discript" aria-hidden="true">
										Янберг Жанна Геннадьевна
									</figcaption>
								</div>
								<h4 class="contact-card__name">
									Янберг <br> Жанна Геннадьевна
								</h4>
								<div class="contact-card__links">
									<a href="tel:+74012994200" class="contact-card__link">
										+7 (4012) 994-200
									</a>
									<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
										burov@mbkaliningrad.ru
									</a>
								</div>
								<p class="contact-card__discript">
									Генеральный директор
								</p>
							</article>
							<article class="contact-card">
								<div class="image contact-card__thumb">
									<img class="image__pict image__pict--contain" src="img/lapina.jpg"
										alt="Лапина Надежда Валерьевна">
									<figcaption class="image__discript" aria-hidden="true">
										Лапина Надежда Валерьевна
									</figcaption>
								</div>
								<h4 class="contact-card__name">
									Лапина <br>
									Надежда Валерьевна
								</h4>
								<div class="contact-card__links">
									<a href="tel:+74012994588" class="contact-card__link">
										+7 (4012) 994-588 (доб. 903)
									</a>
									<a href="mailto:glbuh@mbkaliningrad.ru" class="contact-card__link">
										glbuh@mbkaliningrad.ru
									</a>
								</div>
								<p class="contact-card__discript">
									Главный бухгалтер
								</p>
							</article>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text">
						<div class="text text--center">
							<h3>
								Отдел микрофинансирования
							</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="contact-card">
								<div class="image contact-card__thumb">
									<img class="image__pict image__pict--contain" src="img/burov.jpg" alt="Бушуев Сергей Викторович">
									<figcaption class="image__discript" aria-hidden="true">
										Бушуев Сергей Викторович
									</figcaption>
								</div>
								<h4 class="contact-card__name">
									Бушуев <br> Сергей Викторович
								</h4>
								<div class="contact-card__links">
									<a href="tel:+74012994588" class="contact-card__link">
										+7 (4012) 994-588 (доб. 924)
									</a>
									<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
										burov@mbkaliningrad.ru
									</a>
								</div>
								<p class="contact-card__discript">
									Начальник отдела <br> "Центр микрофинансирования"
								</p>
							</article>
							<article class="contact-card">
								<div class="image contact-card__thumb">
									<img class="image__pict image__pict--contain" src="img/sergeeva.jpg" alt="Сергеева Татьяна Николаевна">
									<figcaption class="image__discript" aria-hidden="true">
										Сергеева Татьяна Николаевна
									</figcaption>
								</div>
								<h4 class="contact-card__name">
									Сергеева <br> Татьяна Николаевна
								</h4>
								<div class="contact-card__links">
									<a href="tel:+74012994588" class="contact-card__link">
										+7 (4012) 994-588 (доб. 961)
									</a>
									<a href="mailto:sergeeva@mbkaliningrad.ru" class="contact-card__link">
										sergeeva@mbkaliningrad.ru
									</a>
								</div>
								<p class="contact-card__discript">
									Ведущий специалист отдела <br> "Центр микрофинансирования"
								</p>
							</article>
							<article class="contact-card">
								<div class="image contact-card__thumb">
									<img class="image__pict image__pict--contain" src="img/sidenko.jpg" alt="Сиденко Галина Михайловна">
									<figcaption class="image__discript" aria-hidden="true">
										Сиденко Галина Михайловна
									</figcaption>
								</div>
								<h4 class="contact-card__name">
									Сиденко <br> Галина Михайловна
								</h4>
								<div class="contact-card__links">
									<a href="tel:+74012994588" class="contact-card__link">
										+7 (4012) 994-588 (доб. 967)
									</a>
									<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
										burov@mbkaliningrad.ru
									</a>
								</div>
								<p class="contact-card__discript">
									Ведущий специалист отдела <br> "Центр микрофинансирования"
								</p>
							</article>
							<div class="contact-card contact-card--clear"></div>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>