<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Социальное предприятие-Старт</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="./" class="breadcrumbs__link">
							Микрофинансирование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Социальное предприятие-Старт
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Социальное предприятие-Старт</span>
					</h2>
					<article class="title-card" style="background-image: url('img/title-card-bg-2.png');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<p class="title-card__discript">
									Целевое назначение
								</p>
								<h3 class="title-card__title">
									На организацию и развитие предпринимательской деятельности социальных предприятий, осуществляемой в соответствии с требованиями законодательства РФ
								</h3>
								<div class="title-card__text">
									<a href="" class="btn btn--60 btn--opacity">
										<span>
											Скачать пакет документов
										</span>
									</a>
								</div>
							</div>
						</div>
					</article>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-1"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Получатели займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												СМСП, имеющий статус социального предприятия в соответствии с Федеральным законом от 24 июля 2007 г. N 209-ФЗ "О развитии малого и среднего предпринимательства в Российской Федерации" 
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-3"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Процентная ставка
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												0,5 ключевой ставки Банка России
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-2"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Срок займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												до 24 месяцев
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<articles class="item-progress">
								<p class="item-progress__title">
									Максимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										500 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:50%;"></div>
									</div>
								</div>
							</articles>
							<articles class="item-progress">
								<p class="item-progress__title">
									Минимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										100 000 руб.
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:20%;"></div>
									</div>
								</div>
							</articles>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h4>
								График погашения
							</h4>
							<p>
								Возможно предоставление отсрочки до 3 (трех) месяцев по оплате основного долга, аннуитетные платежи
							</p>
							<div class="hr"></div>
							<h4>
								Досрочное погашение
							</h4>
							<p>
								Да (без комиссий)
							</p>
							<div class="hr"></div>
							<h4>
								Период деятельности заемщика
							</h4>
							<p>
								Без ограничений
							</p>
							<div class="hr"></div>
							<h4>
								Обеспечение займа
							</h4>
							<p>
								Без залога. Поручительство владельцев бизнеса и поручительство иного физического лица с обязательным предоставлением справки о доходах поручителя по форме 2-НДФЛ
							</p>
							<div class="hr"></div>
							<h4>
								Особые условия
							</h4>
							<p>
								Отсутствие отрицательной кредитной истории
							</p>
							<div class="hr"></div>
							<h4>
								Иные условия
							</h4>
							<p>
								Целевой льготный микрозайм
							</p>
							<div class="hr"></div>
							<h4>
								Лимиты финансирования
							</h4>
							<ol>
								<li>
									Заемщик может иметь не более 1 текущего льготного микрозайма, предоставленного по данной программе. 
								</li>
								<li>
									Общая сумма обязательств Заемщика перед Фондом по действующим договорам льготных микрозаймов, не обеспеченных залогом, не должна превышать <b>500 000</b> (пятьсот тысяч) рублей.
								</li>
							</ol>
							<div class="hr"></div>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h3>
								Необходимые документы
							</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="https://mbkaliningrad.ru/mikrokreditovanie/docs/smsp/document_UL.7z" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для Юридических лиц
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="https://mbkaliningrad.ru/mikrokreditovanie/docs/smsp/document_IP.7z" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для ИП
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
