<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Микрокредитование</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content">
			@@include("../blocks/modules/intro-m/intro-m.html")
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text">Программы микрокредитования</span>
					</h2>
					<div class="articles">
						<div class="articles__content">
							<div class="articles__content">
								<a href="24-1-page.html" class="title-card title-card--m" style="background-image: url('img/title-card-bg-7.png');">
									<div class="title-card__wrapper">
										<div class="title-card__content title-card__content--m">
											<h3 class="title-card__title">
												Программы для самозанятых
											</h3>
											<div class="title-card__text">
												На организацию и развитие предпринимательской деятельности самозанятых граждан, осуществляемой в соответствии с требованиями законодательства РФ
											</div>
										</div>
									</div>
								</a>
								<a href="24-2-page.html" class="title-card title-card--m" style="background-image: url('img/title-card-bg-2.png');">
									<div class="title-card__wrapper title-card__wrapper">
										<div class="title-card__content title-card__content--m">
											<h3 class="title-card__title">
												Программы микрофинансирования для субъектов МСП
											</h3>
											<div class="title-card__text">
												На организацию и развитие предпринимательской деятельности самозанятых граждан, осуществляемой в соответствии с требованиями законодательства РФ
											</div>
										</div>
									</div>
								</a>
								<a href="24-3-page.html" class="title-card title-card--m" style="background-image: url('img/page-23-img.png');">
									<div class="title-card__wrapper">
										<div class="title-card__content title-card__content--m">
											<h3 class="title-card__title">
												Программы для СМСП
											</h3>
											<div class="title-card__text">
												На организацию и развитие предпринимательской деятельности самозанятых граждан, осуществляемой в соответствии с требованиями законодательства РФ
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
			</section>
			@@include("../blocks/modules/1_factoid/factoid.html")
			@@include("../blocks/modules/1_partners/partners.html")
			@@include("../blocks/modules/1_map/map.html")
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>