<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Микрофинансирование</title>
	@@include("../blocks/modules/head/head.html")
</head>

<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/header-m/header-m.html")
		<main class="content">
			<!-- @@include("../blocks/modules/intro-m/intro-m.html") -->
			<section class="section">
				<div class="container">
					<h2 class="title title--line">
						<span class="title__text">Микрофинансирование</span>
					</h2>
					<a href="24-1-page.html" class="title-card title-card--m"
						style="background-image: url('img/money-intro-bg.jpg');">
						<div class="title-card__wrapper">
							<div class="title-card__content title-card__content--m">
								<h3 class="title-card__title">
									О Фонде
								</h3>
								<div class="title-card__text">
									Фонд «Фонд микрофинансирования Калининградской области (микрокредитная
									компания)» (фонд ФМФ КО (МКК)) создан
									Правительством Калининградской области в лице Министерства
									экономического развития, промышленности и торговли
									Калининградской области при поддержке Министерства экономического
									развития Российской Федерации.
								</div>
							</div>
						</div>
					</a>
					<div class="block-text text">
						<h4>
							Цель деятельности фонда ФМФ КО (МКК)
						</h4>
						<p>
							Участие в формировании инфраструктуры поддержки субъектов малого и среднего
							предпринимательства, а также физических лиц,
							применяющих специальный налоговый режим «Налог на профессиональный доход», Калининградской
							области. Фонд ФМФ КО (МКК)
							осуществляет микрофинансовую деятельность и предоставляет финансовую поддержку субъектам
							малого и среднего
							предпринимательства, а также физическим лицам, применяющим специальный налоговый режим
							«Налог на профессиональный
							доход», Калининградской области на возмездной основе.
						</p>
					</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h4>
							Органы управления
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<article class="factoid-column">
								<h4 class="factoid-column__title factoid-column__title--small">
									Учредитель фонд ФМФ КО (МКК)- Министерство экономического развития, промышленности и
									торговли Калининградской области.
								</h4>
								<p class="factoid-column__text">
									Учредитель фонда ФМФ КО (МКК) является высшим органом управления и осуществляет свои
									права по управлению фондом ФМФ КО
									(МКК) путем принятия соответствующих решений.
								</p>
							</article>
							<article class="factoid-column">
								<h4 class="factoid-column__title factoid-column__title--small">
									Исполнительный орган - Генеральный директор фонда ФМФ КО (МКК) Янберг Жанна
									Геннадьевна.
								</h4>
								<p class="factoid-column__text">
									Генеральный директор является единоличным исполнительным органом фонда.
								</p>
							</article>
						</div>
					</div>
					<article class="drop-card">
						<div class="drop-card__header" tabindex="0">
							<p class="drop-card__title">
								Совет фонда ФМФ КО (МКК)
							</p>
							<svg class="icon-svg drop-card__icon">
								<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
							</svg>
						</div>
						<div class="drop-card__main">
							<div class="drop-card__content">
								<div class="text">
									<p>
										Совет фонда - высший коллегиальный орган управления.
									</p>
									<h4>
										Состав совета фонда
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Кусков
												Дмитрий Александрович
											</h4>
											<p class="factoid-column__text">
												Председатель Совета фонда, Министр экономического развития,
												промышленности и торговли Калининградской области
											</p>
										</article>
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Абрамова
												Анастасия Александровна
											</h4>
											<p class="factoid-column__text">
												Заместитель министра экономического развития, промышленности и торговли
												Калининградской области
											</p>
										</article>
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Куклева Мария Николаевна
											</h4>
											<p class="factoid-column__text">
												Начальник департамента развития предпринимательства и торговли
												Министерства экономического развития, промышленности и
												торговли Калининградской области
											</p>
										</article>
									</div>
								</div>
							</div>
						</div>
					</article>
					<article class="drop-card">
						<div class="drop-card__header" tabindex="0">
							<p class="drop-card__title">
								Попечительский совет фонда ФМФ КО (МКК)
							</p>
							<svg class="icon-svg drop-card__icon">
								<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
							</svg>
						</div>
						<div class="drop-card__main">
							<div class="drop-card__content">
								<div class="text">
									<p>
										Попечительский совет - орган, осуществляющий надзор за деятельностью фонда,
										принятия другими органами фонда решений и
										обеспечения их исполнения, использования средств фонда, соблюдения фондом
										законодательства.
									</p>
									<h4>
										Состав попечительского совета
									</h4>
								</div>
								<div class="articles">
									<div class="articles__content">
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Газизов
												Олег Вадимович
											</h4>
											<p class="factoid-column__text">
												Председатель Калининградского регионального отделения Общероссийской
												общественной организации «Опора России»
											</p>
										</article>
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Гракова
												Ирина Николаевна
											</h4>
											<p class="factoid-column__text">
												Заместитель министра экономического развития, промышленности и торговли
												Калининградской области
											</p>
										</article>
										<article class="factoid-column factoid-column--small">
											<h4 class="factoid-column__title factoid-column__title--small">
												Мусин
												Марат Эдманович
											</h4>
											<p class="factoid-column__text">
												Генеральный директор общества с ограниченной ответственностью
												«КОРПОРАТИВНО-БАНКОВСКИЙ СЕРВИС-ГРУПП»
											</p>
										</article>
									</div>
								</div>
							</div>
						</div>
					</article>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<article class="drop-card drop-card--dark">
								<div class="drop-card__header" tabindex="0">
									<p class="drop-card__title">
										УЧРЕДИТЕЛЬНЫЕ ДОКУМЕНТЫ ФОНДА ФМФ КО (МКК)
									</p>
									<svg class="icon-svg drop-card__icon">
										<use xlink:href="img/sprites/sprite.svg#drop-arrow"></use>
									</svg>
								</div>
								<div class="drop-card__main">
									<div class="drop-card__content">
										<div class="articles">
											<div class="articles__content">
												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Устав фонда ФМФ КО (МКК)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Свидетельство о государственной регистрации фонда ФМФ КО
															(МКК)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>

												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Свидетельство ИНН фонда ФМФ КО (МКК)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Свидетельство ОГРН фонда ФМФ КО (МКК)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Свидетельство о внесении сведений в государственный реестр
															микрофинансовых организаций
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
												<a href="" target="_blank" class="link-card link-card--6">
													<div class="link-card__left">
														<p class="link-card__text">
															Свидетельство о вступлении в СРО фонда ФМФ КО (МКК)
														</p>
													</div>
													<div class="link-card__right">
														<svg class="icon-svg none-image">
															<use xlink:href="img/sprites/sprite.svg#link-card"></use>
														</svg>
														<span class="link-card__discript">
															Скачать
														</span>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<h2 class="title title--center partners__title">
						<span class="title__text">Партнеры</span>
					</h2>
					<div class="partners__articles">
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/900x600"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/1900x600"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/900x1600"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/900x600"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/900x900"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<a href="" class="image partners__article">
							<img class="image__pict image__pict--contain" src="http://placehold.it/300x600"
								alt="Логотип фирмы-партнера">
							<figcaption class="image__discript" aria-hidden="true">
								Логотип фирмы-партнера
							</figcaption>
						</a>
						<div class="partners__article partners__article--clear"></div>
						<div class="partners__article partners__article--clear"></div>
						<div class="partners__article partners__article--clear"></div>
					</div>
				</div>
				<!-- <div class="partners">
					<div class="container partners__container">
						
					</div>
				</div> -->
			</section>
			@@include("../blocks/modules/1_map/map.html")
		</main>
		@@include("../blocks/modules/footer-m/footer-m.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>

</html>