<!DOCTYPE html>
<html lang="ru">
<head>
	<title>3.1 Мероприятие</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Мероприятия
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Обучающая программа "Трансформация бизнес-идеи. Как идею превратить в бизнес"
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text title__text--small">Обучающая программа "Трансформация бизнес-идеи. Как идею превратить в бизнес"</span>
					</h2>

					<div class="event">
						<div class="event__columns">
							<div class="event__column event__column--7">
								<div class="block-text text">
									<h4>
										Целью данного тренинга является:
									</h4>
									<ul>
										<li>
											<span>
												знакомство с навыками сбора и обработки информации;
											</span>
										</li>
										<li>
											<span>
												проведение маркетинговых исследований своими силами для «попадания» в свою целевую аудиторию;
											</span>
										</li>
										<li>
											<span>
												формирования уникального торгового предложения (УТП);
											</span>
										</li>
										<li>
											<span>
												определение сильных и слабых сторон бизнеса, конкурентные преимущества;
											</span>
										</li>
										<li>
											<span>
												выбор наиболее эффективной формы бизнеса, знакомство с юридическими аспектами.
											</span>
										</li>
									</ul>
									<p>
										Знания, полученные на тренинге, помогут в расчете критериев и показателей бизнеса. Участники научатся разрабатывать бизнес-модели и бизнес-планы для инвестирования проекта (работа с инвесторами и банками). Узнают об источниках финансирования бизнеса и получат знания и опыт в презентации своего проекта перед потенциальными Инвесторами и Стейкхолдерами.
									</p>
									<h4>
										Результатом тренинга будет понимание всего процесса создания бизнеса – от бизнес-идеи до первого чека, от прототипа до стратегии развития.
									</h4>
									<p>
										Безусловно, коснемся темы формирования личного бренда для популяризации своего бизнеса в социуме (в соцсетях, интернете, в бизнес пространстве).
										Обучение будет проходить в удобной форме – онлайн и дистанционный формат.
									</p>
									<h4>
										Дата проведения первого онлайн семинара: 
										14 сентября 2020 г. с 11:00 до 12:30.
									</h4>
									<p>
										Далее обучение проводится в дистанционном формате на обучающей платформе, которое можно пройти в любое удобное время. На ней участники смотрят вебинары, проходят задания, общаются в чате, взаимодействуют с кураторами проектов до момента готовности к презентации бизнеса.
										В результате участники тренинга получат новые компетенции в сфере ведения предпринимательской деятельности.
										Этот интенсив сделает Вас профессионалами бизнеса!
									</p>
									<h4>
										Тренер - Офицерова Ольга
									</h4>
									<ul>
										<li>
											<span>
												предприниматель с большим стажем;
											</span>
										</li>
										<li>
											<span>
												сертифицированный бизнес-тренер по программам Нацпроекта по популяризации предпринимательства;
											</span>
										</li>
										<li>
											<span>
												куратор проекта "Молодежный бизнес России" по ВО;
											</span>
										</li>
										<li>
											<span>
												руководитель тренингового центра по повышению предпринимательских компетенций "Мастерская Успеха";
											</span>
										</li>
										<li>
											<span>
												председатель Комитета по развитию женского предпринимательства ВО "Опора России";
											</span>
										</li>
										<li>
											<span>
												куратор и наставник акселерационных программ по социальному предпринимательству и стартапам.
											</span>
										</li>
									</ul>
								</div>
							</div>
							<div class="event__column event__column--5">
								<img src="http://placehold.it/476x245" class="event__thumb" alt="">
								<div class="event__info">
									<div class="event__info-line">
										<span>Дата:</span> 14 сент-12 окт 
									</div>
									<div class="event__info-line">
										<span>Время:</span> 11:00 
									</div>
									<div class="event__info-line">
										<span>Место:</span> Вебинар
									</div>
									<div class="event__info-line">
										<span>Тренер:</span> Офицерова Ольга
									</div>
									<div class="block-text text">
										<p>
											С 14 сентября стартует обучающая программа «Трансформация бизнес-идеи. Как идею превратить в бизнес» для самозанятых, потенциальных и действующих предпринимателей.
											На тренинге мы дадим необходимые инструменты и вместе выявим наиболее приемлемые и жизнеспособные бизнес-модели. Участники тренинга узнают весь алгоритм открытия бизнеса: от подачи заявления в налоговую до выхода на точку безубыточности и окупаемости.
										</p>
									</div>
								</div>
								<a href="" class="btn btn--60 btn--fixed">
									<span>
										Регистрация на мероприятие
									</span>
								</a>
							</div>
						</div>
					</div>
					<div class="event-share">
						<p class="event-share__title">
							Поделиться:
						</p>
						<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
						<script src="https://yastatic.net/share2/share.js"></script>
						<div class="ya-share2" data-services="vkontakte,facebook,twitter,telegram" data-counter></div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
						</div>
						<div class="articles__control">
							<a href="" class="btn btn--60 articles__btn">
								<span>
									Другие новости
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
