<!DOCTYPE html>
<html lang="ru">
<head>
	<title>4.1 Новость</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Новости
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Запрет на вывоз средств индивидуальной защиты, защитных и дезинфицирующих средств, а также продукции медицинского назначения
						</span>
					</nav>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h3 class="h3">
						Запрет на вывоз средств индивидуальной защиты, защитных и дезинфицирующих средств, а также продукции медицинского назначения
					</h3>
					<time class="time">18:15 | 01.04.2020</time>
					<div class="block-text text">
						<img src="http://placehold.it/1200x900" alt="Иллюстрация новости">
						<h4>
							Вниманию экспортеров Калининградской области!
						</h4>
						<p>
							В связи с необходимостью предотвращения нехватки медицинских изделий и средств индивидуальной защиты на территории Российской Федерации Коллегия Евразийской экономической комиссии приняла решение об установлении запрета на вывоз с таможенной территории ЕАЭС средств индивидуальной защиты, защитных и дезинфицирующих средств, а также продукции медицинского назначения на срок до 30 сентября 2020 года (включительно).
						</p>
						<p>
							В случае возникновения вопросов по ведению экспортной деятельности в условиях распространения короновирусной инфекции можно обратиться в Центр поддержки экспорта Калининградской области по тел. +7 (4012) 994-588 доб. 943 или направить обращение по электронной почте export@mbkaliningrad.ru
						</p>
						<p>
							
							С документом можно ознакомиться по ссылке.
						</p>
					</div>
					<div class="share">
						<p class="share__title">
							Поделиться:
						</p>
						<script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
						<script src="https://yastatic.net/share2/share.js"></script>
						<div class="ya-share2" data-services="vkontakte,facebook,twitter,telegram"></div>
					</div>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
						</div>
						<div class="articles__control">
							<a href="" class="btn btn--60 articles__btn">
								<span>
									Все новости
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
