<!DOCTYPE html>
<html lang="ru">
<head>
	<title>4. Новости</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Новости
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Новости</span>
					</h2>
					<div class="news-tabs">
						<div class="news-tabs__links">
							<a href="" class="news-tabs__link news-tabs__link--active">
								Все
							</a>
							<a href="" class="news-tabs__link">
								Консультации
							</a>
							<a href="" class="news-tabs__link">
								Выставки
							</a>
							<a href="" class="news-tabs__link">
								Образование
							</a>
							<a href="" class="news-tabs__link">
								Бизнес-миссии
							</a>
							<a href="" class="news-tabs__link">
								Конкурсы
							</a>
							<a href="" class="news-tabs__link">
								Спорт
							</a>
						</div>
						<select class="dropdown news-tabs__dropdown">
							<option value="1">Все</option>
							<option value="2">Консультации</option>
							<option value="3">Выставки</option>
							<option value="4">Образование</option>
							<option value="5">Бизнес-миссии</option>
							<option value="6">Конкурсы</option>
							<option value="7">Спорт</option>
						</select>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__tags">
										<div class="article__tag">
											Бизнес-миссии
										</div>
										<div class="article__tag article__tag--hot">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#hot"></use>
											</svg>
										</div>
									</div>
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Бизнес-миссия в Индию
									</h3>
									<!-- Обрежь по количеству символов, чтобы на 4-5 строк в узкой новости -->
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--8" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__tags">
										<div class="article__tag">
											Конкурсы
										</div>
									</div>
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Открыт прием заявок на конкурс РФРИТ среди проектов в сфере IT
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--8" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										«МетролЭкспо-2020»
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>

							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
							<a href="" class="hide-bg article article--4" style="background-image: url('http://placehold.it/1200x900');">
								<div class="article__content">
									<div class="article__control">
										<time>09:12</time> | <time>17 февраля</time>
									</div>
									<h3 class="article__title">
										Калининградцев приглашают принять участие в выборе талисмана Всероссийской переписи – 2020
									</h3>
									<p class="article__text">
										Центра поддержки экспорта Калининградской области приглашает принять участие в центре поддержки экспорта Калининградской области приглашает принять участие в
									</p>
								</div>
							</a>
						</div>
						<div class="articles__control">
							<a href="" class="articles__btn btn btn--60">
								<span>
									Показать еще
								</span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
