<!DOCTYPE html>
<html lang="ru">
<head>
	<title>6-1. Начни свое дело</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Меры поддержки
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/" class="breadcrumbs__link">
							Микрокредитование
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Начни свое дело
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Начни свое дело</span>
						<a href="" class="btn btn--60 btn--doc title__btn">
							<span>
								Документы Фонда
							</span>
						</a>
					</h2>
					<article class="title-card" style="background-image: url('img/title-card-bg-1.png');">
						<div class="title-card__wrapper">
							<div class="title-card__content">
								<p class="title-card__discript">
									Целевое назначение
								</p>
								<h3 class="title-card__title">
									На организацию и развитие предпринимательской деятельности
								</h3>
								<div class="title-card__text">
									<a href="" class="btn btn--60 btn--opacity">
										<span>
											Скачать пакет документов
										</span>
									</a>
								</div>
							</div>
						</div>
					</article>
					<div class="articles">
						<div class="articles__content">
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-1"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Получатели займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												СМСП, зарегистрированные не более 11 месяцев  
												до момента подачи заявки в Фонд 
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-2"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Срок займа
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<p>
												до 24 месяцев
											</p>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-3"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Процентная ставка <sup>(с залогом)</sup>
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<ul>
												<li>0,5 ключевых ставки Банка России – для СМСП, зарегистрированных в моногороде «Янтарный»;</li>
												<li>1 ключевая ставка Банка России: - для СМСП при реализации им приоритетных проектов**;</li>
												<li>2 ключевых ставки Банка России* – для иных СМСП</li>
											</ul>
										</div>
									</div>
								</div>
							</article>
							<article class="icon-fact">
								<svg class="icon-fact__icon">
									<use xlink:href="img/sprites/sprite.svg#icon-fact-4"></use>
								</svg>
								<div class="icon-fact__content">
									<h4 class="icon-fact__title">
										Процентная ставка <sup>(без залога)</sup>
									</h4>
									<div class="icon-fact__text">
										<div class="text">
											<ul>
												<li>1 ключевая ставка Банка России – для СМСП, зарегистрированных в моногороде «Янтарный»;</li>
												<li>1,5 ключевой ставки Банка России* - для СМСП при реализации им приоритетных проектов**;</li>
												<li>2 ключевой ставки Банка России* – для иных СМСП</li>
											</ul>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<articles class="item-progress">
								<p class="item-progress__title">
									Максимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										300 000 руб.
									</p>
									<p class="item-progress__discript">
										(без залога)
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:30%;"></div>
									</div>
								</div>
								<div class="item-progress__block">
									<p class="item-progress__price">
										1 000 000 руб.
									</p>
									<p class="item-progress__discript">
										(с залогом)
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:80%;"></div>
									</div>
								</div>
							</articles>
							<articles class="item-progress">
								<p class="item-progress__title">
									Минимальная сумма
								</p>
								<div class="item-progress__block">
									<p class="item-progress__price">
										50 000 руб.
									</p>
									<p class="item-progress__discript">
										(с залогом)
									</p>
									<div class="item-progress__line">
										<div class="item-progress__progress" style="width:20%;"></div>
									</div>
								</div>
							</articles>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h4>
								График погашения
							</h4>
							<p>
								Возможно предоставление отсрочки до 3 (трех) месяцев по оплате основного долга, аннуитетные платежи
							</p>
							<div class="hr"></div>
							<h4>
								Досрочное погашение
							</h4>
							<p>
								Да (без комиссий)
							</p>
							<div class="hr"></div>
							<h4>
								Период деятельности заемщика
							</h4>
							<p>
								Не более 11 (одиннадцати месяцев) с даты регистрации СМСП
							</p>
							<div class="hr"></div>
							<h4>
								Обеспечение займа
							</h4>
							<p>
								До 150 тыс.рублей  - без залога, при предоставлении поручительства владельцев бизнеса.
							</p>
							<p>
								Свыше 150 тыс.рублей  до 300 тыс.рублей – без залога, при предоставлении поручительства владельцев бизнеса и предоставлении поручительства иного физического лица с обязательным предоставлением справки о доходах поручителя по форме 2-НДФЛ.
							</p>
							<p>
								Свыше 150 тыс.рублей – под залог, поручительство владельцев бизнеса.
							</p>
							<div class="hr"></div>
							<h4>
								Иные условия
							</h4>
							<p>
								По микрозаймам <b>до 300 тыс. рублей</b> цель займа - на организацию и развитие предпринимательской деятельности. Через 3 месяца после предоставления микрозайма проверяется наличие осуществления ведения предпринимательской деятельности.
							</p>
							<p>
								По микрозаймам <b>свыше 300 тыс. рублей</b> - целевой льготный микрозайм.
							</p>
							<div class="hr"></div>
							<h4>
								Лимиты финансирования
							</h4>
							<ol>
								<li>
									Заемщик может иметь не более 1 текущего льготного микрозайма, предоставленного по данной программе.
								</li>
								<li>
									Общая сумма обязательств Заемщика перед Фондом по действующим договорам льготных микрозаймов, не обеспеченных залогом, не должна превышать 500 000 (пятьсот тысяч) рублей.
								</li>
							</ol>
							<div class="hr"></div>
						</div>
					</div>
					<div class="block-text">
						<div class="text">
							<h3>
								Необходимые документы
							</h3>
						</div>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для Юридических лиц
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										Перечень и формы необходимых документов для ИП
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>



		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
