	<!DOCTYPE html>
	<html lang="ru">
	<head>
		<title>6. Микрокредитование</title>
		@@include("../blocks/modules/head/head.html")
	</head>
	<body class="body body--light">
		<div class="page">
			@@include("../blocks/modules/panel/panel.html")
			@@include("../blocks/modules/header/header.html")
			<main class="content page__content">
				<section class="section">
					<div class="container ui__container">
						<nav class="breadcrumbs">
							<a href="/" class="breadcrumbs__link">
								Главная
							</a>
							<svg class="icon-svg breadcrumbs__arrow">
								<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
							</svg>
							<span class="breadcrumbs__link breadcrumbs__link--static">
								Меры поддержки
							</span>
							<svg class="icon-svg breadcrumbs__arrow">
								<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
							</svg>
							<span class="breadcrumbs__link breadcrumbs__link--static">
								Микрокредитование
							</span>
						</nav>
					</div>
				</section>
				<section class="section">
					<div class="container">
						<h2 class="title title--line">
							<span class="title__text">Микрокредитование</span>
							<a href="" class="btn btn--60 btn--doc title__btn">
								<span>
									Документы Фонда
								</span>
							</a>
						</h2>
					</div>
				</section>
				<section class="section">
					<div class="container">
						<article class="ill-card">
							<div class="ill-card__content text">
								<h4>
									Основные требования к субъектам малого и среднего предпринимательства:
								</h4>
								<ul>
									<li>
										Наличие действующего бизнеса в Калининградской области (не менее 6 месяцев);
									</li>
									<li>
										Состоять в реестре субъектов малого и среднего предпринимательства;
									</li>
									<li>
										Наличие обеспечения (залог* и/или поручительство**) соответствующего методике работы с залогом;
									</li>
									<li>
										Отсутствие у заявителей задолженности по налогам;
									</li>
									<li>
										Наличие документов в соответствии с перечнем и формами, размещенными на сайте Фонда;
									</li>
									<li>
										Финансово-хозяйственные результаты деятельности соответствуют методике оценки кредитоспособности СМСП
									</li>
									<li>
										Обеспечение заявителем софинансирования заявленной суммы займа из собственных средств, в размере не менее 10% от суммы микрозайма.
									</li>
								</ul>
								<a href="" class="btn btn--50">
									<span>
										Подать заявку на услугу
									</span>
								</a>
							</div>
							<div class="image ill-card__thumb">
								<img class="image__pict image__pict--contain" src="img/ill-10.svg" alt="Декоративная картинка">
								<figcaption class="image__discript" aria-hidden="true">
									Декоративная картинка
								</figcaption>
							</div>
						</article>
						<p class="accent-text">
							В предоставлении льготного микрозайма СМСП должно быть отказано в следствие неисполнения вышеперечисленных условий.
						</p>
						<div class="block-text text">
							<h6>
								* Залоговым обеспечением микрозайма может выступать:
							</h6>
							<ul>
								<li>Залог недвижимости;</li>
								<li>Залог автотранспортных средств;</li>
								<li>Залог оборудования;</li>
							</ul>
							<h6>
								Залогодателем может выступать любое третье лицо (юридическое или физическое).
							</h6>
							<p>
								** Для юридических лиц обязательно поручительство руководителя и учредителя(ей) предприятия. Для индивидуальных предпринимателей, при сумме микрозайма до 300 000 рублей, обеспечением может выступать только поручительство (без залога) третьего лица (юридического или физического).
							</p>
						</div>
					</div>
				</section>
				<section class="section section--dark">
					<div class="container">
						<div class="block-text text">
							<h3>
								Условия предоставления микрозайма:
							</h3>
							<p>
								Программа микрофинансирования субъектов малого и среднего предпринимательства предусматривает предоставление микрозаймов на основе следующих условий:
							</p>
						</div>
						<div class="circle-cards">
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="23">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-1"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Сумма займа: 
								</p>
								<p class="circle-card__text">
									от 100 000 <br>
									до 5 000 000 рублей
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="78">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-2"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Срок займа: 
								</p>
								<p class="circle-card__text">
									от 3 до 36 месяцев
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="43">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-3"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Процентная ставка: 
								</p>
								<p class="circle-card__text">
									6 % годовых 
									<br>
									(IT-компании – 5 %)
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="10">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-4"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Аннуитетные платежи: 
								</p>
								<p class="circle-card__text">
									(возможна отсрочка платежа по <br> основному 
									долгу до 6 месяцев)

								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="83">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-5"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Срок рассмотрения: 
								</p>
								<p class="circle-card__text">
									до 15 дней
								</p>
							</article>
							<article class="circle-card">
								<div class="progress circle-card__icon" data-percentage="83">
									<span class="progress-left">
										<span class="progress-bar"></span>
									</span>
									<span class="progress-right">
										<span class="progress-bar"></span>
									</span>
									<div class="progress-value">
										<div class="progress-icon">
											<svg class="icon-svg">
												<use xlink:href="img/sprites/sprite.svg#icon-circle-6"></use>
											</svg>
										</div>
									</div>
								</div>
								<p class="circle-card__discript">
									Единовременная плата <br> за сопровождение:  
								</p>
								<p class="circle-card__text">
									до 1,5% от суммы микрозайма
								</p>
							</article>
							<div class="circle-card circle-card--clear"></div>
							<div class="circle-card circle-card--clear"></div>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<h2 class="title title--center">
						<span class="title__text">Контакты</span>
					</h2>
					<div class="contacts">

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

						<article class="contact-card">
							<div class="image contact-card__thumb">
								<img class="image__pict image__pict--contain" src="http://placehold.it/200x900" alt="Имя Фамилия">
								<figcaption class="image__discript" aria-hidden="true">
									Буров Роман Владимирович
								</figcaption>
							</div>
							<h4 class="contact-card__name">
								Буров <br> Роман Владимирович 
							</h4>
							<div class="contact-card__links">
								<a href="tel:+74012994588" class="contact-card__link">
									+7 (4012) 994-588 (доб. 923)
								</a>
								<a href="mailto:burov@mbkaliningrad.ru" class="contact-card__link">
									burov@mbkaliningrad.ru
								</a>
							</div>
							<p class="contact-card__discript">
								Начальник отдела <br> "Центр микрофинансирования"
							</p>
						</article>

					</div>
				</div>
			</section>
			<section class="section section--dark">
				@@include("../blocks/modules/form/form.html")
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
