<!DOCTYPE html>
<html lang="ru">
<head>
	<title>8.1 Нормативные документы</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/8-page.html" class="breadcrumbs__link">
							Консультация и обучение
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Нормативые документы
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Нормативые документы</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="block-text text">
						<h3>
							Нормативно-правовая база
						</h3>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Приказ Министерства экономического развития Российской Федерации от 14.03.2019 г. № 125 "Об утверждении Требований к реализации мероприятий, осуществляемых субъектами Российской Федерации, бюджетам которых предоставляются субсидии на государственную поддержку малого и среднего предпринимательства в субъектах Российской Федерации в целях достижения целей, показателей и результатов региональных проектов, обеспечивающих достижение целей, показателей и результатов федеральных проектов, входящих в состав национального проекта "Малое и среднее предпринимательство и поддержка индивидуальной предпринимательской инициативы", и требований к организациям, образующим инфраструктуру поддержки субъектов малого и среднего предпринимательства"
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области от 30 марта 2018 г. N 146 "Об установлении порядков предоставления из областного бюджета субсидий фонду "Центр поддержки предпринимательства Калининградской области (микрокредитная компания)" и установлении порядка предоставления из областного бюджета субсидии субъектам малого и среднего предпринимательства, а также признании утратившим силу отдельного решения Правительства Калининградской области" (с изменениями и дополнениями)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства Калининградской области от 25 марта 2014 г. N 144 «О Государственной программе Калининградской области «Развитие промышленности и предпринимательства»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							Документы Центра поддержки предпринимательства
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Программа (стратегия) развития центра поддержки предпринимательства на среднесрочный плановый период 2018-2021 гг.
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							Программа обучения
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2017 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										1 квартал 2020 года
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							План работы Центра поддержки предпринимательства
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2017 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2018 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										1 квартал 2020 года
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							План межрегиональных бизнес-миссий в другие субъекты Российской Федерации
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2018 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										1 квартал 2020 года
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
			<section class="section">
				<div class="container">
					<div class="block-text text">
						<h3>
							Отчетность Центра поддержки предпринимательства
						</h3>
						<h4>
							Отчет о деятельности Центра поддержки предпринимательства
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2017 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2018 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							Сведения об обращениях субъектов малого и среднего предпринимательства в Центр поддержки предпринимательства
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2018 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
					<div class="hr"></div>
					<div class="block-text text">
						<h4>
							Реестр субъектов малого и среднего предпринимательства - получателей поддержки
						</h4>
					</div>
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2017 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2018 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2019 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--6">
								<div class="link-card__left">
									<p class="link-card__text">
										2020 год
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
