<!DOCTYPE html>
<html lang="ru">
<head>
	<title>9.1 Нормативно-правовые акты</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content page__content">
			<section class="section">
				<div class="container ui__container">
					<nav class="breadcrumbs">
						<a href="/" class="breadcrumbs__link">
							Главная
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Меры поддержки
						</span>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<a href="/9-page.html" class="breadcrumbs__link">
							О Центре поддержки экспорта
						</a>
						<svg class="icon-svg breadcrumbs__arrow">
							<use xlink:href="img/sprites/sprite.svg#breadcrumbs__arrow"></use>
						</svg>
						<span class="breadcrumbs__link breadcrumbs__link--static">
							Нормативно-правовые акты
						</span>
					</nav>
					<h2 class="title title--line">
						<span class="title__text">Нормативно-правовые акты, регулирующие ВЭД</span>
					</h2>
				</div>
			</section>
			<section class="section section--dark">
				<div class="container">
					<div class="articles">
						<div class="articles__content">
							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Соглашения Всемирной Торговой Организации
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										«Гражданский кодекс Российской Федерации (часть первая)» от 30.11.1994 N 51-ФЗ (ред. от 03.08.2018) (с изм. и доп., вступ. в силу с 01.06.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										«Налоговый кодекс Российской Федерации (часть первая)» от 31.07.1998 N 146-ФЗ (ред. от 29.05.2019);
										«Налоговый кодекс Российской Федерации (часть вторая)» от 05.08.2000 N 117-ФЗ (ред. от 29.05.2019) (с изм. и доп., вступ. в силу с 01.06.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										«Кодекс Российской Федерации об административных правонарушениях» от 30.12.2001 N 195-ФЗ(ред. от 01.05.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										«Таможенный кодекс Евразийского экономического союза» (приложение N 1 к Договору о Таможенном кодексе Евразийского экономического союза)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										«Уголовный кодекс Российской Федерации» от 13.06.1996 N 63-ФЗ(ред. от 29.05.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 08.12.2003 N 164-ФЗ  «Об основах государственного регулирования внешнеторговой деятельности» (ред. от 01.05.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 10.12.2003 N 173-ФЗ  «О валютном регулировании и валютном контроле» (ред. от 25.12.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 27.11.2010 N 311-ФЗ  «О таможенном регулировании в Российской Федерации»(ред. от 28.11.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 08.12.2003 N 165-ФЗ «О специальных защитных, антидемпинговых и компенсационных мерах при импорте товаров» (ред. от 26.07.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 27.12.2002 N 184-ФЗ «О техническом регулировании» (ред. от 29.07.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 18.07.1999 N 183-ФЗ  «Об экспортном контроле» (ред. от 13.07.2015)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 18.07.1999 N 183-ФЗ  «Об экспортном контроле» (ред. от 13.07.2015)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 09.07.1999 N 160-ФЗ «Об иностранных инвестициях в Российской Федерации» (ред. от 31.05.2018)

									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 04.01.1999 N 4-ФЗ «О координации международных и внешнеэкономических связей субъектов Российской Федерации» (ред. от 13.07.2015)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Закон РФ от 21.05.1993 N 5003-1 «О таможенном тарифе» (ред. от 01.05.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 30.12.1995 N 225-ФЗ «О соглашениях о разделе продукции» (ред. от 27.06.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 19.07.1998 N 114-ФЗ «О военно-техническом сотрудничестве Российской Федерации с иностранными государствами» (ред. от 01.05.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Закон РФ от 07.07.1993 N 5338-1 «О международном коммерческом арбитраже» (вместе с «Положением о Международном коммерческом арбитражном суде при Торгово-промышленной палате Российской Федерации», «Положением о Морской арбитражной комиссии при Торгово-промышленной палате Российской Федерации») (ред. от 25.12.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 17.05.2007 N 82-ФЗ «О банке развития» (ред. от 29.12.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Федеральный закон от 24.07.2007 N 209-ФЗ «О развитии малого и среднего предпринимательства в Российской Федерации»(ред. от 27.12.2018)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Указ Президента РФ от 08.11.2011 N 1478 «О координирующей роли Министерства иностранных дел Российской Федерации в проведении единой внешнеполитической линии Российской Федерации»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Указ Президента РФ от 07.05.2012 N 605 «О мерах по реализации внешнеполитического курса Российской Федерации»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Указ Президента РФ от 19.08.2015 N 424 «О федеральном органе исполнительной власти, уполномоченном на осуществление функций, предусмотренных пунктами 1 и 2 статьи 4 Федерального закона от 4 января 1999 г. N 4-ФЗ «О координации международных и внешнеэкономических связей субъектов Российской Федерации»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Государственная программа Российской Федерации «Развитие внешнеэкономической деятельности»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 07.12.2001 N 866 «О Федеральной целевой программе развития Калининградской области на период до 2020 года» (ред. от 02.03.2019)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 07.02.2003 N 79 «Об утверждении Положения о подготовке и подписании международных межправительственных актов, не являющихся международными договорами Российской Федерации»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 17.12.2016 N 1388 «О предоставлении субсидий из федерального бюджета производителям высокотехнологичной продукции на компенсацию части затрат, связанных с сертификацией продукции на внешних рынках при реализации инвестиционных проектов» (ред. от 01.11.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Постановление Правительства РФ от 15 декабря 2016 г. № 1368 «О предоставлении субсидий российским производителям на финансирование части затрат, связанных с регистрацией на внешних рынках объектов интеллектуальной собственности»(ред. от 02.12.2017)
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>

							<a href="" target="_blank" class="link-card link-card--12 link-card--light">
								<div class="link-card__left">
									<p class="link-card__text">
										Дорожная карта «Поддержка доступа на рынки зарубежных стран»
									</p>
								</div>
								<div class="link-card__right">
									<svg class="icon-svg none-image">
										<use xlink:href="img/sprites/sprite.svg#link-card"></use>
									</svg>
									<span class="link-card__discript">
										Скачать
									</span>
								</div>
							</a>
						</div>
					</div>					
				</div>
			</section>
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/vendor.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
