<!DOCTYPE html>
<html lang="ru">
<head>
	<title>1.Главная</title>
	@@include("../blocks/modules/head/head.html")
</head>
<body class="body body--light">
	<div class="page">
		@@include("../blocks/modules/panel/panel.html")
		@@include("../blocks/modules/header/header.html")
		<main class="content">
			@@include("../blocks/modules/1_intro/intro.html")
			@@include("../blocks/modules/1_stories/stories.html")
			@@include("../blocks/modules/1_factoid/factoid.html")
			@@include("../blocks/modules/1_news/news.html")
			<section class="front-events">
				<div class="container front-events__container">
					<h2 class="title title--line front-events__title">
						<span class="title__text">Мероприятия</span>
						<a href="" class="btn btn--60 title__btn">
							<span>
								Смотреть все
							</span>
						</a>
					</h2>
					@@include("../blocks/modules/1_events/events.html")
				</div>
			</section>
			@@include("../blocks/modules/1_slider/slider.html")
			@@include("../blocks/modules/1_partners/partners.html")
			@@include("../blocks/modules/1_map/map.html")
		</main>
		@@include("../blocks/modules/footer/footer.html")
	</div>

	@@include("../blocks/modules/m-menu/m-menu.html")

	<script src="js/main.js"></script>
	<script src="js/vendor.js"></script>
</body>
</html>
