.form {
	padding: rem(70px) rem(96px);
	border: 2px solid #D1D9DD;
	box-sizing: border-box;
	border-radius: 5px;
	background-image: url('../img/form-bg.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 60px) 30px;
	background-color: $light;
	position: relative;
	&--modal {
		padding: 0px;
		border: none;
		background-image: none;
	}
	&--event {
		margin-bottom: 50px;
	}
	&--send {
		.form__message {
			opacity: 1;
			visibility: visible;
		}
	}
	&__message {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $light;
		align-items: center;
		transition: 0.3s opacity;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		&-icon {
			width: 72px;
			height: 72px;
			margin-bottom: 32px;
			@include r(750) {
				width: 42px;
				height: 42px;
				margin-bottom: 22px;
			}
		}
		&-title {
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 20px;
			font-size: 32px;
			@include r(750) {
				font-size: 24px;
				margin-bottom: 16px;			
			}
		}
		&-discript {
			font-size: 18px;
			@include r(750) {
				font-size: 14px;			
			}
		}
	}
	@include r(750) {
		padding: rem(25px);
	}
	&__head-text {
		font-weight: 500;
		font-size: rem(24px);
		margin-bottom: rem(25px);
		@include r(1200) {
			font-size: rem(20px);
			margin-bottom: rem(20px);
		}
	}
	&__radios {
		margin-bottom: rem(28px);
		display: flex;
		@include r(1200) {
			display: block;
		}
	}
	&__radio {
		margin-right: rem(60px);
		@include r(1200) {
			margin-right: 0px;
			margin-bottom: rem(20px);
		}
		&:last-child {
			margin-right: 0px;
			@include r(1200) {
				margin-bottom: rem(20px);
			}
		}
	}
	&__fields {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(30px);
		flex-wrap: wrap;
		@include r(1200) {
			display: block;
			margin-bottom: rem(50px);
		}
	}
	&__control {
		display: flex;
		align-items: center;
		@include r(1200) {
			flex-wrap: wrap;
		}
	}
	&__btn {
		width: rem(200px);
		flex-shrink: 0;
		margin-right: rem(50px);
	}
	&__accept {
		margin-bottom: 15px;
		@include r(1200) {
			width: 100%;
			order: -1;
			margin-bottom: rem(20px);
		}
		&--bitrix {
			
		}
	}
	&__clear {
		display: block;
		height: 0px;
		width: 100%;
		border: none;
		visibility: hidden;
		margin: 0px;
	}
}

.body {
	&--light {
		
	}
	&--dark {
		.form {
			background-image: none !important;
			border: 1px solid $light;
			background-color: $black;
		}
	}
}

.ui-timepicker-standard {
	background-color: $light;
	z-index: 5000 !important;
}