.none {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../img/bg-404.svg');
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
	&__container {
		display: flex;
		align-items: center;
		min-height: 850px;
	}
	&__content {
		text-align: center;
		width: calc(100% / 12 * 5);
	}
	&__title {
		width: 424px;
		max-width: 100%;
		height: 178px;
		margin-bottom: rem(45px);
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	&__discript {
		font-size: 24px;
		margin-bottom: rem(30px);
	}
	&__btn {
		padding-left: rem(64px);
		padding-right: rem(64px);
	}
}