.factoid {
	background-color: #F7F9FA;
	background-position: left;
	background-size: contain;
	background-repeat: no-repeat;
	padding-top: rem(130px);
	padding-bottom: rem(130px);
	&__container {
		background-repeat: no-repeat;
		background-position: 45% 24%;
	}
	&__columns {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__column {
		&--left {
			width: calc(100% / 12 * 5);
			flex-shrink: 0;
		}
		&--right {
			width: calc(100% / 12 * 5);
		}
	}
	&__thumb {
		width: 476px;
		height: 476px;
		border-radius: 500px;
		overflow: hidden;
	}
	&__number {
		margin-bottom: rem(9px);
		font-weight: bold;
		font-size: rem(120px);
		line-height: rem(141px);
	}
	&__discript {
		font-weight: normal;
		font-size: rem(30px);
		line-height: rem(35px);
		margin-bottom: rem(33px);
	}
	&__btn {
		width: 230px;
	}
}

.body {
	&--light {
		.factoid {
			background-color: #F7f9FA;
			color: $black;
			&__number {
				color: $red;
			}
			&__container {
				background-image: url('../img/factoid-decor.svg');
			}
		}
	}
	&--dark {
		.factoid {
			background-color: $black;
			color: $light;
			background-image: none !important;
			&__container {
				background: none;
			}
			&__number {
				color: $light;
			}
		}
	}
}