.block-text {
	margin-bottom: rem(50px);
	&--centered {
		max-width: rem(820px);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: block;
		}
	}
	&__column {
		width: calc(50% - 10px);
		@include r(1200) {
			width: 100%;
		}
		&--4 {
			width: calc(100% / 3 - 10px);
			@include r(1200) {
				width: 100%;
			}
		}
	}
	&__arrow {
		background-size: 100% 100%;
		display: block;
		width: calc(100% - 60px);
		color: $light;
		font-weight: 500;
		padding: 20px 40px;
		background-color: $red;
		margin-bottom: 30px;
		margin-right: 50px;
		position: relative;
		min-height: 76px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		@include r(1200) {
			width: 100%;
		}
		&:after {
			content: "";
			left: 100%;
			top: 0px;
			bottom: 0px;
			width: 50px;
			position: absolute;
			background-repeat: no-repeat;
			background-image: url("../img/block-arrow.svg");
			@include r(1200) {
				display: none;
			}
		}
	}
	&:last-child {
		margin-bottom: 0;
	}
	@include r(1200) {
		margin-bottom: rem(30px);
	}
	&--dark {
		background-color: #f7f9fa;
		padding: rem(60px) rem(52px);
	}
}

.body {
	&--light {
	}
	&--dark {
		.block-text {
			&--dark {
				background-color: $black;
				border: 1px solid $light;
			}
		}
	}
}

.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	font-weight: 500;
	font-size: rem(14px);
	text-decoration: none !important;
	background-color: $red;
	border: 1px solid $red;
	cursor: pointer;
	transition: 0.3s all;
	font-family: $font;
	span {
		color: $light;
	}
	&:hover {
		opacity: 0.7;
	}
	&--50 {
		height: rem(50px);
	}
	&--60 {
		height: rem(60px);
	}
	&--gray-light {
		border: 1px solid $red;
		background-color: #fcf1ef;
		span {
			color: $black;
		}
	}
	&--doc {
		border: 1px solid $red;
		background-color: #f7f9fa;
		span {
			color: $black;
		}
	}
	&--disabled {
		opacity: 0.7;
		pointer-events: none;
		background-color: #d1d9dd;
		border-color: #d1d9dd;
	}
	&--input {
		color: $light;
		padding-left: 30px;
		padding-right: 30px;
	}
	&--light {
		background-color: $light;
		width: fit-content;
		padding-left: 46px;
		padding-right: 46px;
		span {
			color: $red;
		}
	}
	&--fixed {
		width: 250px;
		max-width: 100%;
	}
	&--opacity {
		background-color: inherit;
		color: $red;
		width: fit-content;
		padding-left: 46px;
		padding-right: 46px;
		span {
			color: $red;
		}
	}
	&--black {
		color: $light;
		background-color: #000000;
		border: 1px solid #000000;
	}
	&--grey-border {
		border: 1px solid #ebebeb;
		background-color: $light;
		span {
			color: #000000;
		}
	}
	&--active-tab {
		background-color: #000000 !important;

		span {
			color: $light !important;
		}
	}
	svg + span {
		margin-left: rem(10px);
	}
	span + svg {
		margin-left: rem(10px);
	}
	svg {
		width: 22px;
		height: 22px;
	}
}

.megacustom-btn {
	margin-top: 50px;
	margin-bottom: 80px;
	@include r(1200) {
		margin-top: 30px;
		margin-bottom: 50px;
	}
}

.body {
	&--light {
	}
	&--dark {
		.btn {
			&--gray-dark {
				color: $light;
				border-color: $light;
				background-color: none;
			}
			&--gray-light {
				background-color: $black;
				span {
					color: $light;
				}
			}
		}
	}
}

// Flex-родитель с переносом
.articles {
	width: 100%;
	margin-bottom: rem(50px);
	&__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: rem(30px);
		width: 100%;
		&--center {
			justify-content: center;
		}
	}
	&__control {
		text-align: center;
		&--left {
			text-align: left;
		}
	}
	&__btn {
		min-width: rem(180px);
		padding-left: rem(20px);
		padding-right: rem(20px);
		margin-right: rem(20px);
		margin-bottom: rem(20px);
		&:last-of-type {
			margin-bottom: 0;
		}
		&--loading {
		}
	}
	&__icon {
		&--loading {
			width: 26px;
			height: 26px;
			animation: 1s linear 0s normal none infinite running rot;
		}
		@keyframes rot {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(-360deg);
			}
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.marked-block {
	margin-bottom: rem(40px);
	font-size: rem(14px);
	&__title {
		color: $accent;
		margin-bottom: rem(5px);
	}
	&__text {
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: rem(50px);
	@include r(750) {
		display: none;
		visibility: hidden;
	}
	&__link {
		text-decoration: none;
		color: $black;
		white-space: nowrap;
		&:hover {
			opacity: 0.7;
		}
		&--static {
			color: #738d9a;
			font-weight: 300;
			pointer-events: none;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
	&__arrow {
		flex-shrink: 0;
		display: block;
		height: rem(8px);
		width: rem(8px);
		margin-left: rem(10px);
		margin-right: rem(10px);
	}
}

.body {
	&--light {
	}
	&--dark {
		.breadcrumbs {
			&__link {
				color: $light;
			}
		}
	}
}

.title {
	font-weight: bold;
	padding-bottom: rem(22px);
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-bottom: rem(50px);
	line-height: 1.2;
	@include r(1200) {
		display: block;
	}
	@include r(750) {
		margin-bottom: 40px;
		padding-bottom: 18px;
	}
	&--center {
		justify-content: center;
	}
	&--line {
		&:after {
			content: "";
			width: 126px;
			background-color: $red;
			height: 4px;
			display: block;
			position: absolute;
			left: 0px;
			top: 100%;
		}
	}
	&__btn {
		width: rem(230px);
		background-color: #fcf1ef !important;
		@include r(1200) {
			display: flex;
		}
		span {
			color: $black;
		}
	}
	&__text {
		font-size: rem(48px);
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 100%;
		&--small {
			font-size: 36px;
		}
		strong {
			color: $red;
		}
		@include r(1200) {
			font-size: rem(40px);
			display: inline-block;
			margin-bottom: rem(20px);
		}
		@include r(750) {
			font-size: rem(32px);
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.title {
			&__btn {
				background-color: $black !important;
				span {
					color: $light;
				}
			}
		}
	}
}

.h3 {
	margin-bottom: rem(60px);
	font-weight: 500;
	font-size: rem(36px);
	line-height: rem(42px);
	&--center {
		text-align: center;
	}
	@include r(1200) {
		font-size: 26px;
		margin-bottom: 2rem;
		line-height: 1.3;
	}
}

// .body {
// 	&--light {

// 	}
// 	&--dark {

// 	}
// }

// .h4 {
// 	font-weight: 500;
// 	font-size: rem(24px);
// 	margin-bottom: rem(35px);
// }

// .body {
// 	&--light {

// 	}
// 	&--dark {

// 	}
// }

.title-card {
	overflow: hidden;
	border-radius: 5px;
	display: flex;
	align-items: center;
	background-size: cover;
	background-position: center;
	margin-bottom: rem(60px);
	width: 100%;
	text-decoration: none;
	color: inherit;
	@include r(750) {
		display: none;
		visibility: hidden;
	}
	&--m {
		@include r(750) {
			display: flex;
			visibility: visible;
			background: none !important;
		}
	}
	&--light {
		.title-card__wrapper {
			background: linear-gradient(90deg, #ffffff 62%, rgba(255, 255, 255, 0) 100%);
		}
	}
	&--clean {
		.title-card__wrapper {
			background: none;
		}
	}
	&__discript {
		color: $gray;
		margin-bottom: 1rem;
		font-weight: 300;
	}
	&__wrapper {
		min-height: rem(360px);
		background: linear-gradient(90deg, #f7f9fa 62%, rgba(255, 255, 255, 0) 100%);
		@include r(1200) {
			height: auto;
			min-height: 0px;
		}
	}
	&__content {
		width: calc(100% / 12 * 8);
		padding: rem(50px);
		@include r(1200) {
			width: 100%;
		}
		@include r(750) {
			padding: rem(30px);
		}
		&--m {
			width: calc(100% / 12 * 6);
			@include r(1200) {
				width: 100%;
			}
		}
	}
	&__title {
		font-weight: 500;
		font-size: rem(24px);
		margin-bottom: rem(35px);
		@include r(1200) {
			font-size: rem(20px);
			margin-bottom: rem(25px);
		}
	}
	&__text {
		color: #58595b;
		line-height: 1.5;
		font-weight: 300;
		& :last-child {
			margin-bottom: 0;
		}
		p {
			margin-bottom: 1rem;
		}
		strong {
			font-weight: 600;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.title-card {
			border: 1px solid $light;
			background-image: none !important;
			&--light {
				.title-card__wrapper {
					background: none;
				}
			}
			&__wrapper {
				background: none;
			}
			&__text {
				color: $light;
			}
		}
	}
}

.accent-text {
	border-radius: 5px;
	border: 1px solid #c39367;
	padding: rem(20px) rem(34px);
	line-height: 1.5;
	margin-bottom: rem(60px);
	@include r(750) {
		padding: rem(15px) rem(25px);
	}
}

.body {
	&--light {
	}
	&--dark {
		.accent-text {
			border: 1px solid $light;
		}
	}
}

.link-card {
	border-radius: 5px;
	display: flex;
	align-items: center;
	color: $black;
	text-decoration: none;
	margin-bottom: rem(20px);
	justify-content: space-between;
	background-color: #f7f9fa;
	@include r(1200) {
		display: block;
	}
	&--clear {
		overflow: hidden;
		height: 0px;
		margin-bottom: 0px;
		@include r(1200) {
			display: none !important;
		}
	}
	&--light {
		background-color: $light;
	}
	&--4 {
		width: calc(100% / 3 - 40px / 3);
		@include r(1200) {
			width: 100%;
		}
	}
	&--6 {
		width: calc(50% - 10px);
		@include r(1200) {
			width: 100%;
		}
	}
	&--12 {
		width: 100%;
	}
	&:hover {
		opacity: 0.7;
	}
	&__left {
		padding-top: rem(52px);
		padding-left: rem(50px);
		padding-bottom: rem(52px);
		padding-right: rem(15px);
		@include r(1200) {
			padding: rem(30px);
			padding-bottom: rem(10px);
		}
	}
	&__right {
		padding-top: rem(28px);
		padding-right: rem(50px);
		padding-bottom: rem(28px);
		padding-left: rem(15px);
		flex-shrink: 0;
		text-align: center;
		@include r(1200) {
			padding: rem(30px);
			text-align: left;
			padding-top: rem(10px);
		}
		svg {
			display: block;
			width: 50px;
			height: 46px;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: rem(4px);
			@include r(1200) {
				display: none;
			}
		}
	}
	&__discript {
		text-decoration: underline;
		font-weight: 300;
		font-size: rem(14px);
	}
	&__text {
		// font-weight: 500;
	}
}

.body {
	&--light {
	}
	&--dark {
		.link-card {
			background-color: $black;
			color: $light;
			border: 1px solid $light;
			&--clear {
				border: none;
			}
		}
	}
}

.link-block {
	margin-bottom: rem(20px);
	background: #ffffff;
	border: 1px solid #d1d9dd;
	box-sizing: border-box;
	border-radius: 5px;
	padding: rem(20px) rem(55px) rem(20px) rem(30px);
	display: block;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-image: url("../img/dots-bg.svg");
	background-size: 306px auto;
	background-repeat: no-repeat;
	background-position: right;
	color: $black;
	text-decoration: none;
	@include r(1200) {
		display: block;
		background: none !important;
		text-align: center;
		padding: rem(20px);
	}
	&:hover {
		opacity: 0.7;
	}
	&__thumb {
		display: block;
		width: 34px;
		height: 34px;
		flex-shrink: 0;
		margin-right: 18px;
		flex-shrink: 0;
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	&__title {
		font-size: rem(18px);
		flex-grow: 1;
		@include r(1200) {
			margin-bottom: rem(20px);
		}
	}
	&__btn {
		flex-shrink: 0;
		padding-left: rem(60px);
		padding-right: rem(60px);
	}
}

.body {
	&--light {
	}
	&--dark {
		.link-block {
			background-color: $black;
			color: $light;
		}
	}
}

.text-card {
	background-color: $light;
	margin-bottom: 3rem;
	padding: rem(30px) rem(40px) rem(40px) rem(40px);
	a {
		color: $accent;
	}
	&--dark {
		background-color: #f7f9fa;
	}
}

.body {
	&--light {
	}
	&--dark {
		.text-card {
			border: 1px solid $light;
			background-color: $black;
			padding: rem(25px);
			&--dark {
				background-color: $black;
			}
		}
	}
}

.factoid-card {
	width: calc(100% / 3 - 40px / 3);
	margin-bottom: 20px;
	position: relative;
	padding: rem(25px) rem(35px);
	padding-bottom: rem(50px);
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: calc(100% - 35px) calc(100% - 25px);
	background-size: 124px 124px;
	background-color: $light;
	@include r(1200) {
		width: calc(50% - 10px);
	}
	@include r(750) {
		width: calc(100%);
	}
	&--50 {
		width: calc(50% - 10px);
	}
	&--dark {
		background-color: #f7f9fa;
	}
	&--clear {
		height: 0px;
		margin: 0px;
		visibility: hidden;
		padding: 0px;
	}
	&__icon {
		width: 45px;
		height: 45px;
		margin-bottom: rem(25px);
		svg {
			display: block;
			height: 35px;
			width: 35px;
		}
	}
	&__top-text {
		font-weight: 300;
		margin-bottom: rem(12px);
	}
	&__accent {
		font-weight: bold;
		font-size: rem(36px);
	}
	&__bottom-text {
		font-weight: 300;
		margin-bottom: 0.5em;
	}
}

.body {
	&--light {
	}
	&--dark {
		.factoid-card {
			background-color: $black;
			background-image: none !important;
			border: 1px solid $light;
		}
	}
}

// ДОДЕЛАТЬ

.progress-card {
	width: 100%;
	background: #f7f9fa;
	border-radius: 5px;
	padding: rem(20px) 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	@include r(750) {
		display: block;
	}
	&__title {
		flex-grow: 1;
		min-width: 0px;
		padding: rem(30px) rem(50px);
		@include r(750) {
			padding: rem(25px);
			padding-bottom: rem(10px);
		}
	}
	&__result {
		width: 170px;
		flex-shrink: 0;
		color: $accent;
		padding: rem(30px) rem(50px);
		border-left: 1px solid $accent;
		@include r(750) {
			width: 100%;
			padding-bottom: rem(10px);
			padding: rem(25px);
			font-size: 36px;
			font-weight: bold;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.progress-card {
			background-color: $black;
			border: 1px solid $light;
		}
	}
}

.factoid-column {
	width: calc(50% - 10px);
	margin-bottom: 20px;
	position: relative;
	padding: rem(35px);
	border-radius: 5px;
	background-color: $light;
	line-height: 1.5;
	@include r(1200) {
		padding: rem(25px);
		width: 100%;
	}
	&--dark {
		background-color: #f7f9fa;
	}
	&--small {
		width: calc(100% / 3 - 20px);
		@include r(1200) {
			width: 100%;
		}
	}
	&--clear-small {
		height: 0px;
		padding: 0px;
		visibility: hidden;
		@include r(1200) {
			display: none;
		}
	}
	&__title {
		padding-bottom: rem(22px);
		font-weight: 500;
		font-size: rem(24px);
		position: relative;
		margin-bottom: rem(35px);
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0px;
			background-color: $red;
			height: 2px;
			width: 100%;
			max-width: 127px;
		}
		&--small {
			font-size: rem(16px);
			padding-bottom: rem(10px);
			margin-bottom: rem(20px);
		}
	}
	&__hr {
		margin-bottom: rem(38px);
	}
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: rem(35px);
	}
	&__icon {
		display: block;
		height: 34px;
		width: 34px;
		flex-shrink: 0px;
		margin-right: 35px;
	}
	&__header-name {
		font-weight: 500;
		font-size: 18px;
	}
	&__items {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: rem(30px);
		margin-bottom: rem(35px);
		border-bottom: 1px solid #d1d9dd;
		&:last-child {
			border: 0px;
		}
	}
	&__item {
		width: 50%;
		padding-right: 12px;
	}
	&__accent {
		margin-bottom: rem(10px);
		font-weight: bold;
		font-size: 36px;
	}
	&__text {
		margin-bottom: rem(10px);
	}
}

.body {
	&--light {
	}
	&--dark {
		.factoid-column {
			background-color: $black;
		}
	}
}

.contacts {
	display: flex;
	justify-content: space-around;
	padding-left: 140px;
	padding-right: 140px;
	flex-wrap: wrap;
	@include r(1200) {
		padding-left: rem(50px);
		padding-right: rem(50px);
	}
	@include r(750) {
		padding-right: rem(25px);
		padding-left: rem(25px);
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.contact-card {
	width: 33%;
	text-align: center;
	margin-bottom: rem(60px);
	@include r(750) {
		width: 50%;
	}
	@include r(550) {
		width: 100%;
	}
	&--clear {
		opacity: 0;
		visibility: hidden;
		height: 0;
		margin: 0;
		padding: 0;
	}
	&__thumb {
		margin-left: auto;
		margin-right: auto;
		border-radius: 200px;
		overflow: hidden;
		width: 178px;
		height: 178px;
		margin-bottom: rem(20px);
		img {
			display: block;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}
	&__name {
		font-weight: 500;
		font-size: rem(20px);
		margin-bottom: rem(12px);
	}
	&__links {
		margin-bottom: rem(10px);
	}
	&__link {
		display: block;
		color: $black;
		text-decoration: none;
		font-weight: 300;
		line-height: 1.5;
		&:hover {
			opacity: 0.7;
		}
	}
	&__discript {
		color: #c39367;
		font-weight: 300;
	}
}

.body {
	&--light {
	}
	&--dark {
		.contact-card {
			&__link {
				color: $light;
			}
		}
	}
}

.video-block {
	text-align: center;
	padding: rem(60px) rem(85px) rem(42px) rem(85px);
	background: #f7f9fa;
	border-radius: 5px;
	margin-bottom: 20px;
	@include r(600) {
		padding: rem(25px);
	}
	&--6 {
		width: calc(50% - 10px);
		@include r(1200) {
			width: 100%;
		}
	}
	&__title {
		margin-bottom: rem(30px);
		font-weight: 500;
		font-size: 24px;
	}
	&__iframe {
		margin-bottom: rem(24px);
		iframe {
			height: 218px;
			display: block;
			width: 100%;
			@include r(1200) {
				height: rem(300px);
			}
			@include r(600) {
				height: rem(200px);
			}
		}
	}
	&__btn {
		padding-left: 26px;
		padding-right: 26px;
	}
}

.body {
	&--light {
	}
	&--dark {
		.video-block {
			background-color: $black;
			border: 1px solid $light;
		}
	}
}

.video-article {
	width: 100%;
	padding-bottom: rem(50px);
	border-bottom: 1px solid #58595b;
	margin-bottom: rem(60px);
	&__title {
		font-weight: 500;
		font-size: 36px;
		margin-bottom: rem(40px);
		@include r(750) {
			font-size: rem(22px);
			margin-bottom: rem(30px);
		}
	}
	&__columns {
		display: flex;
		justify-content: space-between;
		@include r(750) {
			display: block;
		}
	}
	&__video {
		width: calc(100% / 12 * 7 - 10px);
		height: 392px;
		@include r(750) {
			width: 100%;
			margin-bottom: rem(30px);
			height: 300px;
		}
		iframe {
			height: 100% !important;
			width: 100% !important;
		}
	}
	&__text {
		width: calc(100% / 12 * 5 - 10px);
		padding-left: 26px;
		@include r(750) {
			width: 100%;
			padding-left: 0px;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.drop-card {
	margin-bottom: rem(20px);
	width: 100%;
	&--accent {
		.drop-card__header {
			background-color: $red;
			color: $light;
			border: none;
		}
		.drop-card__icon {
			stroke: $light;
		}
	}
	&--dark {
		.drop-card__header {
			background-color: #f7f9fa;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(40px) rem(50px);
		// background: #F7F9FA; откуда это взялось?
		border: 1px solid #d1d9dd;
		box-sizing: border-box;
		border-radius: 5px;
		cursor: pointer;
		background-color: $light;
		@include r(1200) {
			padding: rem(25px);
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__main {
		max-height: 0px;
		overflow: hidden;
		transition: 0.3s all;
		visibility: hidden;
	}
	&__content {
		padding-top: rem(35px);
		padding-bottom: rem(40px);
	}
	&__title {
		font-weight: 500;
		font-size: rem(18px);
	}
	&__icon {
		transform: rotate(-180deg);
		margin-left: rem(30px);
		flex-shrink: 0;
		fill: $black;
		stroke: $black;
	}
	&--open {
		.drop-card__icon {
			transform: rotate(0deg);
		}
		.drop-card__main {
			max-height: 10000px;
			visibility: visible;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.drop-card {
			&--accent {
				.drop-card__header {
					border: 1px solid $light;
					border-radius: 5px;
				}
			}
			&--dark {
				.drop-card__header {
					background-color: $black;
				}
			}
			&__header {
				background-color: $black;
			}
			&__icon {
				fill: $light;
				stroke: $light;
			}
		}
	}
}

.ill-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	margin-bottom: rem(50px);
	padding-top: rem(50px);
	padding-bottom: rem(50px);
	@include r(1200) {
		padding-left: 20px;
		padding-right: 20px;
	}
	&--padding {
		padding: rem(50px);
		@include r(750) {
			padding: rem(25px);
		}
	}
	&--dark {
		background-color: #f7f9fa;
	}
	&--light {
		background-color: $light;
	}
	&--invert {
		.ill-card__thumb {
			order: -1;
		}
	}
	&__content {
		width: calc(100% / 12 * 7 - 25px);
		@include r(750) {
			width: 100%;
		}
	}
	&__thumb {
		height: 320px;
		width: calc(100% / 12 * 5 - 25px);
		display: flex;
		justify-content: center;
		align-items: center;
		@include r(750) {
			display: none;
			visibility: hidden;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.ill-card {
			background-color: $black;
			border: 1px solid $light;
		}
	}
}

// ДОДЕЛАТЬ

.info-card {
	padding: rem(95px) rem(50px);
	display: flex;
	justify-content: space-between;
	background-color: #f7f9fa;
	border-radius: 5px;
	margin-bottom: rem(80px);
	@include r(1200) {
		display: block;
	}
	@include r(750) {
		padding: rem(25px);
		margin-bottom: rem(50px);
	}
	&__left {
		width: calc(100% / 12 * 7 - 25px);
		@include r(1200) {
			width: 100%;
			margin-bottom: 1rem;
		}
	}
	&__right {
		width: calc(100% / 12 * 5 - 25px);
		@include r(1200) {
			width: 100%;
		}
	}
	&__thumb {
		margin-bottom: 2rem;
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__text {
		margin-bottom: 1rem;
		strong {
			font-weight: bold;
		}
		&--strong {
			font-weight: bold;
			strong {
				color: $accent;
			}
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.info-card {
			background-color: $black;
			border: 1px solid $light;
		}
	}
}

.info-block {
	padding: rem(40px) rem(45px) rem(20px) rem(45px);
	background: #f7f9fa;
	border-radius: 5px;
	margin-bottom: rem(20px);
	width: 100%;
	@include r(1200) {
		padding: rem(25px);
	}
	strong,
	b {
		color: $red;
	}
	&--accent {
		background-color: rgba(224, 78, 57, 0.1);
		background-image: url("../img/info-block-accent.svg");
		background-repeat: no-repeat;
		background-position: 90% center;
	}
	&--warning {
		background-color: rgba(224, 78, 57, 0.2);
		background-image: url("../img/info-block-warning.svg");
		background-repeat: no-repeat;
		background-position: 90% center;
	}
	&--6 {
		width: calc(50% - 10px);
		@include r(1200) {
			width: 100%;
		}
		&-clear {
			height: 0px;
			padding: 0px;
			visibility: hidden;
			@include r(1200) {
				display: none;
			}
		}
	}
	&--4 {
		width: calc(100% / 3 - 10px);
		@include r(1200) {
			width: 100%;
		}
		&-clear {
			height: 0px;
			padding: 0px;
			visibility: hidden;
			@include r(1200) {
				display: none;
			}
		}
	}
	&--light {
		background-color: $light;
	}
}

.body {
	&--light {
	}
	&--dark {
		.info-block {
			border: 1px solid $light;
			background-color: $black;
			background: none !important;
		}
	}
}

.adress-card {
	background: #f7f9fa;
	border-radius: 5px;
	padding: 50px;
	width: calc(33% - 10px);
	margin-bottom: 20px;
	font-size: rem(14px);
	@include r(1200) {
		width: 100%;
		padding: rem(25px);
	}
	&--light {
		background-color: $light;
	}
	&--clear {
		margin-bottom: 0px;
		height: 0px;
		overflow: hidden;
		padding: 0px;
	}
	&__title {
		color: $accent;
		margin-bottom: rem(9px);
	}
	&__text {
		margin-bottom: rem(26px);
	}
	a {
		text-decoration: none;
		color: $black;
		&:hover {
			text-decoration: underline;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.adress-card {
			background-color: $black;
		}
		a {
			color: $light;
		}
	}
}

.circle-card {
	text-align: center;
	margin-bottom: rem(60px);
	width: 33%;
	padding-left: rem(20px);
	padding-right: rem(20px);
	@include r(750) {
		width: 50%;
	}
	@include r(550) {
		width: 100%;
		padding-left: rem(15px);
		padding-right: rem(15px);
	}
	&--clear {
		height: 0px;
		margin-bottom: 0px;
		visibility: hidden;
	}
	&__icon {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(28px);
	}
	&__discript {
		font-weight: 300;
		font-size: rem(14px);
		margin-bottom: 0.4em;
	}
	&__text {
		font-weight: 500;
		line-height: 1.5;
	}
	&--clear {
		width: 33%;
		margin-bottom: 0px;
		padding: 0px;
		visibility: hidden;
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.icon-card {
	width: calc(50% - 10px);
	margin-bottom: rem(36px);
	@include r(750) {
		width: 100%;
	}
	&__icon {
		display: block;
		height: 36px;
		width: 36px;
		display: block;
		margin-bottom: rem(15px);
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.search {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	font-size: rem(14px);
	@include r(1200) {
		display: none;
		visibility: hidden;
	}
	&__input {
		border: none;
		display: block;
		width: 100%;
		height: rem(40px);
		padding-left: rem(17px);
		padding-right: rem(57px);
		font-weight: 300;
		&::placeholder {
			font-family: $font;
			font-weight: 300;
		}
	}
	&__btn {
		position: absolute;
		width: rem(40px);
		border: none;
		top: 0px;
		right: 0px;
		bottom: 0px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		background-color: $light;
		&:hover {
			opacity: 0.7;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&__pict {
		display: block;
		width: 100%;
		height: 100%;
		opacity: 1;
		visibility: visible;
		transition: 0.3s all;
		&--cover {
			object-fit: cover;
		}
		&--contain {
			object-fit: contain;
		}
	}
	&__discript {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		text-align: center;
		max-width: 60%;
		margin: auto;
		// z-index: -1;
		display: flex;
		justify-content: center;
		align-items: center;
		visibility: hidden;
		opacity: 0;
		transition: 0.3s opacity;
	}
	&--hide {
		display: flex;
		justify-content: center;
		alight-items: center;
		.image__pict {
			opacity: 0;
		}
		.image__discript {
			visibility: visible;
			opacity: 1;
			transition: 0.3s opacity;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.program-card {
	padding-bottom: rem(10px);
	margin-bottom: rem(35px);
	border-bottom: 1px solid #d1d9dd;
	&:last-child {
		border: 0px;
	}
	&__info {
		color: $accent;
	}
}

.body {
	&--light {
	}
	&--dark {
		.program-card {
			border-bottom: 1px solid $light;
		}
	}
}

.step-card {
	display: flex;
	align-items: center;
	padding: rem(75px) rem(25px);
	border-radius: 5px;
	background-color: $light;
	width: 100%;
	margin-bottom: 20px;
	@include r(1200) {
		padding: rem(25px);
	}
	@include r(550) {
		display: block;
	}
	&--6 {
		width: calc(50% - 10px);
		@include r(1200) {
			width: 100%;
		}
	}
	&__text {
		p {
			margin-bottom: 0px;
		}
	}
	&__icon {
		flex-shrink: 0;
		margin-right: rem(35px);
		@include r(550) {
			margin-right: 0;
			margin-bottom: rem(20px);
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.step-card {
			background-color: $black;
		}
	}
}

// ДОДЕЛАТЬ
.tabs {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d1d9dd;
	@include r(1200) {
		padding-bottom: rem(10px);
	}
	&__tabs {
		font-weight: 300;
		line-height: rem(19px);
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__nav {
		display: flex;
		align-items: center;
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__dropdown {
		display: none;
		border: 1px solid #d1d9dd;
		padding: rem(10px);
		border-radius: 5px;
		@include r(1200) {
			display: block;
			width: 230px;
			display: none;
			visibility: hidden;
		}
	}
	&__sep {
		width: 1px;
		height: 28px;
		background-color: #d1d9dd;
		display: block;
		flex-shrink: 0;
	}
	&__link {
		text-decoration: none;
		color: $black;
		font-weight: 300;
		// line-height: rem(58px);
		position: relative;
		padding-left: rem(20px);
		padding-right: rem(20px);
		flex-shrink: 0;
		max-width: 420px;
		padding-top: rem(16px);
		padding-bottom: rem(16px);
		// &:first-child {
		// 	padding-left: 0px;
		// }
		&:hover {
			opacity: 0.6;
		}
		&--active {
			font-weight: 500;
			pointer-event: none;
			&:after {
				position: absolute;
				top: 100%;
				height: 1px;
				content: "";
				left: 0px;
				right: 0px;
				background-color: $red;
			}
		}
	}
	&__btns {
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__btn {
		display: inline-flex;
		height: rem(36px);
		width: rem(36px);
		align-items: center;
		justify-content: center;
		svg {
			display: block;
			width: 24px;
			height: 20px;
			fill: #d1d9dd;
		}
		&:hover {
			opacity: 0.7;
		}
		&--active {
			pointer-events: none;
			svg {
				fill: $accent;
			}
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

// ДОДЕЛАТЬ
.tab-btns {
	display: flex;
	align-items: center;
	margin-bottom: rem(50px);
	justify-content: space-between;
	&__nav {
		min-width: 0px;
		flex-grow: 1;
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__toolbar {
		flex-shrink: 0;
	}
	&__link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		height: rem(36px);
		padding-left: rem(34px);
		padding-right: rem(34px);
		border-radius: 20px;
		background: #f7f9fa;
		color: #58595b;
		font-size: rem(14px);
		font-weight: normal;
		margin-right: rem(5px);
		&:hover {
			opacity: 0.7;
		}
		&--selected {
			color: $light;
			background-color: $red;
			pointer-events: none;
		}
	}
	&__dropdown {
		display: none;
		visibility: hidden;
		@include r(1200) {
			display: block;
			visibility: visible;
			margin-right: 15px;
		}
	}
	&__btn {
		display: inline-flex;
		height: rem(36px);
		width: rem(36px);
		align-items: center;
		justify-content: center;
		&:hover {
			opacity: 0.7;
		}
		&--active {
			pointer-events: none;
			svg {
				display: block;
				fill: $accent !important;
			}
		}
		svg {
			display: block;
			width: 24px;
			height: 20px;
			fill: #d1d9dd;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.tab-btns {
			&__link {
				background-color: $black;
				border: 1px solid $light;
				&--selected {
					background-color: $light;
					color: $black;
				}
			}
		}
	}
}

.dropdown {
	height: 35px;
	padding-left: 8px;
	// width: 280px;
	min-width: 0px;
	flex-grow: 1;
	max-width: 100%;
	padding-right: 8px;
	background: #f7f9fa;
	background: #f7f9fa;
	border-radius: 30px;
	color: #58595b;
	font-weight: 400;
}

.body {
	&--light {
	}
	&--dark {
	}
}

.books {
	&--cards {
		.book-card {
			background-color: #f7f9fa;
			width: calc(100% / 3 - 10px);
			display: block;
			padding: rem(25px);
			text-decoration: none;
			color: $black;
			margin-bottom: rem(20px);
			@include r(980) {
				width: calc(50%);
			}
			@include r(550) {
				width: calc(100%);
			}
			&--clear {
				width: calc(100% / 3 - 10px);
				@include r(980) {
					width: calc(50%);
				}
				@include r(550) {
					width: calc(100%);
				}
			}
			&:hover {
				opacity: 0.7;
			}
			&__column-thumb {
				padding-left: rem(25px);
				padding-right: rem(25px);
				padding-right: rem(25px);
				padding-bottom: rem(25px);
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				max-width: 100%;
				position: relative;
				height: 350px;
				@include r(550) {
					height: auto;
				}
				img {
					object-fit: contain;
					height: 100%;
					width: 100%;
					@include r(550) {
						height: auto;
					}
				}
			}
			&__column-content {
				padding-left: rem(0px);
				padding-right: rem(0px);
			}
			&__tag {
				position: absolute;
				z-index: 2;
				top: rem(22px);
				left: 0;
				background-color: $red;
				color: $light;
				font-weight: normal;
				padding: rem(12px) rem(32px);
			}
			&__title {
				font-size: rem(18px);
				text-align: center;
			}
			&__text {
				max-height: 0px;
				overflow: hidden;
			}
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.book-card {
	width: 100%;
	background-color: #f7f9fa;
	display: flex;
	padding: rem(50px);
	text-decoration: none;
	color: $black;
	margin-bottom: rem(20px);
	border-radius: 5px;
	@include r(1200) {
		padding: rem(25px);
	}
	&:hover {
		opacity: 0.7;
	}
	&__column-thumb {
		padding-left: rem(25px);
		padding-right: rem(25px);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 380px;
		max-width: 100%;
		flex-shrink: 0;
		position: relative;
		margin-bottom: rem(20px);
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
		img {
			object-fit: contain;
			height: 100%;
			width: 100%;
		}
	}
	&__column-content {
		padding-left: rem(25px);
		padding-right: rem(25px);
		@include r(1200) {
			padding: 0px;
		}
	}
	&__tag {
		position: absolute;
		z-index: 2;
		top: rem(22px);
		left: 0;
		background-color: $red;
		color: $light;
		font-weight: normal;
		padding: rem(12px) rem(32px);
	}
	&__title {
		font-weight: bold;
		font-size: rem(24px);
		margin-bottom: rem(20px);
	}
	&__text {
	}
}

.body {
	&--light {
	}
	&--dark {
		.book-card {
			background-color: $black;
			color: $light;
		}
	}
}

.news-tabs {
	margin-bottom: rem(50px);
	display: flex;
	flex-wrap: wrap;
	&__links {
		@include r(1200) {
			display: none;
			visibility: hidden;
		}
	}
	&__dropdown {
		display: none;
		@include r(1200) {
			display: block;
			flex-grow: 1;
			min-width: 0px;
		}
	}
	&__link {
		height: 35px;
		display: inline-flex;
		align-items: center;
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 10px;
		background: #f7f9fa;
		border-radius: 30px;
		text-decoration: none;
		background: #f7f9fa;
		border-radius: 30px;
		color: #58595b;
		font-weight: 400;
		margin-bottom: 10px;
		&:hover {
			opacity: 0.7;
		}
		&:last-child {
			margin-right: 0px;
		}
		&--active {
			pointer-events: none;
			color: $light;
			background-color: $red;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.news-tabs {
			&__link {
				background-color: $black;
				border: 1px solid $light;
				&--active {
					background-color: $red;
					border: 1px solid $red;
				}
			}
		}
	}
}

.hr {
	margin-bottom: 1rem;
	background-color: #d1d9dd;
	height: 1px;
	width: 100%;
	display: block;
}

.body {
	&--light {
	}
	&--dark {
	}
}

.time {
	margin-bottom: rem(40px);
	display: inline-block;
	font-weight: 400;
}

.share {
	margin-bottom: 2rem;
	&__title {
		margin-bottom: 0.5em;
		font-weight: 400;
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.units {
	border: 1px solid red;
	&__header {
	}
	&__main {
		padding-top: rem(60px);
		// padding-bottom: rem(60px);
	}
	&__block {
		visibility: hidden;
		display: none;
		&--active {
			display: block;
			visibility: visible;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.icon-list {
	margin-bottom: rem(50px);
	&__li {
		margin-bottom: rem(26px);
		display: flex;
		align-items: center;
		@include r(1200) {
			align-items: flex-start;
		}
		@include r(750) {
			display: block;
		}
	}
	&__icon {
		flex-shrink: 0;
		width: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		font-weight: 500;
		font-size: 18px;
		background-image: url("../img/li-bg.svg");
		margin-right: 33px;
		@include r(750) {
			margin-right: 0px;
			margin-bottom: rem(15px);
		}
	}
	&__text {
		p {
			margin: 0;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.step-link {
	width: 100%;
	background-color: $light;
	padding: rem(40px) rem(35px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	min-height: 200px;
	border-radius: 10px;
	margin-bottom: 20px;
	text-decoration: none;
	color: $black;
	&:hover {
		box-shadow: 0px 4px 20px rgba(35, 80, 95, 0.1);
	}
	&--4 {
		width: calc(100% / 3 - 10px);
		@include r(1200) {
			width: calc(50% - 10px);
		}
		@include r(750) {
			width: 100%;
		}
	}
	@include r(1200) {
		padding: rem(25px);
		min-height: 160px;
	}
	&__number {
		position: absolute;
		bottom: 0;
		right: 10px;
		line-height: 0.7;
		color: #f7f9fa;
		font-weight: 500;
		font-size: 144px;
		opacity: 0.5;
	}
	&__link-icon {
		background-color: $red;
		border-radius: 5px;
		height: 45px;
		width: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			width: 24px;
			height: 16px;
			display: block;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.step-link {
			background-color: $black;
			border: 1px solid $light;
			&__number {
				display: none;
			}
		}
	}
}

.body {
	&--light {
		.title {
			font-weight: bold;
			&__text {
				color: $black;
			}
		}
		.image {
			&__discript {
				color: $black;
			}
		}
	}
	&--dark {
		.title {
			font-weight: bold;
			&__text {
				color: $light;
			}
		}
		.image {
			&__discript {
				color: $light;
			}
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: rem(16px);
	margin-bottom: 3rem;
	&__link {
		margin-right: rem(5px);
		margin-left: rem(5px);
		display: inline-flex;
		text-decoration: none;
		height: 27px;
		justify-content: center;
		align-items: center;
		color: $black;
		&:hover {
			opacity: 0.7;
		}
		&--number {
			background-color: $light;
			border-radius: 30px;
			min-width: 27px;
			padding-left: 5px;
			padding-right: 5px;
		}
		svg {
			width: 24px;
			height: 24px;
			fill: $accent;
		}
		&--prev {
			margin-left: 15px;
			margin-right: 15px;
		}
		&--next {
			margin-left: 15px;
			margin-right: 15px;
			svg {
				transform: rotate(180deg);
			}
		}
		&--now {
			background-color: $red;
			font-weight: 500;
			color: $light;
		}
		&--start,
		&--end {
			@include r(1200) {
				display: none;
			}
		}
		&--static {
			pointer-events: none;
			svg {
				fill: $black !important;
			}
		}
	}
}

.result-toolbar {
	display: flex;
	margin-bottom: rem(50px);
	align-items: center;
	@include r(1200) {
		display: block;
	}
	&__text {
		flex-grow: 1;
		min-width: 0px;
		@include r(1200) {
			margin-bottom: 20px;
		}
	}
	&__btn {
		background-color: $light;
		border-radius: 50px;
		padding-left: 20px;
		padding-right: 20px;
		border: none;
		height: 35px;
		font-family: $font;
		font-size: 14px;
		color: #58595b;
		cursor: pointer;
		transition: 0.3s all;
		margin-left: 20px;
		&--active {
			background-color: $red;
			color: $light;
			pointer-events: none;
		}
		@include r(1200) {
			margin-left: 0px;
			margin-bottom: 10px;
			margin-right: 20px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
}

.result {
	display: block;
	padding: 30px;
	display: block;
	background-color: $light;
	text-decoration: none;
	margin-bottom: rem(20px);
	&:hover {
		opacity: 0.7;
	}
	&__title {
		color: $black;
		font-weight: 500;
		font-size: rem(24px);
		margin-bottom: rem(20px);
		@include r(1200) {
			font-size: rem(20px);
		}
	}
	&__text {
		font-weight: 300;
		font-size: rem(16px);
		line-height: rem(24px);
		color: #58595b;
	}
}

.page-nav {
	margin-bottom: rem(65px);
	background: #f7f9fa;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-top: rem(29px);
	padding-bottom: rem(10px);
	padding-left: rem(35px);
	padding-right: rem(35px);
	&__link {
		text-decoration: none;
		color: $black;
		display: inline-block;
		font-weight: normal;
		margin-bottom: rem(19px);
		margin-right: rem(38px);
		scroll-behavior: smooth;
		&:hover {
			opacity: 0.7;
		}
		&--accent {
			font-weight: 500;
			color: $red;
		}
	}
}

.accordeon {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: rem(50px);
	@include r(1200) {
		flex-direction: column;
	}
	&__block {
		background: #f7f9fa;
		border-radius: 5px;
		padding: 50px 30px;
		width: 100%;
		display: flex;
		align-items: center;
	}
	&__icon {
		align-self: center;
		display: block;
		width: 14px;
		height: 14px;
		flex-shrink: 0;
		margin-left: 3px;
		margin-right: 3px;
		@include r(1200) {
			margin-top: 5px;
			margin-bottom: 5px;
			transform: rotate(90deg);
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.accordeon {
			&__block {
				background-color: $black;
				border: 1px solid $light;
			}
		}
	}
}

.adress-line {
	padding: 60px 115px;
	width: 100%;
	margin-bottom: 3.125rem;
	background-color: #f7f9fa;
	border-radius: 5px;
	text-align: center;
	@include r(750) {
		padding: 20px 20px;
	}
	&__title {
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 20px;
	}
	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		@include r(1200) {
			display: block;
		}
	}
	&__item {
		display: flex;
		align-items: center;
		color: $black;
		margin-right: 35px;
		margin-left: 35px;
		margin-bottom: 10px;
		text-decoration: none;
		&--6 {
			margin-left: 0;
			margin-right: 0;
			width: calc(50% - 10px);
			@include r(1200) {
				width: 100%;
			}
		}
		@include r(1200) {
			margin-left: 0px;
			margin-right: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__icon {
		display: block;
		width: 21px;
		height: 21px;
		margin-right: 10px;
	}
}

.body {
	&--light {
	}
	&--dark {
		.adress-line {
			background-color: $black;
			border: 1px solid $light;
		}
	}
}

.video-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include r(750) {
		display: block;
	}
	&__content {
		width: calc(50% - 10px);
		@include r(750) {
			width: 100%;
			margin-bottom: rem(30px);
		}
	}
	&__video {
		display: block;
		width: calc(50% - 10px);
		height: 360px;
		@include r(750) {
			width: 100%;
		}
	}
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 3.125rem;
	&__item {
		width: calc(50% - 10px);
		height: 355px;
		display: block;
		background-size: cover;
		background-position: center;
		position: relative;
		color: $light;
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 20px;
		@include r(1200) {
			width: calc(50% - 10px);
		}
		@include r(750) {
			width: 100%;
		}
		&:hover {
			opacity: 0.7;
			.gallery__text {
				max-height: 1000px;
			}
		}
		&--4 {
			width: calc(100% / 12 * 4 - 16px);
			@include r(1200) {
				width: calc(50% - 10px);
			}
			@include r(750) {
				width: 100%;
			}
		}
		&--8 {
			width: calc(100% / 12 * 8 - 10px);
			@include r(1200) {
				width: calc(50% - 10px);
			}
			@include r(750) {
				width: 100%;
			}
		}
	}
	&__content {
		display: flex;
		position: absolute;
		opacity: 0px;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		flex-direction: column;
		justify-content: flex-end;
		padding: 1.625rem;
		background: linear-gradient(180deg, rgba(23, 61, 69, 0) 25.58%, rgba(23, 61, 69, 0.72) 61.78%);
	}
	&__title {
		font-weight: 500;
		font-size: 1.125rem;
		line-height: 1.3125rem;
		margin-bottom: 0.8125rem;
	}
	&__text {
		line-clamp: 3;
		overflow: hidden;
		transition: 0.3s all;
		max-height: 0px;
		@include r(1200) {
			max-height: 1000px;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.gallery {
			&__item {
				background-image: none;
				background-color: $black;
				border: 1px solid $light;
			}
		}
	}
}

.contest-block {
	background-color: $red;
	color: $light;
	display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 50px;
	margin-bottom: 1.25rem;
	background-size: 100% auto;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	@include r(1200) {
		padding: 25px;
	}
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		padding: 40px 50px 30px 30px;
		img {
			display: block;
			width: 268px;
			height: 349px;
		}
		@include r(1200) {
			display: none;
		}
	}
	&__content {
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		padding: 30px;
		@include r(1200) {
			padding: 15px;
			width: 100%;
		}
	}
	&__discript {
		margin-bottom: 10px;
		font-size: 24px;
		@include r(1200) {
			font-size: 18px;
		}
	}
	&__title {
		font-weight: 500;
		font-size: 48px;
		margin-bottom: 40px;
		line-height: 1.1;
		@include r(1200) {
			font-size: 22px;
		}
	}
	&__text {
		margin-bottom: 30px;
	}
	&__btn {
		padding-left: 46px;
		padding-right: 46px;
	}
}

.download-block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: $light;
	text-decoration: none;
	min-height: 274px;
	width: calc(50% - 10px);
	border-radius: 5px;
	overflow: hidden;
	background-size: cover;
	padding: 55px;
	margin-bottom: 20px;
	@include r(1200) {
		width: 100%;
		padding: 35px 20px;
		min-height: 50px;
	}
	&:hover {
		opacity: 0.7;
	}
	&__title {
		font-weight: 500;
		font-size: 24px;
		@include r(1200) {
			margin-bottom: 20px;
		}
		&--small {
			font-size: 14px;
		}
	}
	&__discript {
		font-weight: 500;
		text-decoration: underline;
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.table-flex {
	padding: 46px 59px;
	border-radius: 5px;
	@include r(1200) {
		padding: 0px 20px;
	}
	&--light {
		background-color: $light;
	}
	&__line {
		border-bottom: 1px solid #d1d9dd;
		display: flex;
		@include r(1200) {
			display: block;
		}
		&:last-child {
			border: none;
		}
		&--head {
		}
	}
	&__row {
		border-right: 1px solid #d1d9dd;
		padding: 35px 48px 35px 60px;
		@include r(1200) {
			width: 100%;
			border: none;
			padding-left: 0px;
			padding-right: 0px;
		}
		&:first-child {
			padding: 35px 48px 35px 0px;
			@include r(1200) {
				padding-left: 0px;
				padding-right: 0px;
			}
		}
		&:last-child {
			border: none;
		}
		&--3 {
			width: calc(100% / 10 * 3);
		}
		&--7 {
			width: calc(100% / 10 * 7);
		}
	}
}

.link-grid {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(50% - 10px);
	margin-bottom: rem(20px);
	overflow: hidden;
	border-radius: rem(10px);
	padding: rem(45px);
	min-height: rem(340px);
	background-size: container;
	background-position: right;
	text-decoration: none;
	color: inherit;
	background-color: #f7f9fa;
	background-repeat: no-repeat;
	@include r(1200) {
		width: 100%;
	}
	@include r(580) {
		padding: rem(20px) rem(30px);
		min-height: 0;
		background-image: none !important;
	}
	&:hover {
		opacity: 0.7;
	}
	&__title {
		margin-bottom: rem(25px);
		font-size: rem(24px);
		font-weight: 500;
		max-width: 75%;
		@include r(580) {
			font-size: rem(20px);
			max-width: 100%;
			margin-bottom: rem(10px);
		}
	}
	&__main {
		flex-grow: 1;
		max-width: 75%;
		margin-bottom: rem(25px);
		@include r(580) {
			max-width: 100%;
			margin-bottom: rem(10px);
		}
	}
	&__accent {
		color: $red;
		font-size: rem(24px);
		font-weight: 500;
		max-width: 75%;
		@include r(580) {
			max-width: 100%;
			font-size: rem(20px);
		}
	}
}

.item-progress {
	width: calc(50% - 10px);
	border: 1px solid #d1d9dd;
	border-radius: rem(10px);
	padding: rem(50px);
	@include r(1200) {
		width: 100%;
		margin-bottom: rem(10px);
	}
	&__title {
		font-weight: 300;
		color: $gray;
		margin-bottom: rem(50px);
	}
	&__block {
		margin-bottom: rem(40px);
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&__price {
		font-weight: 500;
		font-size: rem(24px);
		margin-bottom: rem(10px);
	}
	&__discript {
		color: $red;
		font-weight: 300;
		font-size: rem(14px);
		margin-bottom: rem(10px);
	}
	&__line {
		width: 100%;
		display: block;
		position: relative;
		background-color: #d1d9dd;
	}
	&__progress {
		height: 2px;
		background-color: $red;
		display: block;
	}
}

.icon-fact {
	display: flex;
	width: calc(50% - 10px);
	margin-bottom: rem(50px);
	@include r(1200) {
		width: 100%;
	}
	@include r(580) {
		display: block;
	}
	&__icon {
		width: rem(50px);
		height: rem(50px);
		display: block;
		flex-shrink: 0;
		margin-right: rem(30px);
		margin-bottom: rem(30px);
	}
	&__title {
		font-weight: 500;
		font-size: rem(24px);
		margin-bottom: rem(10px);
		sup {
			color: $red;
			vertical-align: super;
			font-size: rem(14px);
			font-weight: 400;
		}
	}
}

.text-discription {
	margin-bottom: rem(54px);
	&__discription {
		font-weight: 300;
		color: #58595b;
	}
	&__text {
		font-weight: 500;
		font-size: rem(24px);
		&--red {
			color: $red;
		}
	}
}

.item-prof {
	width: calc(25% - 10px);
	padding: 30px;
	margin-bottom: 15px;
	@include r(1200) {
		width: calc(50% - 10px);
	}
	@include r(600) {
		width: 100%;
	}
	&--light {
		background-color: $light;
	}
	&--clear {
		height: 0;
		padding: 0;
		visibility: hidden;
		margin-bottom: 0;
	}
	&__icon {
		display: block;
		width: 20px;
		height: 20px;
		margin-bottom: 12px;
	}
}

.body {
	&--light {
	}
	&--dark {
	}
}

.link-line {
	border-radius: 5px;
	padding: 33px 52px 33px 37px;
	display: flex;
	width: 100%;
	margin-bottom: 40px;
	align-items: center;
	@include r(1200) {
		flex-direction: column;
		text-align: center;
		padding: 45px 30px;
	}
	&--dark {
		background-color: #ecf0f2;
	}
	&__text {
		padding-right: 45px;
		@include r(1200) {
			padding-right: 0;
			margin-bottom: 15px;
		}
		a {
			font-weight: 500;
			color: $red;
		}
	}
	&__btn {
		flex-shrink: 0;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.body {
	&--light {
	}
	&--dark {
		.link-line {
			background-color: $black;
			color: $light;
			border: 2px solid $light;
		}
	}
}

.card-download {
	background-image: url("../img/cd-ill-right.svg");
	background-repeat: no-repeat;
	background-position: right top;
	margin-bottom: 30px;
	&:nth-child(2n) {
		background-image: url("../img/cd-ill-left.svg");
		background-position: left top;
		.card-download__main {
			background-position: right 17% center;
			padding-left: calc(100% / 12 * 2 - 10px);
			@include r(1200) {
				padding-left: 35px;
			}
		}
	}
	&--grey {
		background-color: #f7f9fa;
		border-radius: 5px;
	}
	&__main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 450px;
		padding-left: calc(100% / 12 * 7 - 10px);
		padding-right: 55px;
		background-repeat: no-repeat;
		background-position: left 17% center;
		@include r(1200) {
			display: block;
			padding-left: 35px;
			padding-right: 35px;
			padding-top: 50px;
			padding-bottom: 50px;
			min-height: 0;
			background-image: none !important;
		}
		@include r(600) {
			text-align: center;
			br {
				display: none;
			}
		}
	}
	&__content {
		&--logo {
			background-size: 139px 145px;
			padding-left: 169px;
			background-position: left center;
			background-repeat: no-repeat;
			@include r(1200) {
				padding-left: 0;
				background-image: none !important;
			}
		}
	}
	&__info {
		margin-bottom: 5px;
	}
	&__title {
		font-weight: 500;
		font-size: 24px;
		margin-bottom: 30px;
	}
	&__toolbar {
		display: flex;
		@include r(600) {
			align-items: center;
			flex-direction: column;
		}
	}
	&__btn {
		padding-left: 38px;
		padding-right: 38px;
		margin-right: 20px;
		&:last-of-type {
			margin-right: 0px;
		}
		@include r(600) {
			margin-right: 0px;
		}
	}
	&__btn-app {
		display: inline-block;
		margin-right: 20px;
		height: 55px;
		transition: 0.3s all;
		@include r(600) {
			display: block;
			margin-right: 0px;
			margin-bottom: 20px;
		}
		&:last-of-type {
			margin-right: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
		img {
			display: block;
			height: 100%;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.card-download {
			background-color: $black;
			color: $light;
			background-image: none !important;
			border: 2px solid $light;
			&__main {
				background-image: none !important;
			}
		}
	}
}

.accent-block {
	display: flex;
	align-items: center;
	background-color: #ecf0f2;
	padding: 42px 60px;
	justify-content: space-between;
	margin-bottom: 40px;
	border-radius: 5px;
	@include r(1200) {
		display: block;
		padding: 40px;
		padding: 30px;
	}
	&__left {
		width: 30%;
		@include r(1200) {
			width: 100%;
			margin-bottom: 20px;
		}
		h4 {
			font-size: 18px;
			font-weight: 500;
			a {
				color: $red;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&__right {
		font-weight: 300;
		width: 60%;
		@include r(1200) {
			width: 100%;
		}
	}
}

.body {
	&--light {
	}
	&--dark {
		.accent-block {
			background-color: $black;
			color: $light;
			border: 2px solid $light;
		}
	}
}

.block-map {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 626px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@include r(1200) {
		height: auto;
	}
	&__wrap {
		display: flex;
		padding-left: 18%;
		@include r(1200) {
			padding-left: 0;
			justify-content: center;
		}
		@include r(680) {
			flex-direction: column;
			align-items: center;
			text-align: center;
		}
	}
	&__logo {
		display: block;
		margin-right: 15px;
	}
	&__content {
		// margin-bottom: 25px;
	}
	&__h2 {
		font-size: 48px;
		color: #562212;
		font-weight: 700;
		@include r(680) {
			font-size: 36px;
		}
	}
	&__discription {
		font-weight: 500;
		font-size: 24px;
		color: #c39367;
		@include r(680) {
			font-size: 18px;
		}
		&:last-of-type {
			margin-bottom: 25px;
		}
		b {
			color: #562212;
		}
	}
	&__btn {
		display: inline-flex;
		padding-left: 30px;
		padding-right: 30px;
		// @include r(680) {
		// 	margin-left: auto;
		// 	margin-right: auto;
		// }
	}
}
