.footer {
	color: $light;
	&__top {
		background-color: #58595B;
		padding-top: rem(86px);
		@include r(1200) {
			padding-top: rem(45px);
		}
		@include r(750) {

		}
	}
	&__bottom {
		background-color: #434549;
		padding-top: rem(40px);
		padding-bottom: rem(40px);
	}
	&__column {
		&--1 {
			width: calc(100% / 12 * 8);
			@include r(1200) {
				width: 100%;
			}
			@include r(750) {

			}
		}
		&--2 {
			width: calc(100% / 12 * 3);
			@include r(1200) {
				width: 100%;
				order: -1;
				margin-bottom: rem(30px);
			}
			@include r(750) {

			}
		}
	}
	&__container {
		&-top {
			
		}
		&-bottom {
			display: flex;
			align-items: center;
			@include r(1200) {
				display: block;
			}
			@include r(750) {

			}
		}
	}
	&__top-columns {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			flex-direction: column;
		}
		@include r(750) {

		}
	}
	&__links-column {
		@include r(1000) {
			display: none;
		}
		&--1 {
			width: calc(100% / 3);
		}
		&--2 {
			flex-grow: 1;
		}
	}
	&__nav-flex {
		display: flex;
	}
	&__nav-column {
		display: flex;
		border-bottom: 1px solid #828282;
		padding-bottom: rem(50px);
		@include r(1000) {
			display: none;
		}
	}
	&__nav {
		&--50 {
			width: 50%;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		padding-top: rem(26px);
		padding-bottom: rem(56px);
	}
	&__logo {
		display: block;
		margin-right: rem(40px);
		img {
			display: block;
			width: 180px;
		}
		@include r(1200) {

		}
		@include r(750) {
			display: none;
		}
	}
	&__title {
		font-weight: 500;
		font-size: rem(18px);
		position: relative;
		padding-bottom: rem(14px);
		margin-bottom: rem(30px);
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			height: 2px;
			background-color: $red;
		}
		&--big {
			&:after {
				width: 81px;
			}
		}
		&--small {
			&:after {
				width: 33px;
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		color: inherit;
		margin-bottom: 1rem;
		&:last-child {
			margin-bottom: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__discript {
		a {
			color: $red;
			text-decoration: none;
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__socials {
		display: flex;
		align-items: center;
		margin-bottom: rem(59px);
		@include r(1200) {
			margin-bottom: rem(45px);
		}
		@include r(750) {

		}
	}
	&__social-link {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #828282;
		border-radius: 50px;
		width: 34px;
		height: 34px;
		color: $light;
		text-decoration: none;
		margin-right: rem(16px);
		svg {
			display: block;
			width: rem(20px);
			height: rem(20px);
			fill: $light;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__search {
		margin-bottom: rem(20px);
		.search__input {
			height: rem(50px);
		}
	}
	&__subscribe-title {
		margin-right: rem(35px);
		font-weight: 500;
		font-size: rem(22px);
		flex-shrink: 0;
		@include r(1200) {
			margin-bottom: rem(20px);
			margin-right: 0px;
		}
		@include r(650) {
			// text-align: center;
		}
	}
	&__btn-profile {
		width: 100%;
		max-width: 400px;
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.subscribe {
	@include r(650) {
		// text-align: center;
	}
	&__field {
		height: 60px;
		background: #FBFBFB;
		border: 1px solid #FBFBFB;
		box-sizing: border-box;
		border-radius: 5px;
		width: 280px;
		padding-left: rem(14px);
		padding-right: rem(14px);
		font-family: $font;
		display: inline-block;
		margin-right: rem(20px);
		font-size: rem(16px);
		&:placeholder {
			font-family: $font;
			color: #58595B;
		}
		@include r(650) {
			margin-bottom: rem(20px);
			height: rem(50px);
		}
	}
	&__btn {
		padding-left: rem(45px);
		padding-right: rem(45px);
		@include r(650) {
			margin-bottom: rem(20px);
			height: rem(50px);
			// margin-left: auto;
			// margin-right: auto;
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}