.radio, .checkbox {
	display: flex;
	align-items: center;
	&__icon {
		border: 2px solid #F2F2F2;
		box-sizing: border-box;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 18px;
		width: 18px;
		margin-right: rem(15px);
		&-circle {
			width: 8px;
			height: 8px;
			background-color: $accent;
			border-radius: 10px;
			display: block;
			opacity: 0;
		}
	}
	&__field {
		display: block;
		height: 10px;
		width: 10px;
		display: none;
		&:checked {
			&+.radio__icon {
				.radio__icon-circle {
					opacity: 1;
				}
			}
			&+.checkbox__icon {
				.checkbox__icon-circle {
					opacity: 1;
				}
			}
		}

	}
	&__text {
		a {
			color: $accent;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.input {
	margin-bottom: rem(28px);
	display: block;
	width: calc(50% - 24px);
	&--valid {
		.input {
			&__field {
				border-color: $valid;
				&:focus {
					border-color: $valid;
				}
			}
		}
	}
	&--error {
		.input {
			&__field {
				border-color: $error;
				&:focus {
					border-color: $error;
				}
			}
			&__message {
				color: $error;
			}
		}
	}
	&__title {
		font-weight: 300;
		font-size: rem(16px);
		line-height: rem(35px);
	}
	&__field {
		border: 1px solid #D1D9DD;
		box-sizing: border-box;
		border-radius: 5px;
		display: block;
		width: 100%;
		height: 50px;
		font-family: $font;
		outline-color: $accent;
		margin-bottom: rem(5px);
		font-size: rem(18px);
		padding-left: rem(10px);
		padding-right: rem(10px);
		&:focus {
			border-color: $accent;
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.file {
	margin-bottom: rem(28px);
	display: block;
	width: calc(50% - 24px);
	&__title {
		font-weight: 300;
		font-size: rem(16px);
		line-height: rem(35px);
	}
	&__wrapper {
		border: 1px solid #D1D9DD;
		box-sizing: border-box;
		border-radius: 5px;
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		position: relative;
		margin-bottom: rem(5px);
	}
	&__text {
		flex-grow: 1;
		min-width: 0px;
		font-size: rem(18px);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&__field {
		display: none;
	}
	&__message {
		
	}
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #D1D9DD;
		flex-shrink: 0;
		width: 56px;
		height: 100%;
		svg {
			height: rem(20px);
			width: rem(20px);
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}