svg, a {
	transition: 0.3s all;
}

svg, img {
	display: block;
}

.icon-svg {
	height: 1rem;
	width: 1rem;
}

.body {
	font-family: $font;
	font-size: 16px;
	overflow-x: hidden;
	line-height: 1.3;
	&--light {
		background-color: $light;
		color: $black
	}
	&--dark {
		background-color: $black;
		color: $light;
	}
	@include r(1100) {

	}
	@include r(580) {

	}
}

.demo {
	padding-top: rem(30px);
	padding-bottom: rem(30px);
	&__container {
		display: flex;
		@include r(1100) {
			display: block;
		}
	}
	&__column {
		width: 50%;
		@include r(1100) {
			width: 100%;
		}
	}
	&__link {
		color: $black;
		display: block;
		text-decoration: none;
		font-size: rem(22px);
		margin-bottom: rem(5px);
		&:hover {
			opacity: 0.7;
		}
	}
}

.body {
	&--light {
		.demo {
			&__container {
				background-color: $light;
				color: $black;
				@include r(1100) {

				}
			}
		}
	}
	&--dark {
		.demo {
			background-color: $black;
			color: $light;
			&__container {
				@include r(1100) {

				}
			}
		}
	}
}