html {
	font-size: 16px;
	font-weight: 300;
	font-family: $font;
	line-height: 1.5rem;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__content {
		// padding-bottom: rem(40px);
		&--none {
			padding-top: 0px;
			padding-bottom: 0px;
			
		}
	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.content {
	flex-grow: 1;
	min-height: 0px;
	min-width: 0px;
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	@include r(1100) {

	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}

.section {
	padding-top: rem(60px);
	padding-bottom: rem(60px);
	@include r(1200) {
		padding-top: rem(40px);
		padding-bottom: rem(40px);
		// .container :last-child {
		// 	margin-bottom: 0;
		// }
		// &:last-child {
		// 	background-color: red !important;
		// }
	}
	&:last-child {
		padding-bottom: rem(150px);
		@include r(1200) {
			padding-bottom: rem(100px);
		}
	}
	&--dark {
		background-color: #F7F9FA;
		padding-top: rem(85px);
		padding-bottom: rem(85px);
		@include r(1200) {
			padding-top: rem(60px);
			padding-bottom: rem(60px);
		}
	}
}

.body {
	&--light {

	}
	&--dark {
		.section {
			border-bottom: 1px solid $light;
			background-color: $black;
		}
	}
}

.mobile-hide {
	@include r(1200) {
		display: none;
	}
	@include r(750) {

	}
}

.body {
	&--light {
		
	}
	&--dark {
		
	}
}