html {
	font-size: 16px;
	font-weight: 300;
	font-family: $font;
	line-height: 1.5rem;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__content {
		padding-top: rem(58px);
		padding-bottom: rem(100px);
	}
}

.content {
	flex-grow: 1;
	min-height: 0px;
	min-width: 0px;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	@include r(1100) {

	}
}

.section {
	&:last-child {
		margin-bottom: 0px;
	}
	&--padding {
		padding-top: rem(60px);
		padding-bottom: rem(60px);
	}
	&--dark {
		background-color: #F7F9FA;
		padding-top: rem(95px);
		padding-bottom: rem(95px);
		margin-bottom: rem(95px);
	}
}