.text {
	h1, h2, h3, h4, h5, h6 {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	h3 {
		// margin-bottom: rem(60px);
		
		font-weight: 500;
		font-size: rem(36px);
		line-height: rem(42px);
	}
	h4 {
		font-weight: 500;
		font-size: rem(24px);
	}
	h5 {
		font-weight: 500;
		font-size: rem(18px);
	}
	h6 {
		font-weight: 400;
		padding-bottom: 1em;
		padding-top: 1em;
	}
	p {
		margin-bottom: 1.5em;
	}
	strong, b {
		font-weight: bold;
		color: #C39367;
	}
	ul {
		margin-bottom: 1.5em;
		li {
			position: relative;
			padding-left: rem(32px);
			margin-bottom: 1em;
			&:before {
				width: 17px;
				height: 1px;
				background-color: $accent;
				display: block;
				position: absolute;
				left: 0px;
				content: "";
				top: 0.5em;
			}
		}
	}
	ol {
		list-style-type: decimal;
		color: $red;
		list-style-position: inside;
		li {
			margin-bottom: 1em;
			font-weight: bold;
		}
		span {
			font-weight: 300;
			color: $black;
			padding-left: 12px;
		}
	}
	a {
		color: $black;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	img {
		display: block;
		margin-bottom: 1rem;
	}
	iframe {
		display: block;
		width: 100%;
		margin-bottom: 2rem;
	}
	.icon-svg {
		display: block;
		height: 36px;
		width: 36px;
		margin-bottom: 1rem;
	}
	.btn {
		padding-left: rem(20px);
		padding-right: rem(20px);
		margin-bottom: 1.5rem;
	}
}

.columns {
	display: flex;
	flex-wrap: wrap;
	padding-right: 20px;
	width: 100%;
	margin-bottom: rem(50px);
	&__col {
		padding-right: 20px;
		&--12 {
			width: 100%;
		}
		&--6 {
			width: 50%;
		}
		&--4 {
			width: calc(100% / 3);
		}
		&--3 {
			width: 25%;
		}

	}
}

.table {
	margin-bottom: rem(50px);
	&__discript {
		font-size: 14px;
	}
	table {
		width: 100%;
		text-align: left;
		border-collapse: collapse;
		margin-bottom: 1rem;
	}
	td {
		background-color: $light
	}
	th {
		background-color: $red;
		color: $light;
		text-align: center;
		vertical-align: middle;
		&:first-child {
			min-width: rem(100px);
		}
	}
	th, td {
		padding: rem(26px) rem(20px);
		border: 1px solid #D1D9DD;
	}
	strong, b {
		font-weight: bold;
	}
}